<%
  count       = params['count'] ? params['count'].to_i : 3
  html        = ''
  page        = params['page'] ? params['page'].to_i : 1
  inline      = count * page - count
  thumbnails  = thumbnails ? thumbnails : false
  prettyphoto = prettyphoto ? prettyphoto : false

  if attachments.present?
    for attachment in attachments
      html += '<li>'

      if attachment.file.present?
        link_url = attachment_url( attachment, 'large' )
        view_link_text = t( 'common.links.view-image' )

        link_attrs = {
          :target => '_blank',
          :title => attachment.title,
          'data-attachment-id' => attachment.id,
          'data-contribution-id' => contribution.id
        }

        if ( prettyphoto && (attachment.image? || attachment.video? || attachment.audio?) )
          link_attrs.merge!({
            'data-description' =>
              '<a href="#inline-' + inline.to_s + '">' + t('common.additional-information') + '</a>' +
              ' <a href="' + attachment.file.url + '" class="download" title="' + t('common.download-item') + '" target="_blank"></a>',
            :rel => 'prettyPhoto[gallery]'
          })
        end

        if ( prettyphoto && attachment.image? )
          link_attrs.merge!({
            :class => 'image'
          })
        end

        if ( prettyphoto && attachment.video? )
          view_link_text = t( 'common.links.play-video' )
          link_url = contribution_attachment_url( contribution, attachment ) + '?layout=0&iframe=true&width=100%&height=100%'
          link_attrs.merge!({
            :class => 'video'
          })
        end

        if ( prettyphoto && attachment.audio? )
          view_link_text = t( 'common.links.play-audio' )
          link_url = contribution_attachment_url( contribution, attachment ) + '?layout=0&iframe=true&width=100%&height=100%'
          link_attrs.merge!({
            :class => 'audio'
          })
        end

        if ( attachment.pdf? )
          view_link_text = t( 'common.links.view-pdf' )
          link_attrs.merge!({
            :class => 'pdf'
          })
        end

        if !thumbnails
          view_link_text = '<p class="view-item">' + view_link_text + '</p>'
          view_link_text = attachment_preview( attachment, size ) + view_link_text.html_safe
          html += link_to( view_link_text, link_url, link_attrs )
        else
          html += link_to( attachment_preview( attachment, size ), link_url, link_attrs )
        end

      else
        html += '<img src="/images/style/icons/mimetypes/unknown.png" alt="' + t('media_types.unknown') + '" />'
      end # if attachment.file.present?

      if prettyphoto
        html += '<dl class="lightbox-metadata" id="inline-' + inline.to_s + '">'

        html += render :partial => '/metadata/display',
          :locals => {
            :show_title => true,
            :contribution => contribution,
            :metadata => attachment.metadata,
            :field_options => {
              :name => [
                'cover_image',
                'page_number',
                'object_side',
                'creator_given_name',
                'creator_family_name',
                'attachment_description',
                'lang',
                'lang_other',
                'content',
                'subject',
                'date',
                'date_from',
                'date_to',
                'location_placename',
                'location_map',
                'location_zoom',
                'keywords',
                'theatres',
                'forces',
                'source',
                'format',
                'page_total',
                'notes',
                'full_type',
                'license',
                'creator'
              ],
              :name_order => true
            }
          }

        html += '</dl>'

      end # if prettyphoto

      inline += 1
      html += '</li>'

    end # for attachment in attachments

  end # if attachments.present?
-%>
<%= html.html_safe -%>
