<% @title = t('views.contributions.story.complete.heading') %>
<section class="top">

  <h2><%= @title %></h2>
  
	<p><%= t('views.contributions.story.complete.p1') %></p>
	
	<div class="link-buttons">
	  <%= link_to t('common.links.my_stories'), contributor_dashboard_url %>
	</div>
	
	<%= render :partial => 'progress', :locals => { :step => 3 } %>

</section>