<%- @javascripts[:search] = true -%>
<%- @title = t('views.contributions.search.heading') -%>
  
  <div id="facets">
	
	<b>Filter your search:</b>
	
	<ol>
	  
	  <li>
		By object type
		<ul>
		  <li>postcard</li>
		  <li>letter</li>
		  <li>diary</li>
		  <li>none</li>
		</ul>
	  </li>
	  <li>By theme</li>
	  <li>By date</li>
	  <li>By location</li>
	  <li>By language</li>
	  
	</ol>
	
  </div>
  
  <div id="results">
	
	<% if @contributions.size == 0 -%>
	  
	  <p><%= t('views.contributions.search.no_matches') %></p>
	  
	<% else -%>
	  
	  <%= render :partial => 'search-results', :locals => { :contributions => @contributions, :query => @query } %>
	  
	<% end -%>
	
  </div>