<%
  @javascripts[:autocomplete] = true
  @javascripts[:masonry] = true
  @javascripts[:search] = true
  @title = t('views.contributions.search.heading')
%>
<div class="section top">
  
  <h2><%= @title %></h2>
  
  <div id="results">
	
	<%= render :partial => '/shared/search_form', :locals => { :query => @query } %>
	
	<% if @contributions.size == 0 -%>
	  <p><%= t('views.contributions.search.no_matches') %></p>	  
	<% else -%>	  
	  <%=
		render :partial => 'search-results',
		:locals => {
		  :contributions => @contributions,
		  :query => @query,
		  :term => @term,
		  :count => 20
		}
	  %>	  
	<% end -%>
	
  </div>
  
</div>
