<%- @javascripts[:search] = true -%>
<%- @title = t('views.contributions.search.heading') -%>


<section class="border-top">
  
  <div id="results">
	
	<%= render :partial => '/shared/search_form', :locals => { :query => @query } %>
	
	<% if @contributions.size == 0 -%>
	  
	  <p><%= t('views.contributions.search.no_matches') %></p>
	  
	<% else -%>
	  
	  <%= render :partial => 'search-results', :locals => { :contributions => @contributions, :query => @query, :limit => 20 } %>
	  
	<% end -%>
	
  </div>
  
</section>