<% @javascripts[:gmap_display] = true %>
<% @title = t('views.contributions.show.title') %>


<div id="story-images">
  
  <ul id="story-images-carousel">
    <% @contribution.attachments.each do |attachment| %>
      <li><a href="/<%= I18n.locale %>/"><img src="<%= attachment.file %>" alt="<%= attachment.title %>" /></a></li>
    <% end %>
  </ul>
</div>


<dl id="story-metadata">
  
  
  
  <%= render :partial => '/metadata/display', :locals => { :contribution => @contribution, :metadata => @contribution.metadata, :field_options => { :name => [ 'keywords', 'description', 'date_from', 'date_to' ], :name_order => true } } %>
  
  <!--<% %>#@contribution.metadata.fields.each do |field| %>-->
    
    <!-- <dt><% %>#field[0] %>:</dt> -->
    <!-- <dd><% %>#field[1] %></dd> -->
    
  <!--<% %>#end %> -->

</dl>


<div id="story-translate">
  
  <b>Translate details:</b><br/>
  
  <select>    
    <option></option>    
  </select>
  
</div>


<div id="story-map">
  
</div>
