

//  spread color inset;
 
/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/

@mixin boxShadow($r1, $r2:false) {

	@if not $r2 {
		-moz-box-shadow:		$r1;
		-webkit-box-shadow:		$r1;
		box-shadow:				$r1;
	}@else {
		-moz-box-shadow:		$r1, $r2;
		-webkit-box-shadow:		$r1, $r2;
		box-shadow:				$r1, $r2;
	}
}


@mixin borderRadius($r1, $r2, $r3, $r4) {
	-webkit-appearance:		none;
	-moz-border-radius:		$r1, $r2, $r3, $r4;
	-webkit-border-radius:	$r1, $r2, $r3, $r4;
	border-radius:			$r1, $r2, $r3, $r4;
}

@mixin transition($color, $speed, $effect) {
	-webkit-transition:	$color, $speed, $effect;
	-moz-transition:	$color, $speed, $effect;
	-ms-transition:		$color, $speed, $effect;
	-o-transition:		$color, $speed, $effect;
	transition:			$color, $speed, $effect;
}

