.buildpath
.bundle
.DS_Store
.grunt/
.komodoproject
.project
.rvmrc
.ruby-version
.ruby-gemset
.sass-cache
_SpecRunner.html
Gemfile.lock
Gruntfile.js
package.json
config/database.yml
config/federated_search.yml
config/flickr.yml
config/google_api_key.p12
config/s3.yml
config/sass.yml
config/sphinx.yml
config/*.sphinx.conf
config/sunspot.yml
config/environments/development.rb
config/environments/test.rb
config/initializers/paperclip.rb
config/initializers/search_suggestion.rb
config/initializers/devise.rb
config/initializers/dropbox.rb
config/initializers/action_mailer.rb
config/initializers/secret_token.rb
config/initializers/thinking_sphinx.rb
config/initializers/europeana.rb
config/initializers/search_engine.rb
config/initializers/recaptcha.rb
config/initializers/iframe_parent_domains.rb
db/sphinx/
db/schema.rb
log/
node_modules/
private/
public/assets/
public/attachments/
public/cache/javascripts/*
public/cache/stylesheets/*
public/images/users/
public/images/collection_days
public/javascripts/translations.js
public/sitemap*.xml.gz
public/sitemaps/
/solr/
tmp/
vendor/bundle/
vendor/cache/
