*.komodoproject
.buildpath
.DS_Store
.project
.rvmrc
.ruby-version
.ruby-gemset
.sass-cache
private
log
solr/data
solr/pids
tmp
Gemfile.lock
config/database.yml
config/federated_search.yml
config/google_api_key.p12
config/sass.yml
config/sphinx.yml
config/*.sphinx.conf
config/sunspot.yml
config/environments/development.rb
config/environments/production.rb
config/environments/test.rb
config/initializers/search_suggestion.rb
config/initializers/dropbox.rb
config/initializers/action_mailer.rb
config/initializers/secret_token.rb
config/initializers/thinking_sphinx.rb
config/initializers/europeana.rb
config/initializers/search_engine.rb
db/sphinx
db/schema.rb
public/attachments
public/cache/javascripts/*
public/cache/stylesheets/*
public/images/users
public/javascripts/translations.js
public/sitemap*.xml.gz
vendor/cache
