<%

	@javascripts[:images_loaded] = true
	@javascripts[:carousel] = true
	@javascripts[:lightbox] = true
	@javascripts[:truncate] = true
	@javascripts[:translate] = true
	@javascripts[:edm_object_page] = true
	@javascripts[:shares] = true

	@stylesheets[:item] = true


	if record['aggregations'].first['edmProvider'].blank? ||
		( !record['aggregations'].first['edmProvider'].values.include?("Europeana 1914 - 1918") )

	# variable setup

		aggregation     = record['aggregations'] ? record['aggregations'][0] : {}
		if aggregation['hasView'].present?
			carouselImages  = aggregation['hasView'].dup
			carouselImages.unshift(aggregation['edmIsShownBy']) unless aggregation['edmIsShownBy'].blank?
			carouselImages  = paginate_array(carouselImages, params[:page] || 1, 3)
		end
		euAggregation   = record['europeanaAggregation']
		edmIsShownAt    = aggregation['edmIsShownAt'] ? aggregation['edmIsShownAt'] : nil
		edmIsShownBy    = aggregation['edmIsShownBy'] ? aggregation['edmIsShownBy'] : nil
		edmPreview      = euAggregation['edmPreview'] ? euAggregation['edmPreview'] : '/images/style/icons/mimetypes/unknown.png'
		edmProvider     = aggregation['edmProvider'] ? aggregation['edmProvider'] : nil
		type            = record['type'] ? record['type'] : nil
		html            = ''
		oembed          = oembed_fields( record )
		places          = record['places'] ? record['places'] : {}
		proxy           = record['proxies'][0]
		title           = proxy ? edm_proxy_field(proxy, 'dcTitle') : 'unknown'

		link_image      = '<img src="' + edmPreview + '" alt="' + title + '"/>'
		link_record     = record['about'] ? europeana_record_url( record['about'] ) : nil
		link_text_image = ''
		link_text_video = '<p class="view-item">' + t( 'common.links.play-video' ) + '</p>'

		link_attrs      = {
										'class' => 'image',
										'data-description' => title,
										:rel => 'prettyPhoto[gallery]',
										:title => title
		}

		if type == 'TEXT'
			link_attrs.merge!({
				'data-record' => link_record
			})
		end

		if edmProvider && edmProvider['def'] && edmProvider['def'][0]
			edmProvider = edmProvider['def'][0]
		end

		if !(
			params[:controller] == 'federated_search/dpla' ||
		 	params[:controller] == 'federated_search/trove' ||
		  params[:controller] == 'federated_search/digitalnz'
		)
			link_text_image = '<p class="view-item">' + t( 'common.links.view-image' ) + '</p>'
		end

	# end variable setup

	# begin html build

		if referred_by_search?
		  html += '<div class="back-link-row hide-on-item-collapsed">'
				html += back_to_search_link
  		html += '</div>'
		end

		html += '<div class="container">'

			html += '<div class="col left">'

				html += '<div class="col-cell show-on-item-collapsed">'
					html += '<h2 class="dcTitle"> ' + edm_proxy_field(proxy, 'dcTitle') + '</h2>'
				html += '</div>'

				# add carousel
				html += render :partial => 'edm/carousel', :locals => { :record => record }

				# add view at provider’s website text link
				if edmIsShownAt

					if(
						  params[:controller] == 'federated_search/dpla'  ||
						  params[:controller] == 'federated_search/trove' ||
						  params[:controller] == 'federated_search/digitalnz'
					)
						html += '<div class="col-cell">'
					    	html += '<span class="icon-external"></span>'
							html += '<div class="external-link">'
								html += '<a href="' + edmIsShownAt + '" target="_blank">'
								html += t('formtastic.labels.content.metadata.edm.external_partner_site')

 								html += '</a>'
							html += '</div>'
						html += '</div>'

					elsif readLabel = edm_proxy_field(aggregation, 'edmDataProvider')
						html += '<div class="col-cell">'
					    	html += '<span class="icon-external"></span>'
							html += '<div class="external-link">'
								html += t('formtastic.labels.content.metadata.edm.partner_site') + '<a href="' + edmIsShownAt + '" target="_blank">' + ': ' + readLabel + '</a>'
							html += '</div>'
						html += '</div>'
					end
				end

				html += '<div class="col-cell">'
			    	html += '<span class="icon-share">' + t('views.contributions.show.headings.share') + '</span>'
 					html += render :partial => '/layouts/navigation/sharethis'
 				html += '</div>'

				html += '<div class="col-cell translate-area" >'
			    	html += '<span class="icon-translate"></span>'
 				html += '</div>'

			html += '</div>'

			html += '<div class="col middle metadata">'
				html += '<div id="story-metadata" class="col middle metadata">'
					html += '<h2 class="dcTitle hide-on-item-collapsed"> ' + edm_proxy_field(proxy, 'dcTitle') + '</h2>'
					html += '<div class="col-cell">'
						html +=	render :partial => '/metadata/display_edm',
							:locals => {
								:proxy => proxy,
								:aggregation => aggregation,
								:euAggregation => euAggregation,
								:record => record
							}
					html += '</div>'


					if latLong = edm_places_latlng(record['places'])
						html += '<div class="col-cell">'
							html += '<div id="map-container">'
								html += '<div id="map"></div>'
								if latLong
									html += "<script>var latLong = [" + latLong + "];</script>"

								end
							html += '</div>'
						html += '</div>'
					end


				html += '</div>'
			html += '</div>'
		html += '</div>'
	end
-%>
<%= html.html_safe -%>
