<%

	@javascripts[:images_loaded] = true
	@javascripts[:carousel] = true
	@javascripts[:lightbox] = true
	@javascripts[:truncate] = true
	@javascripts[:translate] = true
	@javascripts[:edm_object_page] = true

	@stylesheets[:item] = true

	if record['aggregations'].first['edmProvider'].blank? ||
		( record['aggregations'].first['edmProvider']['def'].first != "Europeana 1914 - 1918" )

		proxy          = record['proxies'][0]
		places         = record['places'] ? record['places'] : {}
		aggregation    = record['aggregations'] ? record['aggregations'][0] : {}
		euAggregation  = record['europeanaAggregation']
		edmPreview     = euAggregation['edmPreview'] ? euAggregation['edmPreview'] : '/images/style/icons/mimetypes/unknown.png'
		edmProvider    = aggregation['edmProvider'] ? aggregation['edmProvider'] : nil
		edmIsShownAt   = aggregation['edmIsShownAt'] ? aggregation['edmIsShownAt'] : nil
		edmIsShownBy   = aggregation['edmIsShownBy'] ? aggregation['edmIsShownBy'] : nil
		carouselImages = aggregation['hasView']

		title          = proxy ? edm_proxy_field(proxy, 'dcTitle') : 'unknown'
		oembed         = oembed_fields( record )
		link_attrs     = {
										:title => title,
										'class' => 'image',
										'data-description' => title,
										'data-edmisshownby' => edmIsShownBy,
										:rel => 'prettyPhoto[gallery]'
		}

		if edmProvider && edmProvider['def'] && edmProvider['def'][0]
			edmProvider = edmProvider['def'][0]
		end

		link_image = '<img src="' + edmPreview + '" alt="' + title + '"/>'
		link_text_image = '<p class="view-item">' + t( 'common.links.view-image' ) + '</p>'
		link_text_video = '<p class="view-item">' + t( 'common.links.play-video' ) + '</p>'

		html = ''

		if referred_by_search?
		  html += '<div class="back-link-row hide-on-item-collapsed">'
		  html +=   back_to_search_link
  		  html += '</div>'
		end

		html += '<div class="container">'

			html += '<div class="col left">'

				html += '<div class="col-cell show-on-item-collapsed">'
					html += '<h2 class="dcTitle"> ' + edm_proxy_field(proxy, 'dcTitle') + '</h2>'
				html += '</div>'

				html += '<div class="col-cell">'

					html += '<div class="img-panel">'
						html += '<div id="institution-featured" class="carousel">'
							html += '<ul>'

							# oembeded item
							#if oembed

								#if oembed['provider_name'] == 'Vimeo'
									#video_src = '//player.vimeo.com/video/' + oembed['video_id'].to_s + '?iframe=true&width=100%&height=100%'
								#else
									#video_src = edmPreview
								#end

								#link_content = link_image + link_text_video
								#html += '<li>' + link_to( link_content.html_safe, video_src, link_attrs ) + '<!--oembeded content--></li>'

							# multiple images
							if carouselImages

								developer_content = '<!--carousel images-->'

								carouselImages.each do |img_src|
									link_image = '<img src="' + img_src + '" alt="' + title + '"/>'
									link_content = link_image + link_text_image
									html += '<li>' + link_to( link_content.html_safe, img_src, link_attrs ) + developer_content + '</li>'
								end

							# single image
							else

								# view at provider’s website
								if edmIsShownAt &&
									(
									  params[:controller] == 'federated_search/dpla' ||
									  params[:controller] == 'federated_search/trove' ||
									  params[:controller] == 'federated_search/digitalnz'
									)

									# link available at provider’s website
									if readVal = edm_proxy_field(aggregation, 'edmIsShownAt')

										developer_content = '<!--view on provider’s site-->'
										link_content = link_image + link_text_image

										link_attrs.merge!({
											:class => 'original-context',
											:target => '_blank',
											:rel => nil
										})

										html += '<li>' + link_to( link_content.html_safe, readVal, link_attrs ) + developer_content + '</li>'

									# do not view on provider’s website
									else

										developer_content = '<!--do not view on provider’s site-->'
										html += '<li>' + link_image.html_safe + developer_content + '</li>'

									end

								# view on 1914-1918 website - provider’s content in an iframe
								elsif edmIsShownBy

									dimensions = '&width=100%&height=100%'
									video_src = europeana_record_url( record['about'] ) + '?edmvideo=true&iframe=true'

									# edmIsShownBy will be a direct link to a vimeo video
									if /player.vimeo.com/.match( edmIsShownBy )
										video_src = edmIsShownBy + '?iframe=true' + dimensions

									# edmIsShownBy has several possible values
									# eventhough the iframe dimensions are 640 x 480, because of the lightbox ui the dimensions need to be wider and higher
									elsif /EFG - The European Film Gateway/.match( edmProvider )
										if /api.picturepipe.net/.match( edmIsShownBy )
											dimensions = '&width=657&height=510'
										end
									end

									video_src = video_src + dimensions
									link_content = link_image + link_text_image
									developer_content = '<!--edmProvider:' + edmProvider + '-->'

									if oembed
										developer_content = developer_content += '<!--oembeded content-->'
									end

									html += '<li>' + link_to( link_content.html_safe, video_src, link_attrs ) + developer_content + '</li>'

								# view on 1914-1918 website - provider’s content not in an iframe
								else

									link_content = link_image + link_text_image
									html += '<li>' + link_to( link_content.html_safe, edmPreview, link_attrs ) + '</li>'

								end

							end

							html += '</ul>'
							html += '<div class="carousel-overlay"></div>'
						html += '</div>'
						html += '</div>'
					# 	ticket 195 - "remove the title"
					#html += '<p class="subtitle">' + title + '</p>'
				html += '</div>'


				if readVal = edm_proxy_field(aggregation, 'edmDataProvider')
					html += '<div class="col-cell">'
				    	html += '<span class="icon-external"></span>'
						html += '<div class="external-link">'
							html += t('formtastic.labels.content.metadata.edm.partner_site') + '<a href="' + readVal + '" target="_new">' + ': ' + readVal + '</a>'
						html += '</div>'
					html += '</div>'
				end


				html += '<div class="col-cell">'
			    	html += '<span class="icon-share">' + t('views.contributions.show.headings.share') + '</span>'
 					html += render :partial => '/layouts/navigation/sharethis'
 				html += '</div>'

				html += '<div class="col-cell translate-area" >'
			    	html += '<span class="icon-translate"></span>'
 				html += '</div>'

			html += '</div>'

			html += '<div class="col middle metadata">'
				html += '<div id="story-metadata" class="col middle metadata">'
					html += '<h2 class="dcTitle hide-on-item-collapsed"> ' + edm_proxy_field(proxy, 'dcTitle') + '</h2>'
					html += '<div class="col-cell">'
						html +=	render :partial => '/metadata/display_edm',
							:locals => {
								:proxy => proxy,
								:aggregation => aggregation,
								:euAggregation => euAggregation,
								:record => record
							}
					html += '</div>'

					if latLong = edm_places_latlng(record['places'])
						html += '<div class="col-cell">'
							html += '<div id="map-container">'
								html += '<div id="map"></div>'
								if latLong
			#						html += "<script>var latLong = [" + latLong + ".split(',')];</script>"
									html += "<script>var latLong = [" + latLong + "];</script>"

								end
							html += '</div>'
						html += '</div>'
					end


				html += '</div>'
			html += '</div>'
		html += '</div>'
	end
-%>
<%= html.html_safe %>
