<% provide :title, t('views.annotations.edit.title') %>

<div class="section top">
  
  <h2><%= yield :title %></h2>
  
  <%= render :partial => 'form', :locals => { :annotation => @annotation } %>
  
</div>
