<% @title = t('contributor.registration_required.heading') %>
<p><%= raw t('contributor.registration_required.p1', :sign_in => link_to(t('contributor.registration_required.links.sign_in'), new_user_session_path), :register => link_to(t('contributor.registration_required.links.register'), new_user_registration_path)) %></p>
