<%
	content_for :title, t 'views.collection-days.heading'
	@javascripts[:page] = 'collection-days'
%>
<div class='section top'>
	
	<%=
		render :partial => 'blog_posts/list',
		:locals => {
			:blog => 'europeana',
			:category => 'collection-day-info',
			:titles => true,
			:relocale => true,
			:deblogger => true
		}
	%>

</div>
