

<style type="text/css">

/* eu-menu.css */
	
.eu-menu.selected span.open-menu{
	text-shadow:	0 5px 1px #4C7ECF;	
}
.eu-menu.no-highlight span.open-menu{
	text-shadow:	none;
}

.eu-menu.selected .item.active{
	box-shadow:			inset 0 0 4px #4C7ECF;
}
.eu-menu:focus{
	outline:		none;
}
.eu-menu:focus .menu-label{
	text-decoration:underline;
}

.eu-menu.no-highlight .item.active{
	box-shadow:			none;
}


.eu-menu{
	display:				inline-block;/* !important;*/
	float:					none;
	padding-left:			0.15em;
	padding-bottom:			0.18em;
	position:				relative; 
	text-align:				left;
	top:					0.03em;
	z-index:				11;	
}

.eu-menu a {
	text-decoration:	none;
	color:				#444444;
	cursor:				pointer;
}

.eu-menu .menu-label,
.eu-menu .open-menu{
	cursor:				pointer;
}

.eu-menu span{
	line-height:	inherit;
}

.eu-menu a:hover,
.eu-menu .item:focus a,
.eu-menu .item a:focus{
	text-decoration:	underline;
}

.eu-menu .top {
	background-color:	#DDD;
}

.eu-menu ul{
	list-style-type:	none;
	position:			absolute;
	margin:				0px;
	padding:			0px;
	
	
	z-index:	200;

	/* show max 10 items  */
	max-height:			20em;
	
	overflow-x:			hidden;
	overflow-y:			auto;
}

.eu-menu .item {
	display: 			none !important;
	border-radius:		0 0 0.25em 0.25em;
	margin-top:			0.1em;
	padding:			0.2em 0.6em 0.1em 0.6em;
	border:				1px solid #e4e4e4;
	background-color:	#F5F5F5;
	white-space:		nowrap;
	z-index:	200;
}


.eu-menu.active .item {		/* shown items */
	display:			block !important;
}
	
</style>





<style type="text/css">

/* pagination for search results */

.search-results-navigation {
	clear:				both;
	position:			relative;
	border-bottom:		1px solid #E4E4E4;
}

.nav-numbers{
	text-align:		center;
	white-space:	nowrap;
	font-size:		0.75em;
}

.nav-numbers input{	
	font-size:	1em;
	border:		1px solid #E4E4E4;
	text-align:	center;
}



.result-pagination{
	float:			none;	
	margin:			0;
	width:			100%;
	padding-left:	0;
	display:		table;
	table-layout:	fixed;
	font-size:		1.5em;
	clear:			both;
	position:		relative;
	z-index:		1;	
}

.result-pagination li{
	list-style: 	none;
	display:		table-cell;
	vertical-align:	top;
}

.jump-to-page{
	margin-top:	2em;
}


#start-page {
	outline: medium none !important;
	width: 4em;
	text-align:center;
}

.result-pagination a:focus{
    border-bottom: 1px dotted #4C7ECF;
}

.nav .eu-menu{
	display:		inline-block;
	border:			1px solid #e4e4e4;
	margin-left:	0.5em;
	padding-left:	0.25em;
	padding-right:	0.25em;
	z-index:		2;
}

/* override glow on selected menu item */
.nav .eu-menu.selected span.open-menu,
.nav .eu-menu.selected .item.active{
	text-shadow:	none !important;
}



/* end copied */



.nav{
	padding:			.25em 0;
	
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;

	display:			inline-table;
	width:				100%;	/* needed for safari */
}


.nav>div{
	display:	block;
	text-align:	center;
	width:		100%;
}



.nav>div.menu, .nav>div.pagination{
	white-space:	nowrap;
}



.nav .of{
	display:none;
}

.nav .of-bracket{
	color:#333 !important;	/* fix for strange iphone bug (wanting to color this as a link) */
}

.nav .of-bracket:before{
	content:'(';
}

.nav .of-bracket:after{
	content:')';
}

.nav .of-value{
	display:	block;
}

.nav .spaced:before{
	content:'';
}

.nav .spaced:after{
	content:'';
}




/* data showing / hiding rules */

@media only screen and (min-width: 22em) {
	.nav .of-bracket:before{
		content:'';
	}

	.nav .of-bracket:after{
		content:'';
	}

	.nav .of,
	.nav .of-value{
		display:inline;
	}	
}


@media only screen and (min-width: 48em) {
	
	.nav .spaced:before{
		content:' ';
	}
	
	.nav .spaced:after{
		content:' ';
	}
	
	.result-pagination li{
		vertical-align:	middle;
	}
	
	.jump-to-page{
		margin-top:	0;
	}
}


@media only screen and (max-width: 55em) {
	.nav>div.show-on-22{
		display:none;
	}
}

/* desktop general */
@media only screen and (min-width: 55em) {

	.show-on-22{display:table-cell !important;}
	
	.result-pagination{
		float:		right;
		width:		auto;	
		font-size:	1em;
		width:		auto;
	}


	/* flex-box rules */
	.nav>div{
		display:		table-cell;
		vertical-align:	middle;
	}

	.nav>.menu, .nav>.pagination{
		width:1px;
	}

	.nav>.count{
		width:		100%;
		text-align:	center;
	}

	.nav-numbers{	
		font-size:	1em;
		width:		auto;
	}

	.nav>.menu{
		text-align:	left;
	}

	.nav>.pagination{
		text-align:	right;
	}

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}


</style>




<style type="text/css">

	.search-results-navigation{
		border-bottom:	1px solid #E4E4E4;
		margin-bottom:	1em;
	}
	
	.nav{
		XXXXXvertical-align:	middle;
		XXXXXdisplay:		table-cell;
	}
		
	.nav .eu-menu{
		border:			1px solid #E4E4E4;
		display:		inline-block;
		margin-left:	0.5em;
		padding-left:	0.25em;
		padding-right:	0.25em;
		z-index:		101;
	}

	.top{
		border-top:	1px solid #E4E4E4; 
	}

</style>





<div class="search-results-navigation">
	<div class="nav">
	
		<div class="menu">
			Results Per Page:
		
			<div title="Number of results shown on the page" aria-hidden="true" class="eu-menu">
		
				<span class="menu-label"></span>
				<span class="icon-arrow-3 open-menu"></span>
		
				<ul>
					<li class="item">
						<a class="12" href="">12</a>
					</li>
					<li class="item">
						<a class="24 active" href="">24</a>
					</li>
					<li class="item">
						<a class="48" href="">48</a>
					</li>
					<li class="item">
						<a class="96" href="">96</a>
					</li>
				</ul>
			</div>
		</div>


		<div class="count">
			<span>
				Results 1-20 of 40		
			</span>
		</div>



		<div class="pagination">
			<ul class="result-pagination">
				<li class="nav-first"> </li>
				<li class="nav-prev"> </li>
				<li class="nav-numbers">
					<form class="jump-to-page" action="/portal/search.html?" method="get">
						<input type="text" value="1" id="start-page">
						<span class="of"> of</span> <span class="of-bracket"> 58837</span>
						<input type="hidden" id="start" name="start">
						<input type="hidden" value="24" id="rows" name="rows">
						<input type="hidden" value="paris" name="query">
						<input type="hidden" value="58837" id="max-rows">
						<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
					</form>
				</li>
				<li class="nav-next">
					<a title="Click here for next page of results" href="/portal/search.html?start=25&amp;query=paris&amp;rows=24"> &nbsp; &gt; &nbsp;</a>
				</li>
				<li class="nav-last">
					<a title="Click here for last page of results" href="/portal/search.html?start=1412065&amp;query=paris&amp;rows=24"> &nbsp; &gt;&gt;</a>
				</li>
			</ul>
		</div>
				
		
	</div>
</div>