
<div class="search-results-navigation">
	<div class="nav">
	
		<div class="menu-wrapper">
			Results Per Page:
		
			<div title="Number of results shown on the page" aria-hidden="true" class="eu-menu">
		
				<span class="menu-label"></span>
				<span class="icon-arrow-3 open-menu"></span>
		
				<ul>
					<li class="item">
						<a class="12" href="">12</a>
					</li>
					<li class="item">
						<a class="24 active" href="">24</a>
					</li>
					<li class="item">
						<a class="48" href="">48</a>
					</li>
					<li class="item">
						<a class="96" href="">96</a>
					</li>
				</ul>
			</div>
		</div>


		<div class="count">
			<span>
				Results 1-20 of 40		
			</span>
		</div>



		<div class="pagination">
			<ul class="result-pagination">
				<li class="nav-first"> </li>
				<li class="nav-prev"> </li>
				<li class="nav-numbers">
					<form class="jump-to-page" action="/portal/search.html?" method="get">
						<input type="text" value="1" id="start-page">
						<span class="of"> of</span> <span class="of-bracket"> 58837</span>
						<input type="hidden" id="start" name="start">
						<input type="hidden" value="24" id="rows" name="rows">
						<input type="hidden" value="paris" name="query">
						<input type="hidden" value="58837" id="max-rows">
						<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
					</form>
				</li>
				<li class="nav-next">
					<a title="Click here for next page of results" href="/portal/search.html?start=25&amp;query=paris&amp;rows=24"> &nbsp; &gt; &nbsp;</a>
				</li>
				<li class="nav-last">
					<a title="Click here for last page of results" href="/portal/search.html?start=1412065&amp;query=paris&amp;rows=24"> &nbsp; &gt;&gt;</a>
				</li>
			</ul>
		</div>
				
		
	</div>
</div>