<% content_for :title, t('views.contacts.show.title') %>
<div class="section top">
  
  <h2><%= yield :title %></h2>
  
    <div class="action-links">
      <ul>
        <li><%= link_to t('actions.edit'), edit_contact_path(current_user.contact), :class => 'edit-member' %></li>
      </ul>
    </div>
    <%= render :partial => 'summary', :locals => { :contact => @contact } %>
  
</div>