<%
	html = ''
	more_objects = more_like_this(object, :per_page => 4)

	if more_objects.present?
		html += '<h3>' + t( 'views.common.more-like-this' ) + '</h3>'
		html += '<div id="more-like-this" class="carousel">'
			html += '<ul>'

			more_objects.each do |item|
				record = search_result_to_edm(item)
				html += '<li>'
					html += '<a href="' + h(record["guid"]) + '" title="' + h(record["title"].first) + '">'
					unless record["edmPreview"].first.blank?
						html += '<img src="' + h(record["edmPreview"].first) + '" alt="' + h(record["title"].first) + '" />'
					end
					html += '</a>'
					html += '<span>' + h(record["title"].first) + '</span>'
				html += '</li>'
			end

			html += '<div class="carousel-overlay"></div>'
			html += '</ul>'
		html += '</div>'
	end
%>
<%= html.html_safe %>
