<%

	moreLikeThis = [
		{
			:src => 'http://www.medical-enc.ru/topographic_anatomy/images/pirogov.jpg',
			:title => 'Nikolai Ivanovich Pirogov',
			:url => 'contributions/1'
		},
		{
			:src => 'http://www.wellcome.ac.uk/stellent/groups/corporatesite/@msh_publishing_group/documents/image/wtx052931.jpg',
			:title => 'The Trustees of the Wellcome Trust',
			:url => 'contributions/1'
		}
	]

	html = ''

	if moreLikeThis.present? && moreLikeThis.size > 0
		html += '<h3>' + t( 'views.common.more-like-this' ) + '</h3>'
		html += '<div id="more-like-this" class="carousel">'
			html += '<ul>'

			moreLikeThis.each do |item|
				html += '<li>'
					html += '<a href="' + item[:url] + '" title="' + item[:title] + '">'
						html += '<img src="' + item[:src] + '" alt="' + item[:title] + '" />'
					html += '</a>'
					html += '<span>' + item[:title] + '</span>'
				html += '</li>'
			end

			html += '<div class="carousel-overlay"></div>'
			html += '</ul>'
		html += '</div>'
	end

%>
<%= html.html_safe %>
