<%

	moreLikeThis = [
		[
			:src => 'test.jpg',
	    :title => 'Test',
	    :url => 'contributions/3'
		],
		[
			:src => 'test.jpg',
			:title => 'Test',
			:url => 'contributions/3'
		]
	]

	html = ''

	if moreLikeThis.present? && moreLikeThis.size > 0
		html += '<h2>Other items you may be interested in:</h2>'
		html += '<div id="more-like-this">'

		moreLikeThis.each do |image|
			# html += '<li>'
			# 	html += '<a href="' + image['url'] + '">'
			# 		html += '<img src="' + image['src'] + '" alt="' + image['title'] + '" />'
			# 	html += '</a>'
			# html += '</li>'
		  html += image.to_s
		end

		html += '</div>'
	end

%>
<%= html.html_safe %>
