<%
	html = ''
	count = 0
	more_objects = more_like_this( object, :per_page => 12 )

	if more_objects.present?
		html += '<h3>' + t( 'views.common.more-like-this' ) + '</h3>'
		html += '<div id="more-like-this" class="carousel">'
			html += '<ul>'

			more_objects.each do |item|
				record = search_result_to_edm(item)
				title = ''
				caption = ''

				if record["title"].present? && !record["title"].first.blank?
				  title = ' title="' + h( record["title"].first ) + '"'
				  caption = '<span>' + truncate( h( record["title"].first ), :length => 90 ) + '</span>'
				end

				if record["edmPreview"].present? && !record["edmPreview"].first.blank?
					# if count <= 3
						image = image_tag( h( record["edmPreview"].first ), :alt => title )
						open_li = '<li>'
					# else
					# 	image = image_tag(
					# 		'/assets/v2.1/images/icons/loading-animation.gif',
					# 		:alt => t( 'views.common.loading' ),
					# 		'data-src' => h( record["edmPreview"].first )
					# 	)
					# 	open_li = '<li class="item-placeholder">'
					# end

					html += open_li
						html += '<a href="' + h( record["guid"] ) + '"' + title + '>'
							html += image
						html += '</a>'
						html += caption
					html += '</li>'

					count += 1
				end
			end

			html += '<div class="carousel-overlay"></div>'
			html += '</ul>'
		html += '</div>'
	end


%>
<%= html.html_safe %>
