/*
	@import "compass";
*/


// Breakpoints

$break-desktop: 48em;
$break-carousel-intro: 55em;
$three-category-cols: 58em;

// Base Font
$base-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;



// Headings

$heading-line-height:	120%;

  

@import "modules/all";
