/*
	@import "compass";
*/


// Breakpoints

$break-desktop: 48em;


// Base Font
$base-font-family: Arial, Helvetica, sans-serif;


// Headings

$heading-line-height:	120%;

  

@import "modules/all";
