@mixin buttons {

  .europeana-button{
    @include europeanaButton();
  }
  
}


@mixin europeanaButton(){
	background-color:		#0048ff;
	
	background: 			-moz-linear-gradient(top, #0048ff 0%, #4c7ecf);
	background: 			-webkit-gradient(linear, left top, left bottom, from(#0048ff), to(#4c7ecf));
	
	@include boxShadow(	3px 3px 13px rgba(51,51,51,0.5), inset 0px 0px 0px rgba(255,255,255,0));

	border:					none;
	border-width:			0 !important;
	
  	color:					#FFFFFF !important;
	cursor:					pointer;
	
	font-family:			sans-serif;
	font-size:				100%;
	font-weight:			normal;
	
  	outline:				none !important;

	text-decoration:		underline;


	@include borderRadius(0.5em, 0.5em, 0.5em, 0.5em);
	
	-webkit-appearance:		none !important;
}


input[type=submit],
a.button {

    background-color:   #007162;
	color:              #fff;	
	border:             0;
	border-image-width: 0;
	padding:            0.4em;
	padding:            0.5em;
	outline:            0;
	position:           relative;
	top:                0;

	font-weight:        bold;
	cursor:             pointer;
			
	webkit-box-shadow: 2px 2px 2px rgba(34,25,25,0.8);
	moz-box-shadow: 0 1px 3px rgba(34,25,25,0.8);
	ms-box-shadow: 0 1px 3px rgba(34,25,25,0.8);
	o-box-shadow: 0 1px 3px rgba(34,25,25,0.8);
	box-shadow: 2px 2px 2px rgba(34,25,25,0.8);
}

input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus{
	border-color: #cecece #afafaf #afafaf #cecece;
	outline:          0;
	border:           0;	
    background-color: #2284A1;
}



