
#header,
#content,
#footer{
	XXXXpadding:  0 2.25em;
	padding:      0 1.56em;
}

#content{
	padding-top:    1.2em;
	
	/* New style guide */
	width:          100%;
	max-width:      105.24em;	/* (3 x 33em) + (4 x 1.56em)  */
	margin:         auto;
	padding:        0 1.56em;

	@include box-sizing(border-box);	/* Needed?  Hasn't reset done this? */

	overflow: hidden; /* clearfix */
}



.v-flex-container{
	display:		table;
	table-layout:	fixed;
	height:			100%;
}

.v-flex{
	display:		table-row;
}

.v-flex-fill{
	display:		table-cell;
	height:			100%;
	vertical-align:	bottom;
}

.h-flex-container{
	display:		table;
	width:			100%;
	border-spacing: 0;
}

.h-flex-fill{
	display:		table-cell;
	width:			100%;
}

.h-flex-fixed{
	display:		table-cell;
	width: 			1px;
}

@media screen and (max-width: $break-desktop) {
	.h-flex-collapse{
		display:		block;
		width:			auto;
	}
}

/* Hide / show on phones */

.hide-on-phones			{display:none  !important;}		
.hide-ilb-on-phones		{display:none  !important;}		
.hide-cell-on-phones	{display:none  !important;}		

.show-on-phones		{display:block !important;}
.show-ilb-on-phones	{display:inline-block !important;}
.show-cell-on-phones{display:table-cell !important;}

@media only screen and ( min-width:	$break-desktop ){
	.hide-on-phones			{display:block			!important;}	
	.hide-ilb-on-phones		{display:inline-block	!important;}	
	.hide-cell-on-phones	{display:table-cell		!important;}	

	.show-on-phones			{display:none !important;}	
	.show-ilb-on-phones		{display:none !important;}
	.show-cell-on-phones	{display:none !important;}
}

/* End hide / show on phones */
