
#header,
#content{
	padding:        0 1.25em;
}

#content{
	padding-top:    2em;
}



.v-flex-container{
	display:		table;
	table-layout:	fixed;
	height:			100%;
}

.v-flex{
	display:		table-row;
}

.v-flex-fill{
	display:		table-cell;
	height:			100%;
	vertical-align:	bottom;
}

.h-flex-container{
	display:		table;
	width:			100%;
	border-spacing: 0;
}

.h-flex-fill{
	display:		table-cell;
	width:			100%;
}

.h-flex-fixed{
	display:		table-cell;
	width: 			1px;
}

@media screen and (max-width: 48em) {
	.h-flex-collapse{
		display:		block;
		width:			auto;
	}
}