/* No classes - only element selectors here */

@import "compass/css3/box-sizing";

*{
	@include box-sizing(content-box);
}


html, body, div, footer, header, menu, nav, section, summary, ul, li, a, h1{
	margin:     0;
	padding:    0;
	border:     0;
	outline:    0;
	font-size:  100%;
	font:       inherit;
}

html {
	font-size:                100%;
	overflow-y:               scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	background-color:         #DADADA;
	padding:                  0 1.25em;
}


body{
	background-color:   #fff;
}

img{
	max-width:	100%;
}

ul{
	list-style: none;
}

footer, header, nav, section {
	display: block;
}

@media screen and (min-width: 48em) {	
	body {
		max-width:	100em;
		margin:		0 auto;
	}
}


input[type=text],
input[type-text]:focus{
  	outline:				none !important;
}


p {
	margin: 0 0 .9em 0;
}

a {
	color: #0075FF;
	text-decoration: none;
	@include transition(color, 500ms, ease-out);
}

a:hover {
	color: #ff00c2
}

img {
	border: none;
}

hr {
	color:  #E4E4E4;
}
