// No classes - only element selectors here

*{
	 -moz-box-sizing:		border-box;
	 -webkit-box-sizing:	border-box;
	 box-sizing:			border-box; 	
}


	
body{
	overflow-y: scroll;
	background-color: #fff;
	
	-moz-box-sizing:	content-box;
	-webkit-box-sizing:	content-box;
	box-sizing:			content-box;
}


@media screen and (min-width: 48em) {	
	body {
		max-width: 160em;
	}
}


input[type=text],
input[type-text]:focus{
  	outline:				none !important;
}


p {
	margin: 0 0 .9em 0;
}

a {
	color: #0075FF;
	text-decoration: none;
	@include transition(color, 500ms, ease-out);
}

a:hover {
	color: #ff00c2
}

img {
	border: none;
}

hr {
	color:  #E4E4E4;
}
