

#search {
	margin-bottom: 1em;
}


.t-query{
	
	border-collapse:	separate;
	cell-padding:		0;
	cell-spacing:		0;
	line-height:		normal;
	margin:				auto;		/* centering */
	position:			relative;
	table-layout:		fixed;	
	width:				100%;
	
	td{
		whitespace: nowrap;
	}
}



.query-cell{
	padding:		0 0.25em;
	width:			100%;
	border:			1px solid #E4E4E4;
	border-radius:	0.5em;
	
	input{
		height:	1.35em;
	}
}



.submit-cell{
	height:			100%;
	vertical-align:	middle;
	text-align:		center;
	position:		relative;
	padding-bottom:	2em;
	padding-top:	2.5em;
	
	button{
		position:	absolute;
	}

	input[type=submit]{
		padding:				0.5em;
	}
	
	button,
	input.button{
	  	bottom:					0;
		margin-left:			0;	/* override chrome default */
		margin-right:			0;	/* override chrome default */
		margin-top:				0;	/* override chrome default */
		margin-bottom:			0;	/* override chrome default */
		
		padding-bottom:			0.3em;
		
		right:					0;
		top:					0;
		width:					80%;
	}	
}



.glow{
	@include boxShadow(0 0 4px #4C7ECF inset);
}
	
#q{
	background-image:	url('/themes/v2/images/icons/search.png');
	background-repeat:	no-repeat;
	border:				0;
	font-size:			1em;
	margin:				0.5em 0;
	padding:			0;
	padding-left:		2.5em;
	width:				99%;
}

@media only screen and ( min-width:	48em ){

	#search.landing{
		margin-bottom: 3em;
	}
	
	q{
		margin:		0.5em 0;
	}
	
	
	.query-cell{
		border:			none;
		border-radius:	0.5em 0 0 0.5em;
	}
	
	.submit-cell{
		padding-top:	0;
		height:			100%;
		padding-bottom: 2em;
		vertical-align:	middle;
		width:			0;
		
		button,
		input[type=submit],
		input.button{
			border-radius:			0 0.5em 0.5em 0;
			width:					auto;
		}
	}
	

	.t-query{
		border:			1px solid #E4E4E4 !important;
		border-radius:	0.5em;
		width:			80%;
	}
	
}


@media only screen and ( min-width:	54em ){
	.t-query{
		width:			72%;
	}
}

@media only screen and ( min-width:	60em ){
	.t-query{
		width:			64%;
	}
}

@media only screen and ( min-width:	66em ){
	.t-query{
		width:			58%;
	}
}

@media only screen and ( min-width:	72em ){
	.t-query{
		width:			50%;
	}
}