html {
	font-family: $base-font-family;
	font-size: 100%;
	font-style: normal;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 160%;
}

h1, h2, h3 {
	margin: 0 0 .4em 0;
	line-height: $heading-line-height;
	clear: both;
}
