body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 85%;
  color: black;
  background-color: white;
  line-height: 1.25em;
}

#site-title {
  font-size: 2em;
  font-family: Georgia, serif;
  letter-spacing: 0.075em;
}

#footer {
  color: gray;
  font-size: 0.85em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.2em;
}

h1 {
  text-align: center;
  font-size: 1.6em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.85em;
}

h6 {
  margin: 0px;
  margin-bottom: 0.2em;
  padding: 0px;
  font-size: 0.9em;
  font-weight: normal;
  font-style: italic;
}

p {
  margin: 1em 0;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ul.radio-inputs,ul.checkbox-inputs {
  list-style-type: none;
}

/** Multi-line text metadata fields **/
.metadata-text {
  /** CSS pre-wrap rules from http://web.enavu.com/tutorials/the-css-pre-wrap-trick/ **/
  white-space: pre-wrap;       /* css-3 */  
  white-space: -pre-wrap;      /* Opera 4-6 */  
  white-space: -o-pre-wrap;    /* Opera 7 */  
  word-wrap: break-word;            /* Internet Explorer 5+ */  
  white-space: -moz-pre-wrap;  /* Older Versions of Mozilla */  
}
