@import url(color_schemes/fixedwidthblue.css);
@import url(color_schemes/relativewidthblue.css);
@import url(color_schemes/fixedwidthblack.css);
@import url(color_schemes/relativewidthblack.css);

/* Tabs
    http://www.stilbuero.de/jquery/tabs_3/ui.tabs.css
 */
@import url(tabs.css);

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* Dock */
.interactive-mode
{
    margin-top:85px;
    margin-right:80px
}

/* Navigation */
#navigation ul
{
    float:right;
    margin-right:17px;
    padding: 0px;
    font-size: 1.4em;
    font-weight:bold
}

#navigation li
{
    padding-top:5px;
    padding-bottom:5px;
}

#navigation a
{
    height:25px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top:5px;
    padding-bottom:5px;
    color: #000000;
    text-decoration:none;
    border-left-style:solid ;
    border-left-width:1px ;
    border-left-color: #CCCCCC
}

#navigation a:hover
{
    background-color:#EAEAEA
}

/*
#navigation .selected a
{
    color: #ffffff ;
    background-image: url(/europeana-theme/images/europeana/selected.png)
}
*/


/* Layout templates
#content-wrapper
{
    width: 1024px;
    max-width: 1224px;
    margin-top:63px;
    font-family: arial,helvetica,sans-serif;
    font-size:1.2em;
    color: #000000;
}


 */

#content-wrapper em
{
    font-weight:bolder
}

#wrapper
{
    background-position: 0px 0px ;
    background-repeat:repeat-x
}

/*
#column-1
{
    width: 187px
}

#column-2
{
    width:450px
}
*/


/* Web Content Display */

.leader
{
    font-size: 1.3em;
    line-height: 1.4em;
    margin-bottom: 20px
}
.intro
{
    color:#2296e2
}
.highlight
{
    color:#2296e2 ;
    background-color: #ffffff
}

.arrowlink
{
    color:#2296e2;
    padding-left: 15px;
    background-image: url(/images/europeana-theme/arrowlink.png); /* couldn't find this one */
    background-repeat: no-repeat;
    background-position: 0px 4px
}


/* Footer */
#footer
{
    margin-top:30px;
    width:100%;
    height:12px;
    background-image: url(/images/europeana-theme/application/footer.png);
    background-repeat:repeat-x
}

#footer ul
{
    font-size: 1.1em
}

#footer li
{
    color: #797979;
    font-weight: bold;
    text-decoration:none;
    display: inline;
    list-style-type: none;
    padding-left: 16px
}

#footer .sitemap
{
    float:left
}

#footer .about
{
    float:right;
    padding-right: 10px
}

#footer a
{
    font-weight: bold;
    color: #797979;
    text-decoration:none
}


/* Tabs... overload the external css we borrowed */
#newsposition
{
   
}

.tabbing ul
{
    margin: 0px 0px 0px 0px;
}

.tabbing li
{
    list-style-type: none;
}
.tabbing th
{
    margin-top:26px
}
.tabbing td
{
    padding-top: 0px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 0px
}

.tabbing a span
{
    color: #797979;
}


.ui-tabs-panel
{
    padding: 0px; /* padding 0 werkt goed bij IE en 1px bij FF */
    border: 0px;
    background:none
    
}

.topical
{
    border-style:solid ;
    border-width:1px ;
    border-color: #CCCCCC;
    background-color: #ffffff
}

.separator1
{
    margin-top:0px;
    margin-bottom:-5px;
    background-image: url(/images/europeana-theme/application/separator.png);
    background-repeat:repeat-x
}

.partners
{
    margin-top:1px;
    width:600px;
    border-style:solid ;
    border-width:1px ;
    border-color: #CCCCCC
}



.dropshadow
{
    margin-top:15px;
    border-style:solid ;
    border-width:1px ;
    border-color: #CCCCCC
}



.accordion
{
    width:226px;
    max-width:226px
}

/*
.accordion .separator
{
    margin-top:4px;
    margin-bottom:0px;
    padding:0px;
    height:1px;
    background: #fff url(/europeana-theme/images/europeana/separator.png) no-repeat scroll center;
}
*/

.accordion h2
{
    font-size: 1em;
    margin:0px;
 
}

.accordion .header3
{
    height:36px;
    padding-left:0px;padding-right:15px;
    padding-top:0px;padding-bottom:0px;
    margin:0px;
    background-image: url(/images/europeana-theme/application/open-plus.png);
	background-position: right 11px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.accordion h3 {
    font-size: 12px;
    font-weight:normal;
    margin:0px;
    line-height:16px
}

.accordion h3.active
{
	background-image: url(/images/europeana-theme/application/close-minus.png);
}

.accordion p
{
    color:#797979;
    width:226px;
}

.accordion .separator
{
    margin:0px;padding:0px
}

.accordion a
{
    text-decoration:none
}

.accordion .arrowlink
{
    
}

/* custom fixed width layout templates
.left2
{
    width:187px;
}
.right2
{
    width:800px;
}

.left3
{
    width:187px;
}
.center3
{
    width: 500px
}
 */
 
 
 #clock
 {
    z-index:999;
    position:absolute ;
    top:30px;
    left:410px;
 }
 
 #clock p
 {
    z-index:1000;
    color: #000000;
    text-align: center;
 }