/*
  Colors:
  - Blue: #0ff
  - Orange: #fc0
  - Purple: #90f
*/

#wrapper {
  background: url(../images/eew-background-right-1.jpg) top right no-repeat white;
}

#banner .logo a {
  background: url(../images/eew-logo.png) top left no-repeat;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
  height: 268px;
  text-indent: -9999em;
  width: 187px;
}

#navigation {
/*  position: absolute;*/
/*  right: 55px;*/
/*  top: 142px;*/
  width: 897px;
  padding-top: 100px;
/*  margin-top: -170px;  */
}
#navigation ul {
  margin-right: 0;
  background: white;
  margin-left: 197px;
  float: left;
}
#navigation #langswitch {
  float: right;
  font-size: 1.4em;
  font-weight: bold;
  padding: 5px 0 5px 11px;
}

.fixedwidthblack #content-wrapper {
  margin-top: 0;
}

.lfr-grid {
  background: transparent;
  margin-top: 0;
/*  border-top: 1px solid red;*/
}
.lfr-grid .lfr-column {
  border-width: 0;
  line-height: inherit;
}
.columns-3 #column-1 {
  padding-top: 110px;
}
.columns-3 #column-2 {
  padding-top: 20px;
}

h2.page-title {
  margin-top: 0;
}

#documentsarea {
  margin: 0;
  padding: 0;
  width: 700px;
  color: #333;
}

#footer {
  padding-left: 181px;
  width: auto;
}
#footer .sitemap {
  margin-left: 0;
}
#footer .sitemap li {
  display: block;
  line-height: 50px;
  float: left;
}

.link-buttons {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style: none;
}
.link-buttons li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.link-buttons a:link, .link-buttons a:visited, .link-buttons a:active {
  font-size: 125%;
  display: block;
  float: left;
  margin: 10px 0 10px 20px;
  padding: 10px; 
  width: 198px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  background: #fc0;
  color: #333;

}
.link-buttons a:hover {
  background: #0ff;
}

.editors-pick,
.news-item {
  clear: both;
  border-bottom: 1px dotted #BFBFBF;
  border-top: 1px dotted #BFBFBF;
  padding: 10px;
  margin: 10px 0 20px 0;

}
.editors-pick h2,
.news-item h2 {
  margin-top: 0;
}
.editors-pick h3,
.news-item h3 {
  margin: 10px 0;
}
.editors-pick img {
  float: left;
  margin: 0 10px 5px 0;
}
.editors-pick .separator,
.news-item .separator{
  border: none;
}

.news-item img {
  float: right;
  margin: 0 0 5px 10px;
}

.film-highlight {
  float: left;
  clear: both;
  background: white;
  margin: 0 0 20px 0;
  width: 480px;
}

.film-highlight .flowplayer {
  display: block;
  width: 480px;
  height: 272px;
}

.film-highlight h2 {
  margin-top: 0;
}

.text-highlight {
  float: left;
  clear: right;
  background: white;
  margin: 0 0 20px 20px;
  width: 180px;
  border: 1px solid white;
}

/**  Google Maps  **/

  #gmap-locate {
    width: 500px;
    height: 500px;
    margin-left: 25%;
    border: 5px solid #a79d96;
  }
  
  #gmap-display {
    width: 500px;
    height: 500px;
    border: 5px solid #a79d96;
  }
  
/*
  #gmap-container {
    margin-top: 1em;
  }
  #gmap-canvas {
    border: 1px solid #CCCCCC;
    margin-left: 28%;
  }
  #gmap-address {
    width: auto;
  }
  #gmap-search {
    width: auto;
  }
  .gmap-static img {
    border: 1px solid #CCCCCC;
  }
*/

/** Tables **/
table {
  border-collapse: collapse;
  clear: left;
  margin: 10px 0;
  background: white;
}
caption {
  white-space: nowrap;
  border-bottom: 1px solid #CCCCCC;
  font-weight: 700;
  margin: 10px 0 0;
  padding: 4px 0;
  background: #fc0;
  color: #333;
}
td {
  border-bottom: 1px dotted #BFBFBF;
  border-top: 1px dotted #BFBFBF;
  line-height: 1.5em;
  padding: 0.25em;
}
th {
  background: #eaeaea;
  color: #333;
  font-weight: 700;
  padding: 0.25em;
  text-align: left;
}
th[scope=row] {
  text-align: right;
  border-bottom: 1px dotted #BFBFBF;
  border-top: 1px dotted #BFBFBF;
  vertical-align: top;
  width: 25%;
}

table.member-record, table.collection-members, table.search-results {
  clear: left;
  margin-left: 0;
  margin-right: 0;
  width: 700px;
}

/**  Contribution mgmt  **/
table.contributions {
  clear: both;
}
table.contributions th {
  text-align: center;
}
.contributions-drafts table.contributions,
.contributions-submitted table.contributions,
.admin-contributions-submitted table.contributions,
.admin-contributions-draft table.contributions,
.admin-contributions-approved table.contributions {
  padding: 0;
  width: 100%;
}

.action-links {
  background: #EEEEEE;
  color: #333;
  border-bottom: 1px solid #BFBFBF;
  padding: 10px;
  min-height: 16px;
}
.action-links ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.action-links li {
  float: left;
  list-style: none outside none;
  margin: 0 1em 0 0;
  padding: 0;
}

.link-buttons:after, .action-links:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
/* Additional IE specific bug fixes... */
* html .link-buttons, * html .action-links { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .link-buttons, *:first-child+html .action-links  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

form.formtastic fieldset.inputs {
  clear: left;
  margin-top: 1em;
}
form.formtastic fieldset.buttons {
  padding-left: 0;
}
form.formtastic fieldset.buttons li.cancel {
  padding: 6px 0 6px 50px;
}
form.formtastic fieldset.buttons li.back {
  padding: 6px 50px 6px 0;
}
form.formtastic ol ol li {
  list-style-type: none;
}
form.formtastic input[type="text"], form.formtastic input[type="password"], form.formtastic input[type="file"], form.formtastic input[type="submit"], form.formtastic input[type="button"], form.formtastic input[type="reset"], form.formtastic select, form.formtastic textarea, form.formtastic .textarea {
  background-color: white;
}

form.formtastic input[type="submit"], form.formtastic input[type="button"], form.formtastic input[type="reset"] {
  font-weight: bold;
  padding: 5px;
}

/**  Search form  **/
form.search {
  width: 340px;
  float: left;
  margin: 1em 0;
}

/** Display options form **/
form.options {
  width: 340px;
  float: right;
  clear: right;
}
form.options fieldset.inputs {
  margin-top: 0;
}
form.options fieldset > ol > li.check_boxes fieldset ol {
  padding-left: 1em;
  width: auto;
  float: none;
}

form.options fieldset > ol > li fieldset legend.label label {
  position: static;
  text-align: left;
}

form.formtastic fieldset.collapsed,
form.formtastic fieldset.collapsible
{
  border: 1px dotted #BFBFBF;
}
form.formtastic fieldset.collapsed {
  padding: 0 15px 0 15px;
  background-color: transparent;
  border-width: 1px 0 0 0;
}
form.formtastic fieldset.collapsed legend,
form.formtastic fieldset.collapsible legend 
{
  cursor: pointer;
  padding: 0.25em 0.5em;
  background: white;
}

#side-nav {
  padding: 0 5px 5px 5px;
  margin-top: 3.2em;
}
#side-nav h3 {
  font-size: 1em;
  margin: 5px 0;
}
#side-nav ul {
  margin: 0;
  padding: 0;
  border-bottom: 1px dotted #BFBFBF;
}
#side-nav ul li {
  list-style-type: none;
  border-top: 1px dotted #BFBFBF;
  padding: 5px 0;
}

.pagination {
  clear: both;
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  background: none repeat scroll 0 0 #EAEAEA;
  color: #333333;
  padding: 0.25em;
  border-bottom: 1px solid #CCCCCC;
}
.pagination span, .pagination em, .pagination a {
  margin: 0 5px;
}
table.search-results {
  margin: 0 0 10px 0;
}

.feedcontent h3 {
  clear: both;
}

form#new_contribution.formtastic fieldset > ol > li#contribution_terms_input.boolean label {
  padding-left: 0;
}

.progress {
  background: #EAEAEA;
  color: #333333;
  margin-top: 1em;
}
.progress-meter {
  background-color: #ACDFA7;
  height: 10px;
}
.progress-step {
  background: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.inline-errors {
  color: #CC0000;
}

  #maintenance-message {
      position:fixed;
      z-index:1000;
      top:0;
      left:0;
      background:#fc0;
      background-color:rgba(255,204,0,.7);
      width:100%;
      font-size:16px;
      padding:10px;
      text-align:center;
  }
