/**  Flash alerts / notices  **/
.flash-alert, .flash-notice {
  margin: 10px;
  padding: 10px;
  background: #f3f3f3;
  border: 1px solid #CCCCCC;
}
.flash-alert img, .flash-notice img {
  float: left;
  margin-right: 0.7em;
}
img.status-indicator {
  float: left;
  margin-right: 0.25em;
}
.inline-errors {
  background: url(../images/style/icons/status-alert.png) no-repeat left center;
  font-weight: bold;
  padding: 0.25em 0.25em 0.25em 21px;
  color: #933;
}

/** Formtastic forms **/
#yui-main form.formtastic {
  clear: left;
  margin-left: 0;
  margin-right: 0;
  width: 620px;
}
#yui-main form.formtastic fieldset.inputs {
  background: #f3f3f3;
  margin: 10px 0;
  padding: 10px;
}
#yui-main form.formtastic fieldset.buttons {
  padding-top: 0;
  padding-left: 0;
}
#yui-main form.formtastic fieldset.collapsed {
  padding: 0 15px 0 15px;
  background-color: transparent;
  border-width: 1px 0 0 0;
}
#yui-main form.formtastic fieldset.collapsed legend,
#yui-main form.formtastic fieldset.collapsible legend 
{
  cursor: pointer;
}
#yui-main form.formtastic li.commit input {
  background: none repeat scroll 0 0 #996699;
  border: 1px solid #888888;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  height: 26px;
  
  padding: 0 8px;
}
#yui-main form.formtastic fieldset ol li label {
  width: 180px;
  font-weight: bold;
  margin-right: 10px;
}
#yui-main form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
  text-align: left;
}
#yui-main form.formtastic fieldset ol li.boolean label { 
  padding-left: 28%; 
  width: auto; 
}
#yui-main form.formtastic fieldset ol li.string input { 
  width: 395px; 
  padding: 1px; 
}
#yui-main form.formtastic fieldset ol li.email input { 
  width: 395px; 
  padding: 1px; 
}
#yui-main form.formtastic fieldset ol li.password input { 
  width: 395px; 
  padding: 1px; 
}
#yui-main form.formtastic fieldset ol li.numeric input {
  width: 395px;
  padding: 1px; 
}
#yui-main form.formtastic fieldset ol li.text textarea { 
  width: 395px; 
  padding: 1px; 
}
#yui-main form.formtastic fieldset ol li select {
  max-width: 30em; 
}
#yui-main form.formtastic fieldset ol li p.inline-hints { 
  color: #333; 
  margin-left: 190px; 
  font-size: 0.9em;
}
#yui-main form.formtastic fieldset > ol > li fieldset ol { padding-left: 190px; width: 465px; }
#yui-main form.formtastic fieldset > ol > li { margin-bottom: 1em; }
#yui-main form.formtastic fieldset > ol > li:last-child { margin-bottom: 0; }
#yui-main form.formtastic legend {
  border-bottom: 1px solid #CCCCCC;
  color: #797979;
  font-size: 100%;
  font-weight: 700;
  margin: 10px 0 0;
  padding: 0.25em 0.5em;
  background: white;
}
#yui-main form.formtastic fieldset > ol > li ul.errors {
  margin-left: 190px;
  color: red;
  font-weight: bold;
}
#yui-main form.formtastic .error {
  border: none;
}
#yui-main form.formtastic fieldset ol li p.inline-hints {
  clear: left;
}
#yui-main form.formtastic fieldset > ol > li > ul#attachment_file_list {
  margin-left: 190px;
}
#yui-main form.formtastic fieldset > ol > li > ul#attachment_file_list a {
  margin-left: 0.556em;
  font-size: 0.9em;
}

#yui-main form.formtastic fieldset.buttons .cancel {
  margin-left: 2em;
  line-height: 1.7em;
}
#yui-main form.formtastic fieldset > ol > li fieldset legend {
  border: 0;
  background: transparent;
  color: black;
  font-size: 1em;
  font-weight: normal;
}
#yui-main form.formtastic fieldset > ol > li fieldset legend.label label {
}
#yui-main form.formtastic fieldset ol li.string input.datepicker { width: 10em; padding: 1px; }
#yui-main form.formtastic fieldset ol li.string img.ui-datepicker-trigger  {
  margin: 0 2px;
  vertical-align:middle;
}


/**  Contribution submission form  **/
form#new_contribution fieldset > ol > li ul.errors {
  margin-left: 1em;
}
form#new_contribution fieldset ol li label {
  padding-left: 0;
}
form#new_contribution fieldset ol li p.inline-hints {
  margin-left: 0;
}


/**  Search form  **/
#yui-main form.search {
  width: 360px;
  float: left;
  margin: 1em 0;
}


/** Display options form **/
#yui-main form.options {
  width: 360px;
  float: right;
  clear: right;
}
#yui-main form.options fieldset.inputs {
  margin-top: 0;
}
#yui-main form.options fieldset > ol > li.check_boxes fieldset ol {
  padding-left: 1em;
  width: auto;
  float: none;
}
#yui-main form.options fieldset > ol > li fieldset legend {
  position: static;
  padding: 0;
}
#yui-main form.options fieldset > ol > li fieldset legend.label label {
  position: static;
  text-align: left;
}


/**  Stylised links  **/
a.new-member {
  background: url(../images/style/icons/new.png) no-repeat left center;
  padding-left: 21px;
  min-height: 16px;
}
a.attachment {
  background: url(../images/style/icons/attachment.png) no-repeat left center;
  padding-left: 21px;
  min-height: 16px;
 }

/**  Google Maps  **/
#yui-main #gmap-container {
  margin-top: 1em;
}
#yui-main #gmap-canvas {
  border: 1px solid #CCCCCC;
  margin-left: 28%;
}
#yui-main #gmap-address {
  width: auto;
}
#yui-main #gmap-search {
  width: auto;
}
.gmap-static img {
  border: 1px solid #CCCCCC;
}


/** Tables **/
table {
  border-collapse: collapse;
  clear: left;
  margin: 10px 0;
  background: white;
}
caption {
  white-space: nowrap;
  border-bottom: 1px solid #CCCCCC;
  color: #797979;
  font-size: 100%;
  font-weight: 700;
  margin: 10px 0 0;
  padding: 4px 0;
}
td {
  border-bottom: 1px solid #CCCCCC;
  font-size: 0.85em;
  line-height: 1.5em;
  padding: 0.25em;
}
th {
  background: none repeat scroll 0 0 #666666;
  border-right: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 700;
  padding: 0.25em;
  text-align: left;
}
th[scope=row] {
  text-align: right;
  vertical-align: top;
  width: 190px;
}

table.member-record, table.collection-members {
  clear: left;
  margin-left: 0;
  margin-right: 0;
  width: 620px;
}

/**  Contribution mgmt  **/
table.contributions {
  clear: none;
}
table.contributions th {
  text-align: center;
}
.contributions-drafts table.contributions,
.admin-contributions-submitted table.contributions {
  clear: left;
  float: left;
  padding: 0 10px 0 0;
  width: 48%;
}
.contributions-drafts th {
  background: none repeat scroll 0 0 #FF1493;
}
.contributions-submitted table.contributions,
.admin-contributions-approved table.contributions {
  clear: right;
  float: right;
  padding: 0 10px;
  width: 48%;
}
.contributions-submitted th {
  background: none repeat scroll 0 0 #26A097;
}


/** Action links **/
.action-links ul{background-color:transparent;float:right;list-style:none;margin:0;padding:0;width:120px;}
.action-links ul li{border-bottom:solid 1px #ccc;float:left;clear:left;list-style:none;margin:0 0 2px 0;width:120px;padding:0;}
.action-links ul a{color:#000;float:left;line-height:1.5;margin:0;padding:12px 0 0 4px;text-decoration:none;}
.action-links ul li a{margin-left:0;min-width:90px;}
.action-links ul a:link,ul a:visited,ul a:active{color:#000;text-decoration:none;}
.action-links ul .first a{background:#f0f0f0;}
.action-links ul li.no-border{border-bottom:none;margin:0 0 0 10px;padding:12px 0 0;}

/** Erster Weltkrieg additions **/

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

.link-buttons {
  margin: 0;
  padding: 0;
}
.link-buttons li {
  margin: 0;
  padding: 0;
}
.link-buttons a:link, .link-buttons a:visited, .link-buttons a:active {
  font-size: 125%;
  display: block;
  float: left;
  margin: 10px 0 20px 30px;
  padding: 10px; 
  width: 190px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  background: #996699;
  color: white;
  border: 1px solid #888888;
}
.link-buttons a:hover {
  border: 1px solid #CCCCCC;
  background: white;
  color: #797979;
}

.editors-pick {
  clear: both;
  border: 1px solid #CCCCCC;
  background: white;
  color: #797979;
  padding: 10px;
  margin: 0 0 20px 30px;
  width: 674px;
}
.editors-pick h2 {
  margin-top: 0;
}
.editors-pick h3 {
  margin: 10px 0;
}
.editors-pick img {
  float: left;
  margin: 0 10px 5px 0;
}

.film-highlight {
  float: left;
  clear: both;
  border: 1px solid #CCCCCC;
  background: white;
  color: #797979;
  padding: 10px;
  margin: 0 0 20px 30px;
  width: 400px;
}

.text-highlight {
  float: left;
  clear: right;
  background: white;
  color: #797979;
  margin: 0 0 20px 20px;
  width: 232px;
/*  border: 1px solid #CCCCCC;*/
  border: 1px solid white;
/*  padding: 10px;*/
}

ul.topNav {
  font-size:14px; 
  font-weight:bold;
}

.footer {
  background-image: url("/images/footer.png");
  background-repeat: repeat-x;
  height: 12px;
  margin-top: 30px;
  width: 100%;
}

