/*  hide the nav bar when printing */
div#mainnav {
  display: none;
}

body {
  padding: 1em;
  font-family: georgia, serif;
  font-size: 0.9em;
}

div#content img {
  float: right;
  margin-left: 10px;
  border: 1px solid #666;
}

div#footer {
  margin-top: 3em;
}

.screen-nav {
  display: none;
}