/**  Page layout  **/
body {
  margin: 0;
  padding: 5px;
  background: #F7F7F3 url(../images/style/bg-gradient.png) repeat-x scroll left top;
}
#all {
  color: black;
  width: 940px;
  position: relative;
  margin: 0 auto;
  background: white;
}
#header {
  height: 3em;
  background: #002147;
  color: white;
  padding: 1em;
}
#content {
  position: relative;
  width: 920px;
  top: 5px;
  border-top: 5px solid #A79D96;
  border-bottom: 5px solid #A79D96;
  margin-top: 2.15em;
  padding: 10px;
  background-color: white;
}
#content-end {
  clear: both;
}
#footer {
  clear: both;
  border-top: 5px solid #A79D96;
  margin: 0px;
  padding: 1em;
  margin-bottom: 50px;
  background: #002147;
  color: white;
  min-height: 3.25em;
}


/**  Site title in header  **/
#site-title {
  float: left;
  line-height: 1.5em;
}
#site-title a {
  color: white;
  text-decoration: none;
}


/** Session info in header **/
#session-links {
  float: right;
  clear: right;
  margin: -0.5em 0 0 0;
  padding: 0;
  list-style: none;
}
#session-links li {
  margin: 0;
  padding: 0;
}
#session-links a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: center;
  height: 1.316em; /* 1.316em * 0.95em = 1.25em */
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
  line-height: 1.316em; /* 1.316em * 0.95em = 1.25em */
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  background-color: #E0DED9;
  color: #44687D;
  font-weight: bold;
  font-size: 0.95em;
}
#session-links a:hover {
  background-color: #A79D96;
  color: white;
}
#session-id {
  float: right;
  height: 3em;
  line-height: 3em;
  margin-right: 1em;
  font-weight: bold;
  overflow: hidden;
  vertical-align: middle;
}
#session-id .label {
  display: none;
}

/** Locale switching links in header **/
#locale-links {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: absolute;
  top: 5.5em;
  right: 1em;
  color: black;
}
#locale-links li {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 0.8em;
}
#locale-links li a {

}

/**  Headings  **/
h1,h2,h3,h4,h5,h6 {
  color: #002147;
}
h1 {
  margin: 0;
  padding: 0.5em;
  padding-top: 1em;
}
h1#title {
  padding-top: 5px;
}
#content h2 {
  clear: both;
  margin-top: 1em;
}

/** Navigation **/
#nav {
  position: absolute;
  top: 5px;
  margin-top: 5em;
  left: 5px;
}
#nav ul {
  padding: 0px;
  margin: 0px;
}
#nav li {
  padding: 0px;
  margin: 0 5px 0 0;
  list-style: none;
  border: 0;
  float: left;
}
#nav a {
  text-align: right;
  display: block;
  border: 0;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.5em 1em;
  text-decoration: none;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
#nav a {
  background-color: #E0DED9;
  color: #44687D;
}
#nav a:hover, #nav a.active {
  background-color: #A79D96;
  color: white;
}


/**  Links  **/
a:link, a:visited, a:hover, a:active, a:focus {
  color: #CF7A30;
}
a img {
  border: 0;
}


/**  Lists **/
dt {
  margin-top: 1em;
  font-weight: bold;
}


/**  Tables  **/
table {
  border-collapse: collapse;
  clear: left;
  margin: 0.5em 0;
  background: white;
}
tbody {
  border-top: 2px solid #44687D;
  border-bottom: 2px solid #44687D;
}
caption {
  text-align: center;
  padding: 0.278em; /* 0.25em * 0.9em = 0.278em */
  background-color: #E0DED9;
  font-size: 0.9em;
  font-weight: bold;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border: 1px solid #44687D;
  margin-bottom: -1px;
  white-space: nowrap;
}
td, th {
  border: 1px solid #44687D;
  vertical-align: top;
  padding: 0.2778em; /* 0.9em * 0.2778em = 0.25em */
  font-size: 0.9em;
  background-color: #F7F7F3;
}
th {
  text-align: left;
  /*background-color: #E0DED9;*/
  color: #44687D;
}
th[scope=row] {
  text-align: right;
  vertical-align: top;
  width: 190px;
}


/**  Tables of resources  **/
table.collection-members tr {
  width: 700px;
  background: white;
}
table.collection-members a img {
  display: block;
}


/**  Tables of search results  **/
table.search-results {
  width: 100%;
  border-left: 0;
  border-right: 0;
}
table.search-results tbody {
  border-left: 0;
  border-right: 0;
}
table.search-results td, table.search-results th {
  border-left: 0;
  border-right: 0;
}


/**  Text  **/
.pre-formatted {
  white-space: pre;
}


/**  Pagination  **/
.pagination {
  text-align: center;
  margin: 0.5em 0;
  line-height: 2.175em;
  border: 2px solid #A79D96;
  border-left: 0;
  border-right: 0;
  padding: 0.5em;
}
.pagination a, .pagination span {
/*
  border: 1px solid #A79D96;
  background: #F7F5EF;
  padding: 0.125em;
*/
  padding: 0.556em 1.112em; /* 0.278em * 0.9em = 0.25em */
  font-size: 0.9em;
  font-weight: bold;
  /*line-height: 1.2em;*/
}
.pagination span {
  font-size: 1em;
  padding: 0.5em 1em;
}
.pagination a {
  text-decoration: none;
  background-color:#f7f7f3;
  color:#44687D;
}
.pagination a:hover {
  background-color: #A79D96;
  color: white;
}

tfoot .pagination {
  border: none;
  margin: 0;
}


/**  Flash alerts / notices  **/
.flash-alert, .flash-notice {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 1em;
  padding: 0.7em;
  background: #E0DED9;
  border-bottom: 5px solid #A79D96;
}
.flash-alert img, .flash-notice img {
  float: left;
  margin-right: 0.7em;
}
img.status-indicator {
  float: left;
  margin-right: 0.25em;
}
.inline-errors {
  background: url(../images/style/icons/status-alert.png) no-repeat left center;
  font-weight: bold;
  padding: 0.25em 0.25em 0.25em 21px;
  color: #933;
}


/** Formtastic forms **/
form.formtastic {
  clear: left;
}
form.formtastic fieldset.inputs {
  padding: 20px 15px 20px 15px;
  border: 1px solid #44687D;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #f7f7f3;
  margin: 1em 0;
}
form.formtastic fieldset.buttons {
  padding-top: 1em;
  padding-left: 1em;
}
form.formtastic fieldset.collapsed {
  padding: 0 15px 0 15px;
  background-color: transparent;
  border-width: 1px 0 0 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
form.formtastic fieldset.collapsed legend,
form.formtastic fieldset.collapsible legend 
{
  cursor: pointer;
}
form.formtastic fieldset ol li label {
  width: 180px;
  color:#44687D;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}
form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
  text-align: left;
}
form.formtastic fieldset ol li.boolean label { 
  padding-left: 28%; 
  width: auto; 
}
form.formtastic fieldset ol li.string input { 
  width: 465px; 
  padding: 1px; 
}
form.formtastic fieldset ol li.password input { 
  width: 465px; 
  padding: 1px; 
}
form.formtastic fieldset ol li.numeric input {
  width: 465px;
  padding: 1px; 
}
form.formtastic fieldset ol li.text textarea { 
  width: 465px; 
  padding: 1px; 
}
form.formtastic fieldset ol li select {
  max-width: 30em; 
}
form.formtastic fieldset ol li p.inline-hints { 
  color: #333; 
  margin-left: 190px; 
  font-size: 0.9em;
}
form.formtastic fieldset > ol > li fieldset ol { padding-left: 190px; width: 465px; }
form.formtastic fieldset > ol > li { margin-bottom: 1.5em; }
form.formtastic fieldset > ol > li:last-child { margin-bottom: 0; }
form.formtastic legend {
  padding: 0.25em 0.5em;
  border: 1px solid #44687D;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #E0DED9;
  font-size: 0.9em;
  font-weight: bold;
}
form.formtastic fieldset > ol > li ul.errors {
  margin-left: 190px;
  color: #933;
  font-weight: bold;
}
form.formtastic fieldset ol li p.inline-hints {
  clear: left;
}
form.formtastic fieldset > ol > li > ul#attachment_file_list {
  margin-left: 190px;
}
form.formtastic fieldset > ol > li > ul#attachment_file_list a {
  margin-left: 0.556em;
  font-size: 0.9em;
}
form.formtastic, table.member-record, table.collection-members {
  width: 700px;
  margin-left: 0;
  margin-right: 0;
}
form.options {
  width: 455px;
  float: right;
  clear: right;
}

form.options fieldset > ol > li.check_boxes fieldset ol {
  padding-left: 1em;
  width: auto;
  float: none;
}

form.options fieldset > ol > li fieldset legend {
  position: static;
  padding: 0;
}
form.options fieldset > ol > li fieldset legend.label label {
  position: static;
  text-align: left;
}
form.search {
  width: 455px;
  float: left;  
}

form.formtastic fieldset.buttons .cancel {
  margin-left: 2em;
  line-height: 1.7em;
}
form.formtastic fieldset > ol > li fieldset legend {
  border: 0;
  background: transparent;
  color: black;
  font-size: 1em;
  font-weight: normal;
}
form.formtastic fieldset > ol > li fieldset legend.label label {
}
form.formtastic fieldset ol li.string input.datepicker { width: 10em; padding: 1px; }
form.formtastic fieldset ol li.string img.ui-datepicker-trigger  {
  margin: 0 2px;
  vertical-align:middle;
}


/**  Contribution submission form  **/
form#new_contribution fieldset > ol > li ul.errors {
  margin-left: 1em;
}
form#new_contribution fieldset ol li label {
  padding-left: 0;
}
form#new_contribution fieldset ol li p.inline-hints {
  margin-left: 0;
}


/**  Search form  **/
form.search {
  margin: 1em 0;
}


/**  Google Maps  **/
#gmap-container {
  margin-top: 1em;
}
#gmap-canvas {
  border: 5px solid #A79D96;
  margin-left: 28%;
}
#gmap-address {
  width: auto;
}
#gmap-search {
  width: auto;
}
.gmap-static img {
  border: 5px solid #A79D96;
}


/**  Lists of link to related actions  **/
.action-links {
  border: 1px solid #44687D;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #f7f7f3;
  margin: 0.5em 0;
  padding: 0;
  width: 206px;
  float: right;
}
.action-links ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
.action-links li {
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px dashed #44687D;
}
.action-links li:last-child {
  border-bottom: 0;
}
.action-links form {
  display: inline;
}
.action-links form div {
  display: inline;
}    


/**  Devise login form  **/
form.devise {
  float: left;
}
form.devise fieldset.inputs {
  margin: 0.5em 0;
}
form.devise fieldset.buttons {
  padding-top: 0.5em;
}

/**  Contributor dashboard  **/
/*
table.contributions {
  width: 455px;
  clear: none;
}
.contributions-drafts, .admin-contributions-submitted {
  width: 455px;
  clear: left;
  float: left;
}
.contributions-submitted, .admin-contributions-approved {
  width: 455px;
  clear: right;
  float: right;
}
*/

/**  jQuery UI  **/
/*
.ui-tabs legend {
  display: none;
}
*/


/**  Resource action links  **/
ul.collection-actions {
  list-style: none;
  margin: 0;
  padding: 0
}
ul.collection-actions li {
  display: inline;
  padding: 0 1em 0 0;
  margin: 0;
}


/**  Stylised links  **/
a.new-member {
  background: url(../images/style/icons/new.png) no-repeat left center;
  padding-left: 21px;
  min-height: 16px;
}
a.attachment {
  background: url(../images/style/icons/attachment.png) no-repeat left center;
  padding-left: 21px;
  min-height: 16px;
}


/**  Stuff in the footer  **/
#footer .software-engine {
  float: left;
  width: 40%;
}


/**  jQuery UI  **/
.ui-sortable, form.formtastic .ui-sortable {
  padding: 0;
}
.ui-sortable li, form.formtastic .ui-sortable li {
  list-style: none;
  margin: 0.5em 0;
  padding: 0.25em 0.5em;
  background-color: #E0DED9;
  border:1px solid #A79D96;
  color:#44687D;
  font-weight:bold;
  overflow: hidden;
  height: 1.5em;
}
.ui-sortable li, form.formtastic .ui-sortable > li:first-child {
  margin-top: 0;
}
.ui-sortable li.ui-sortable-placeholder, form.formtastic .ui-sortable li.ui-sortable-placeholder {
  background: white;
  border-style: dashed;
}
.ui-sortable li, form.formtastic .ui-sortable li label {
  width: auto;
}

