/**
 *	forms
 *	1.6180339887%, 3.236067977%, 4.854101966, 8.090169944
 */

	form.formtastic fieldset {
		padding: 1.6180339887%;
		border: 1px solid #bfbfbf;
	}
	
	form.formtastic fieldset.buttons,
	form.formtastic fieldset fieldset {
		border: none;
	}
	
	legend label {
		font-weight: normal;
	}
	
	form.formtastic fieldset.collapsed,
	form.formtastic fieldset.collapsible {
		margin: 10px 0;
	}
	
	form.formtastic fieldset.collapsed legend,
	form.formtastic fieldset.collapsible legend {
		border: 1px solid #bfbfbf;
		padding-right: 20px;
		
		background-image: url('/images/europeana-theme/arrows/05_right.png');
		background-repeat: no-repeat;
		background-position: right center;
	}
	
	form.formtastic fieldset.collapsible legend {
		background-image: url('/images/europeana-theme/arrows/05_down.png');
	}
	
	form.formtastic fieldset.collapsible legend.label,
	form.formtastic fieldset.collapsed legend.label {
		border: none;
		background-image: none;
		background-color: transparent;
	}
	
	form.formtastic fieldset.buttons li {
		padding: 0;
		margin: 0 0 1% 0;
		float: none;
	}
	
	form.formtastic fieldset#submit > ol > li.boolean label,
	form#user_new.formtastic fieldset > ol > li.boolean label {
		padding-left: 0;
	}
	
	.contributions-drafts table.contributions,
	.admin-contributions-submitted table.contributions
	.admin-contributions-approved table.contributions {
		width: 100%;
	}
	
	
	.contributions-submitted table.contributions {
		float: none;
	}
	
	#user_new ul {
		margin: 20px;
	}
	
	form.formtastic fieldset.buttons li.cancel {
		padding: 6px 0;
	}
	
	
	.required input, .required textarea {
		border: 1px solid lightPink;
	}
	
	.error.required input, .error.required textarea {
		border: 2px solid red;
	}
	
	#contribution_metadata_attributes_field_location_placename,
	#attachment_metadata_attributes_field_location_placename {
		margin-right: 10px;
	}
