<h2>step 1</h2>
	
	<form action="/story/step2">
		
		<fieldset>
			
			<legend>Tell your story ...</legend>
			
			<ol>
				
				<li>
					<label>Story title</label><br/>
					<input type="text" />
					<span class="mandatory">mandatory field</span>
					A title for this contribution as a whole.<br/>
					<br/>
				</li>
			
				<li>
					<label>Story</label><br/>
					<textarea></textarea>
					<span class="mandatory">mandatory field</span>
					Write down the story behind your contribution.<br/>
					<br/>
				</li>
				
				<li>
					<label>Language</label><br/>
					<input type="checkbox" /> de<br/>
					<input type="checkbox" /> en<br/>
					<input type="checkbox" /> fr<br/>
					<input type="checkbox" /> other
					<input type="text" /><br/>
					<br/>
				</li>
				
				<li>
					<label>Contributed on behalf of</label><br/>
					<input type="text" /><br/>
					Leave blank unless you are helping someone to make this contribution<br/>
					<br/>
				</li>
				
				<li>
					<label>The story begins ...</label><br/>
					<select>
						<option value="">year</option>
						<option>1912</option>
						<option>1913</option>
						<option>1914</option>
						<option>1915</option>
						<option>1916</option>
						<option>1917</option>
						<option>1918</option>
						<option>1919</option>
						<option>1920</option>
						<option>1921</option>
						<option>1922</option>
						<option>1923</option>
					</select>
					<select>
						<option>month</option>
						<option>january</option>					
					</select>
					<select>
						<option>day</option>
						<option>1</option>
						<option>2</option>
					</select><br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit ...<br/>
					<br/>
				</li>
				
				<li>
					<label>The story ends ...</label><br/>
					<select>
						<option value="">year</option>
						<option>1912</option>
						<option>1913</option>
						<option>1914</option>
						<option>1915</option>
						<option>1916</option>
						<option>1917</option>
						<option>1918</option>
						<option>1919</option>
						<option>1920</option>
						<option>1921</option>
						<option>1922</option>
						<option>1923</option>
					</select>
					<select>
						<option>month</option>
						<option>january</option>					
					</select>
					<select>
						<option>day</option>
						<option>1</option>
						<option>2</option>
					</select><br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit ...<br/>
					<br/>
				</li>
				
				
				<li>
					<label>The story takes place at ...</label><br/>
					<input type="text" /><br/>
					The place where the object was created, for example London.<br/>
					<br/>
				</li>
				
				<li>
					<label>Put your story on the map ...</label><br/>
					<input type="text" /><br/>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, <a href="http://europeana/1914-1918/step1-form.html">use google maps</a><br/>
					<br/>
				</li>
				
				<li>
					
					<fieldset>
						
						<legend>Tag your story</legend>
						
							<ol>
								
								<li>
									<label>
										<input type="checkbox" value="63"> Anti-War Movement
									</label>
								</li>
								<li>
									<label for="attachment_metadata_attributes_field_keywords_term_ids_64"><input id="attachment_metadata_attributes_field_keywords_term_ids_64" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="64"> Artillery</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_65"><input id="attachment_metadata_attributes_field_keywords_term_ids_65" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="65"> Conscientious Objection</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_66"><input id="attachment_metadata_attributes_field_keywords_term_ids_66" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="66"> Gas Warfare</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_67"><input id="attachment_metadata_attributes_field_keywords_term_ids_67" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="67"> Home Front</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_68"><input id="attachment_metadata_attributes_field_keywords_term_ids_68" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="68"> Manufacture</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_69"><input id="attachment_metadata_attributes_field_keywords_term_ids_69" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="69"> Medical</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_70"><input id="attachment_metadata_attributes_field_keywords_term_ids_70" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="70"> Military Punishment</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_72"><input id="attachment_metadata_attributes_field_keywords_term_ids_72" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="72"> Prisoners of War</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_73"><input id="attachment_metadata_attributes_field_keywords_term_ids_73" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="73"> Propaganda</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_74"><input id="attachment_metadata_attributes_field_keywords_term_ids_74" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="74"> Recruitment and Conscription</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_75"><input id="attachment_metadata_attributes_field_keywords_term_ids_75" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="75"> Remembrance</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_76"><input id="attachment_metadata_attributes_field_keywords_term_ids_76" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="76"> Tanks and Armoured Fighting Vehicles</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_77"><input id="attachment_metadata_attributes_field_keywords_term_ids_77" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="77"> Transport</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_78"><input id="attachment_metadata_attributes_field_keywords_term_ids_78" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="78"> Trench Life</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_79"><input id="attachment_metadata_attributes_field_keywords_term_ids_79" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="79"> Women</label></li></ol>
							
						<p class="inline-hints">Only assign keywords which indicate or describe the main subject or broader concept which would help a user search for this content in the collection. If a relevant subject is not available please contact xxxx with details.</p>
						
					</fieldset>
					
					<br/>
				
				</li>
		
				<li>
					
					<fieldset>
						
						<legend>Which side in the war is this about</legend>
						
						<ol>
							
							<li>
								<input type="checkbox" />
								<label>Allied Forces</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Central Powers</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Imperial Forces</label>
							</li>
							
						</ol>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				
				<li>
					
					<fieldset>
						
						<legend>Which front is this story about</legend>
						
						<ol>
							
							<li>
								<input type="checkbox" />
								<label>Gallipoli Front</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>African Wars</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Balkans</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Italian Front</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Aerial Warfare</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Middle East</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Middle East</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Eastern Front</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Naval Warfare</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Western Front</label>
							</li>
							
						</ol>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				<li>
					
					<fieldset>
						
						<legend>Cataloger only</legend>
						
						<ol>
							<li>
								<input type="checkbox" /> <label>Editor's pick</label><br/>
								<br/>
							</li>
							<li>
								<label>Cataloguer</label><br/>
								<select>
									<option></option>
									<option>Alun</option>
									<option>Ylva</option>
								</select><br/>
								<br/>
							</li>
							
							<li>
								<label>Collection day</label><br/>
								<select>
									<option></option>
									<option>RG14</option>
								</select><br/>
								<br/>
							</li>
							
							<li>
								<label>Cataloger's notes</label><br/>
								<textarea></textarea>
							</li>
							
						</ol>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				<li>
					<input type="submit" value="Save story draft" />
				</li>
				
			</ol>
			
		</fieldset>
		
	</form>