<h2>story title from previous page</h2>
<h3>upload multiple items</h3>


	<form>
		
		<fieldset>
		
			<input type="file" /><br/>
			<input type="button" value="+" /> add another item<br/>
			<br/>
			<input type="submit" value="submit these items"/>
			
		
		</fieldset>
		
		
	</form>