<h2>step 2</h2>
<h3>the story title you gave in step 1</h3>
	
	<form>
		<fieldset>
			<p>Finished? If you are happy with your contribution, go ahead and submit it! If not, you can <a href="contribution.html">edit or add more information</a> or add attachments below</p>
			
			<ol>
				<li>
					<input type="checkbox" />
					<label>I agree to the <a href="terms-of-use.html" target="_blank">terms</a></label><br/>
					<br/>
				</li>
			</ol>
			
			<input type="submit" value="Submit contribution" />
		</fieldset>
	</form>
	
	<p>summary of attachments aready uploaded; initially there are none, however you can add as many as you wish</p>
	<table>
		
		<thead>
			
			<th>title</th>
			<th>attachment</th>
			<th>created</th>
				
		</thead>
		
		<tbody>
		
			<tr>
				<td>attachment 1</td>
				<td><img src="http://www.europeana1914-1918.eu/attachments/32308/2491.32308.original.jpg?1325753253" width="70"/></td>
				<td><a href="">delete</a></td>
			</tr>
			
		</tbody>
		
	</table>
	
	<form>
		
		<fieldset>
			
			<legend>Add a digital object</legend>
			
			<ol>
				
				<li>
					<label>Upload the file</label><br/>
					<input type="file" />
					<span class="mandatory">mandatory field</span>you can upload as many digital images as necessary; nb: if you upload many images you will be given the opportunity to speciy one as the “cover” image for your memorabilia collection<br/>
					<br/>
				</li>
				
				<li>
					
					<fieldset>
						
						<legend>Catalogers only</legend>
						
						<input type="submit" value="Save digital object"/>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				<li>
					<input type="checkbox" /> <label>Cover image</label><br/>
					<br/>
				</li>
				
				<li>
					<label>Page number</label><br/>
					<input type="text"/><br/>
					For an object of many pages write the individual page number<br/>
					<br/>
				</li>
				
				<li>
					<label>Side</label><br/>
					<input type="radio" /> front
					<input type="radio" /> back<br/>
					For an object with two sides, for example a postcard, indicate the side<br/>
					<br/>
				</li>
				
				<li>
					<label>Title</label><br/>
					<input type="text" /><br/>
					Short descriptive title or proper name of the object, for example, “My great grandfather, Otto Schmidt’s, Medal of Honor”<br/>
					<br/>
				</li>
				
				<li>
					<label>Description</label><br/>
					<textarea></textarea><br/>
					Describe the object's physical characteristics as well as what it reprsents and means to you.<br/>
					<br/>
				</li>
				
				<li>
					<label>Language</label><br/>
					<input type="checkbox" /> de<br/>
					<input type="checkbox" /> en<br/>
					<input type="checkbox" /> fr<br/>
					<input type="checkbox" /> other
					<input type="text" /><br/>
					<br/>
				</li>
				
				<li>
					<label>Type</label><br/>
					<select>
						<option></option>
						<option>Diary</option>
						<option>Letter</option>
						<option>Medal</option>
						<option>Photograph</option>
						<option>Poem</option>
						<option>others from the database ...</option>
					</select><br/>
					What the object is (for example poem, letter, photograph); try to be as specific as possible<br/>
					<br/>
				</li>
				
				<li>
					<label>Creator's Surname</label><br/>
					<input type="text" /><br/>
					<br/>
					<label>Creator's first name</label><br/>
					<input type="text" /><br/>
					Name of the person who created the original object, for example the author of a letter or diary or a photographer's name<br/>
					<br/>
				</li>
				
				<li>
					<label>Subject</label><br/>
					<input type="text" /><br/>
					The person or place or object the contribution is about<br/>
					<br/>
				</li>
				
				<li>
					<label>Location (place name)</label><br/>
					<input type="text" /><br/>
					The place where the object was created (where a letter was written from or a photograph taken), for example London.<br/>
					<br/>
				</li>
				
				<li>
					<label>Location (map)</label><br/>
					<input type="text" /><br/>
					Click on the link below to use Google Maps to pinpoint where the object was created (where a letter was written or a photograph taken). When the map appears, click on it or use the search box below the map to find the location. Format: LAT,LNG, e.g. 51.500,-0.126 (for London)
					<a href="http://europeana/1914-1918/step1-form.html">use google maps</a><br/>
					<br/>
				</li>
				
				
				<li>
					<label>Date created</label><br/>
					<select>
						<option value="">year</option>
						<option>1912</option>
						<option>1913</option>
						<option>1914</option>
						<option>1915</option>
						<option>1916</option>
						<option>1917</option>
						<option>1918</option>
						<option>1919</option>
						<option>1920</option>
						<option>1921</option>
						<option>1922</option>
						<option>1923</option>
					</select>
					<select>
						<option>month</option>
						<option>january</option>					
					</select>
					<select>
						<option>day</option>
						<option>1</option>
						<option>2</option>
					</select><br/>
					Choose the date when the object was created (for example when the letter or begining of a series of letters was first written, the first of a diary or the photograph was taken). Please be as specific as possible, so if you only know the year only enter that, if you know the year and month enter those, etc.<br/>
					<br/>
				</li>
				
				<li>
					<label>Date range ending</label><br/>
					<select>
						<option value="">year</option>
						<option>1912</option>
						<option>1913</option>
						<option>1914</option>
						<option>1915</option>
						<option>1916</option>
						<option>1917</option>
						<option>1918</option>
						<option>1919</option>
						<option>1920</option>
						<option>1921</option>
						<option>1922</option>
						<option>1923</option>
					</select>
					<select>
						<option>month</option>
						<option>january</option>					
					</select>
					<select>
						<option>day</option>
						<option>1</option>
						<option>2</option>
					</select><br/>
					End the date for an object with a date range, like a diary.<br/>
					<br/>
				</li>
				
				<li>
					
					<fieldset>
						
						<legend>Tag your story</legend>
						
							<ol>
								
								<li>
									<label>
										<input type="checkbox" value="63"> Anti-War Movement
									</label>
								</li>
								<li>
									<label for="attachment_metadata_attributes_field_keywords_term_ids_64"><input id="attachment_metadata_attributes_field_keywords_term_ids_64" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="64"> Artillery</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_65"><input id="attachment_metadata_attributes_field_keywords_term_ids_65" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="65"> Conscientious Objection</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_66"><input id="attachment_metadata_attributes_field_keywords_term_ids_66" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="66"> Gas Warfare</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_67"><input id="attachment_metadata_attributes_field_keywords_term_ids_67" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="67"> Home Front</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_68"><input id="attachment_metadata_attributes_field_keywords_term_ids_68" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="68"> Manufacture</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_69"><input id="attachment_metadata_attributes_field_keywords_term_ids_69" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="69"> Medical</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_70"><input id="attachment_metadata_attributes_field_keywords_term_ids_70" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="70"> Military Punishment</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_72"><input id="attachment_metadata_attributes_field_keywords_term_ids_72" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="72"> Prisoners of War</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_73"><input id="attachment_metadata_attributes_field_keywords_term_ids_73" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="73"> Propaganda</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_74"><input id="attachment_metadata_attributes_field_keywords_term_ids_74" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="74"> Recruitment and Conscription</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_75"><input id="attachment_metadata_attributes_field_keywords_term_ids_75" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="75"> Remembrance</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_76"><input id="attachment_metadata_attributes_field_keywords_term_ids_76" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="76"> Tanks and Armoured Fighting Vehicles</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_77"><input id="attachment_metadata_attributes_field_keywords_term_ids_77" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="77"> Transport</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_78"><input id="attachment_metadata_attributes_field_keywords_term_ids_78" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="78"> Trench Life</label></li><li><label for="attachment_metadata_attributes_field_keywords_term_ids_79"><input id="attachment_metadata_attributes_field_keywords_term_ids_79" name="attachment[metadata_attributes][field_keywords_term_ids][]" type="checkbox" value="79"> Women</label></li></ol>
							
						<p class="inline-hints">Only assign keywords which indicate or describe the main subject or broader concept which would help a user search for this content in the collection. If a relevant subject is not available please contact xxxx with details.</p>
						
					</fieldset>
					
					<br/>
				
				</li>
		
				<li>
					
					<fieldset>
						
						<legend>Which side in the war is this about</legend>
						
						<ol>
							
							<li>
								<input type="checkbox" />
								<label>Allied Forces</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Central Powers</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Imperial Forces</label>
							</li>
							
						</ol>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				
				<li>
					
					<fieldset>
						
						<legend>Which front is this story about</legend>
						
						<ol>
							
							<li>
								<input type="checkbox" />
								<label>Gallipoli Front</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>African Wars</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Balkans</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Italian Front</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Aerial Warfare</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Middle East</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Middle East</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Eastern Front</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Naval Warfare</label>
							</li>
							
							<li>
								<input type="checkbox" />
								<label>Western Front</label>
							</li>
							
						</ol>
						
					</fieldset>
					
					<br/>
					
				</li>
				
				<li>
					
					<fieldset>
						
						<legend>Cataloguers only</legend>
						
						<ol>
							
							<li>
								<label>Source</label><br/>
								<select>
									<option value=""></option>
									<option value="14">Other</option>
									<option value="5">Artifact</option>
									<option value="10">Leaf</option>
									<option value="6">Book</option>
									<option value="7">Film</option>
									<option value="8">Folio</option>
									<option value="15">Photograph</option>
									<option value="13">Notebook</option>
									<option value="16">Postcard</option>
									<option value="19">Vinyl record</option>
									<option value="17">Tape</option>
									<option value="18">Unknown</option>
									<option value="11">Multiple</option>
									<option value="9">Journal</option>
									<option value="12">Newspaper</option>
								</select><br/>
								The source that the item was digitised from (for example a leaf, a folio, a notebook, a reel of film).<br/>
								<br/>
							</li>
							
							<li>
								<label>Medium</label><br/>
								<select>
									<option></option>
									<option value="27">Other</option>
									<option value="23">Digital</option>
									<option value="29">Photographic paper</option>
									<option value="35">Wood</option>
									<option value="21">Card</option>
									<option value="22">Ceramic/China</option>
									<option value="24">Leather</option>
									<option value="20">Canvas</option>
									<option value="25">Metal</option>
									<option value="26">Mixed</option>
									<option value="28">Paper</option>
									<option value="34">Vinyl</option>
									<option value="31">Text: memoir</option>
									<option value="32">Text: transcription</option>
									<option value="30">Tape</option>
									<option value="33">Unknown</option>
								</select><br/>
								The material of the object that has been digitised (for example paper, card, tape).<br/>
								<br/>
							</li>
							
							<li>
								<label>Total number of pages</label><br/>
								<input type="text"/><br/>
								<br/>
							</li>
							
							<li>
								<label>Cataloger's notes</label><br/>
								<textarea></textarea><br/>
								<br/>
							</li>
							
							
							<li>
								<label>media type</label><br/>
								<select>
									<option>Text</option>
									<option>Image</option>
									<option>Video</option>
									<option>Audio</option>
									<option>3d</option>
								</select>
								<span class="mandatory">mandatory field</span><br/>
								<br/>
							</li>
							
							<li>
								<label>License</label><br/>
								<select>
									<option>cc-by-sa</option>
									<option>public domain</option>
									<option>others from the database ...</option>
								</select><br/>
								<span class="mandatory">mandatory field</span>
								this list should come from the db, default is cc-by-sa
							</li>
							
						</ol>
						
					</fieldset>
					
					<br/>
				
				</li>
				
				<input type="submit" value="Save digital object"/>
				
			</ol>
			
		</fieldset>
		
	</form>