/*
	@import "compass";
*/
/* Breakpoints

$break-desktop: 48em; */
/* line 40, sass/partials/_buttons.scss */
/*
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
}

input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1;
}
*/

/**
 *	translate-details
 */
/* OLD STUFF  */
/* line 6, sass/item.scss */
.location-desc {
  margin-top: 3em;
}

/* line 11, sass/item.scss */
.add-tags {
  textarea-width: 100%;
}

/* line 20, sass/item.scss */
.related-content {
  max-width: 33em;
  margin: auto;
}

/* line 25, sass/item.scss */
.nav-top {
  margin: 0 0 2em;
}
/* line 27, sass/item.scss */
.nav-top .link-back {
  display: none;
  
}

/* line 35, sass/item.scss */
.img-panel,
.panel {
  background-color: #d6d6d6;
  border: 1px solid #D9D9D9;
  padding: 1em;
}

.img-panel {
  text-align: center;
}

.img-panel img {
  max-width: 100%;
}


.dcTitle {
  font-size: 1.4em;
  margin-bottom: 0.75em;
}

/* line 51, sass/item.scss */
.contribution-title.show-on-phones,
.dcTitle.show-on-phones {
  text-align: center;
  margin: 1.5em 0;
}

/* line 56, sass/item.scss */
.subtitle {
  background-color: #333333;
  color: #FFF;
  padding: 0.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 65, sass/item.scss */
.subtext {
  font-size: 0.75em;
  position: relative;
  top: -0.75em;
}

/* line 71, sass/item.scss */
.meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 77, sass/item.scss */
.title {
  font-weight: bold;
}

/* map controls styling */
/* line 82, sass/item.scss */
#map-container {
  position: relative;
}

/* line 86, sass/item.scss */
#map {
  height: 40em;
  width: 100%;
}

/* line 91, sass/item.scss */
#europeana-ctrls {
  color: #E3D6B6;
  padding: 1.5em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* line 100, sass/item.scss */
#layer-ctrl span {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #888888;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #000000;
  cursor: pointer;
  float: right;
  margin-left: 1em;
  padding: 0.5em;
}

/* Comments */
/* line 115, sass/item.scss */
.related-content hr,
.comments hr {
  border: none;
  color: #d9d9d9;
  background-color: #d9d9d9;
  border-top: 1px solid #d9d9d9;
  height: 1px;
}

/* line 123, sass/item.scss */
.comments .content {
  overflow: hidden;
  width: 100%;
  display: table;
}

/* line 130, sass/item.scss */
.comments .content img,
.comments .content .user-tagline {
  display: block;
  text-align: center;
  margin-right: 1.56em;
}

/* line 136, sass/item.scss */
.comments .content img {
  margin: auto;
}

/* line 141, sass/item.scss */
.comments .content div {
  display: table-cell;
  vertical-align: top;
}
/* line 146, sass/item.scss */
.comments textarea {
  width: 100%;
  margin: 0 0 1.56em 0;
}
/* line 151, sass/item.scss */
.comments input {
  display: block;
  margin: auto;
}
/* line 156, sass/item.scss */
.comments .comment-sub-heading-2 {
  margin: 1em 0;
}

/* Tags */
/* line 165, sass/item.scss */
.tags {
  margin: 1em 0;
}

/* line 169, sass/item.scss */
.tags > li {
  display: inline-block;
  margin-bottom: 0.5em;
}

/* line 174, sass/item.scss */
.tags > li > a {
  margin-right: 0.5em;
  background: #d6d6d6;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}

/* line 181, sass/item.scss */
.tags > li .action-links {
  display: none;
  position: absolute;
  border-radius: 0 0.25em 0.25em 0.25em;
  margin-top: 1px;
}

/* line 188, sass/item.scss */
.tags > li:hover .action-links {
  display: block;
}

/* line 192, sass/item.scss */
.tags > li .action-links li {
  margin: 0.25em;
  clear: left;
  text-transform: lowercase;
}

/* line 199, sass/item.scss */
.tags-panel,
.add-tag-panel {
  margin: 1em 0 0 0;
}

/* line 203, sass/item.scss */
.tags-panel ul {
  margin: 0;
}

/* line 207, sass/item.scss */
#add_tags_form {
  clear: both;
}

/* line 211, sass/item.scss */
#add_tags_form input {
  max-width: 100%;
  width: 100%;
  border: 1px solid #D9D9D9;
  padding: 0.25em;
}

@media only screen and (min-width: 54em) {
  /* line 223, sass/item.scss */
  .nav-top .link-back {
    display: inline;
  }

  /* line 229, sass/item.scss */
  .related-content {
    max-width: none;
  }

  /* line 233, sass/item.scss */
  .location-desc {
    margin-top: 2em;
  }
}
/* NEW STUFF  */
/* line 246, sass/item.scss */
blockquote {
  background-color: cyan;
  max-width: 33em;
  margin: auto;
}

.container{
  margin-top: 1em;
/*	width:            100%;*/
/*	max-width:        105.24em;*/
/*	margin:           auto;*/
/*	padding:          0 1.56em;*/

/*	background-color: purple;*/
}

/* line 264, sass/item.scss */
.col {
  display: block;
  margin-bottom: 1.56em;
}

/* line 270, sass/item.scss */
.col-cell {
  font-size: 1em;
  max-width: 33em;
  line-height: 1.56em;
  margin: auto;
  margin-bottom: 1.56em;
}

/* line 278, sass/item.scss */
.col-cell.grey {
  background-color: #F2F2F2;
  border: 1px solid #D9D9D9;
  padding: 1em;
}

/* line 286, sass/item.scss */
.container,
.col,
.col-cell {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, sass/partials/_translation-services.scss */
#translate-details {
  text-align: right;
}

/* line 11, sass/partials/_translation-services.scss */
#translation-services {
  font-size: 80%;
  XXXXXfloat: right;
}

/* line 16, sass/partials/_translation-services.scss */
#translation-services img {
  display: none;
}

/* line 20, sass/partials/_translation-services.scss */
#microsoft-translate-element select {
  display: block;
  XXXXfloat: right;
}


#microsoft-translate-element > span {
  XXXmargin-left: 1em;
  XXXtext-align: right;
}

/*
@media all and (min-width: 54em) {
*/

/*
  Carousel needs more room - bumping 54 to 58
*/
@media all and (min-width: 54em) {

  #microsoft-translate-element select {
    XXXXdisplay: inline-block;
    XXXXfloat: none;
  }

  #microsoft-translate-element > span {
    width: auto;
  }

  .col {
    width: 33.3333%;
    display: inline-block;
    margin: 0;
    float: left;
  }


  .col.left {
    padding-right: 1.56em;
    padding-right: 0.52em;
    /* ( 1.56 / 3 ) */
  }


  .col.middle {
    padding-left: 1.04em;
    /* ( (1.56 / 3) x 2 ) */
    overflow: visible;
    width: 66.666%;
  }


  .col-cell {
    margin: 0;
    margin-bottom: 1.56em;
  }


  .col.middle .col-cell {
    clear: both;
    width: 33em;
    /*  33em base plus margin */
  }

  blockquote {
    left: -50%;
    position: relative;
    max-width: none;
    margin: 0;
    margin-left: -0.39em;
    /* 1.56 / 4 */
    width: 150%;
    font-size: 2em;
  }
}
