<%
	if ( @attachment.title.blank? )
		title = @attachment.file_file_name
	else
		title = @attachment.title
	end
-%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="/themes/common/mediaelement/mediaelementplayer.min.css"/>
<title><%= title %></title>
<style>body{margin:0;padding:0;overflow:hidden;}.mejs-container{max-height:480px;margin:auto;}</style>
</head>
<body>
<% if ( @attachment.video? ) -%>
<%= video_tag attachment_url( @attachment, 'large' ),
	:controls => true,
	:preload => 'none',
	:style => 'width:100%;height:100%;'
	#:poster => attachment_thumbnail_url( @attachment, 'preview' )
%>
<% elsif ( @attachment.audio? ) -%>
<%= audio_tag attachment_url( @attachment, 'large' ),
	:controls => true,
	:preload => 'none',
	:style => 'width:100%;height:100%;'
	#:poster => attachment_thumbnail_url( @attachment, 'preview' )
%>
<% end -%>
<%
	script_files = [
		"/themes/#{session[:theme]}/javascripts/com/jquery/jquery-1.7.1.min.js",
		'/themes/common/mediaelement/mediaelement-and-player.min.js'
	]
%>
<%= javascript_include_tag script_files, :cache => '/cache/javascripts/' + asset_bundle_id(script_files) %>
<script>$('audio,video').mediaelementplayer({});</script>
</body>
</html>
