# # This file allows you to specify the location of the e7a_1418_iframe.js file in order to load a specific version.
# # Simply uncomment and set the full path to the file which you wish to load.
# # If you don't provide a source, it will default to 'http://styleguide.europeana.eu/js/modules/eu/e7a_1418_iframe.js'
# RunCoCo::Application.config.e7a_1418_iframe_source = ''