# Supply a list of parent domains by which the application may be iframed.
# RunCoCo::Application.config.iframe_parent_domains = %w(
#   http://www.example.com
#   https://www.example.com
#   http://sub.example.com
#   https://sub.example.com
# )
