##
# Specify the engine to use for contribution searches.
#
# If set to Solr or Sphinx and that engine is not accessible, ActiveRecord
# will be used as a fallback.
#
RunCoCo.configuration.search_engine = :active_record
#RunCoCo.configuration.search_engine = :solr
#RunCoCo.configuration.search_engine = :sphinx

