##
# Configuration settings for the search form's auto-complete suggestions.
#

# Only suggest words/phrases with a minimum of this length
#SearchSuggestion.min_word_length = 3

# Maximum number of suggestions to return in one query
#SearchSuggestion.max_matches = 30

# Minimum frequency for words/phrases to be stored as a suggestion
#SearchSuggestion.min_frequency = 5

# Default number of stop words to extract from main contribution search index
# when using the rake task "auto_complete:stops:generate". Can be overriden
# with the COUNT environment variable.
#SearchSuggestion.max_stops = 1000
