<table class="member-record">
  <caption><%= t('views.users._summary.caption') %></caption>
  <tr>
    <th scope="row"><%= User.human_attribute_name(:email) %></th>
    <td><%= user.email %></td>
  </tr>
</table>
