<% @title = 'Previous exports' %>

<% if @exports.present? -%>
  <ul>
    <% for path in @exports %>
      <li><%= link_to path, admin_export_path(:id => path) %></li>
    <% end %>
  </ul>
<% else -%>
  <p>No previous exports.</p>
<% end -%>
