<% @title = 'Previous exports' %>

<% if @exports.present? -%>
  <ul>
    <% for export in @exports %>
      <li><%= link_to File.basename(export.file.path), admin_export_path(export) %></li>
    <% end %>
  </ul>
<% else -%>
  <p>No previous exports.</p>
<% end -%>
