<%

	developer_content = '<!--carousel images-->'
	annotatable = local_assigns[:annotatable].present? ? local_assigns[:annotatable] : false
	html = ''

	link_attrs.merge!({
		:rel => 'prettyPhoto[gallery]'
	})

	carouselImages.each do |img_src|
		this_link_text = link_text

		link_attrs.merge!({
			'data-attachment-id' => @item_count,
			'data-attachment-preview-url' => img_src
		})

		# preview link data-description
		# additional info link
		# placed in the pretty photo lightbox under the mediafile
		link_attrs.merge!({
			'data-description' =>
				'<a ' +
					'href="#inline-' + @item_count.to_s + '" ' +
					'class="lightbox-info" ' +
					'title="' + t('common.additional-information') + '"' +
				'>' +
				'</a>'
		})

		if annotatable.present?
			link_attrs.merge!({
				'data-annotatable-type' => annotatable.class,
				'data-annotatable-id' => annotatable.id
			})

			if annotatable.visible_annotations { |a| a.src == img_src }.present?
				this_link_text = content_tag(
					'p',
					t( 'common.links.view-image' ).html_safe +
					content_tag( 'span', '', :class => 'annotorious-carousel-icon' ),
					:class => 'view-item-annotorious'
				)
			end
		end

		# add the first item with its preview image
		if @item_count == 0
			link_image = image_tag( img_src, :alt => title )
			link_content = link_image + this_link_text

			html += content_tag(
				'li',
				link_to( link_content, img_src, link_attrs )
			)

			html += developer_content

		# when not the first item, add a placeholder
		else
			link_content = unknown_image + this_link_text

			html += content_tag(
				'li',
				link_to( link_content, img_src, link_attrs ),
				:class => 'item-placeholder'
			)

			html += developer_content
		end

		html += content_tag(
			'dl',
			title,
			:class => 'lightbox-metadata',
			:id => 'inline-' + @item_count.to_s,
			'data-title' => title,
      'data-url' => url_for( :only_path => false ),
      'data-image' => img_src
		)

		@item_count += 1

	end

%>
<%= html.html_safe -%>
