<% @title = 'Acknowledgements' %>

<p>The First World War in everyday documents (Erster Weltkrieg in Alltagsdokumenten) would like to express gratitude to everyone who allowed their images to be used on our website and in our publications:</p>

<ul>
  <li>The images of artefacts relating to Bernard Darley and Otto Arndt (the film story) are from <a href="http://www.oucs.ox.ac.uk/ww1lit/gwa">The Great War Archive</a>, University of Oxford; © Merilyn Jones</li>
  <li>Other images are from: <a href="http://www.stephenbull.co.uk/">Stephen Bull</a>, miliary historian and author available under a <a href="http://creativecommons.org/licenses/by/2.0/deed.en_GB">CC licence</a>; <a href="http://www.factsandfiles.com/">Frank Drauschke Facts &amp; Files</a> Historical Research Institute, Berlin; <a href="http://www.flickr.com/photos/drakegoodman/">Drake Goodman</a> available under a <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">CC licence</a>; from <a href="http://www.flickr.com/photos/geertschneider/4027449938/">Geert Schneider</a> available under a <a href="http://creativecommons.org/licenses/by/2.0/deed.en_GB">CC licence</a>; <a href="http://commons.wikimedia.org/wiki/File:Het_treurende_ouderpaar_-_K%C3%A4the_Kolwitz.JPG">Wikimedia Commons</a>; as well as from <a href="http://www.oucs.ox.ac.uk/ww1lit/gwa">The Great War Archive</a> and the <a href="http://www.oucs.ox.ac.uk/ww1lit/">First World War Poetry Digital Archive</a>, © University of Oxford.</li>
</ul>

<p>Acknowledgements to the project's funders, local partners, and all other supporters will be added here soon.</p>


