<% @title = 'Acknowledgements' %>

<p>Das Projekt "Erster Weltkrieg in Alltagsdokumenten" bedankt sich bei allen, die die Genehmigung zur Verwendung ihrer Bilder auf unserer Website und in unseren Veröffentlichung erteilt haben.</p>

<ul>
  <li>Die Bilder der Artefakte von Bernard Darley und Otto Arndt (Film-Geschichte) wurden freundlicherweise vom <a href="http://www.oucs.ox.ac.uk/ww1lit/gwa">Great War Archive</a>, University of Oxford zur verfügung gestellt; © Merilyn Jones</li>
  <li>Die anderen Bilder wurden freundlicherweise zur Verfügung gestellt von: <a href="http://www.stephenbull.co.uk/">Stephen Bull</a>, Militär-Historiker und Autor, Lizenz: <a href="http://creativecommons.org/licenses/by/2.0/deed.en_GB">CC licence</a>; <a href="http://www.factsandfiles.com/">Frank Drauschke Facts &amp; Files</a> Historisches Forschungsinstitut, Berlin; <a href="http://www.flickr.com/photos/drakegoodman/">Drake Goodman</a> Lizenz: <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">CC licence</a>; von <a href="http://www.flickr.com/photos/geertschneider/4027449938/">Geert Schneider</a> Lizenz: <a href="http://creativecommons.org/licenses/by/2.0/deed.en_GB">CC licence</a>; <a href="http://commons.wikimedia.org/wiki/File:Het_treurende_ouderpaar_-_K%C3%A4the_Kolwitz.JPG">Wikimedia Commons</a>; und von <a href="http://www.oucs.ox.ac.uk/ww1lit/gwa">The Great War Archive</a> sowie <a href="http://www.oucs.ox.ac.uk/ww1lit/">First World War Poetry Digital Archive</a>, © University of Oxford.</li>
</ul>

<p>Danksagungen an die Förderer des Projekts, die lokalen Partner und alle anderen Unterstützer werden demnächst hier ergänzt.</p>


