<% @title = 'About us' %>

<h3>Background</h3>
<p>Europeana 1914-1918 is based on an initiative at the University of Oxford where people across Britain were asked to bring family letters, photographs and keepsakes from the War to be digitised. The success of the idea – which became the Great War Archive – has encouraged Europeana, Europe’s digital archive, library and museum, to bring the German National Library into an alliance with Oxford University to roll out the scheme in Germany. The collaboration will bring German stories online alongside their British counterparts in a 1914-18 archive.</p>
<p>Press release for the project launch 24 March 2011 (<a href="/pdfs/Press_release_EWA_240311.pdf" title="A pdf version of the project launch press release" target="_blank">available as .pdf</a>)</p>
<h3>What we are doing</h3>
<p>
The project is collecting memorabilia and stories from the period of the Great War (1914-1918). This phase of the project is focussing on German items: letters, postcards, photographs and stories from Germany or with a German connection. Contributions can be made in two ways:<ol><li>Via the project website - add a picture of the item or type in the story online.</li> 
<li>At the project roadshow events - bring the item(s) to the event where project staff will photograph the items and record the stories that go with them</li></ol>
<h3>Europeana 1914-1918 archive roadshows</h3>
<p>
At the project roadshow events, members of the public are invited to bring their documents, artefacts and stories from the First World War to be recorded by the project staff. The stories and scanned or photographed images of the objects are then added to the archive. <!--The project has held four roadshows where members of the public were invited to bring their documents, artefacts and stories from the First World War. At the events, project staff recorded stories and scanned or photographed the objects. The stories and images of the object will be added to the archive.--> 
Because of the overwhelming public response, four further roadshow events have been organised (see <a href="/pdfs/Press_release_EWA_100611.pdf" title="Press release (.pdf). opens in new window" target="_blank">Press release</a>):
<ul><li><a href="http://www.erfurt.de/ef/de/leben/bildung/bibliotheken/stur_orte/19433.shtml"
 target="_blank" title="To the Library website (new window)">Stadt- und Regionalbibliothek Erfurt</a>, 14 June 2011, 10am-6pm</li>
<li><a href="http://www.slub-dresden.de/"
 target="_blank" title="To the Library website (new window)">Sächsische Landes- und Universitätsbibliothek Dresden</a>, 22 June 2011, 10am-6pm</li>
<li><a href="http://www.kiel.de/kultur/stadtbuecherei/zentralbuecherei.php"
 target="_blank" title="To the Library website (new window)">Zentralbücherei Kiel</a>, 29 June 2011, 10am-6pm</li>
<li><a href="http://www.staatliche-bibliothek-regensburg.de/"
 target="_blank" title="To the Library website (new window)">Staatliche Bibliothek Regensburg</a>, 20 July 2011, 10am-6pm</li></ul>

Roadshows have previously been held at the following locations (click on the link to see the objects that have been added to the archive):
<ul class="point"><li><a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=FR07" title="See Frankfurt objects">Frankfurt 31 March 2011</a></li>
<li><a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=BE08" title="See Berlin objects">Berlin 2 April 2011</a></li>
<li><a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=MU09" title="See Munich objects">Munich 6 April 2011</a></li>
<li><a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=ST10" title="See Stuttgart objects">Stuttgart 12 April 2011</a></li></ul>
</p>
<h3>Online archive</h3>
<p>
The online archive opened in March 2011. At the website, anyone can add their objects to the archive together with their stories. More information about how to add something to the archive can be found on the Make a submission page. The objects that are submitted will be checked by the project team and then made available through Europeana.
</p>

<h3>Project partners</h3>
<p>
The project is co-ordinated by: 
<ul class="point"><li><b>The German National Library – die Deutsche Nationalbibliothek (<a href="http://www.d-nb.de/eng/index.htm" target="_blank" title="To the DNB website (new window)"> http://www.d-nb.de/</a>)</b><br /> The central archival library and national bibliographic centre for the Federal Republic of Germany. Its task, unique in Germany, is to collect, archive, document and make available all German and German-language publications from 1913 on. In addition it collects foreign publications about Germany, translations of German works, and the works of German-speaking emigrants published abroad between 1933 and 1945. The German National Library maintains co-operative external relations at a national and international level.</li>
<li><b>University of Oxford (<a href="http://www.ox.ac.uk" target="_blank" title="To the University of Oxford website (new window)">http://www.ox.ac.uk</a>)</b><br />The University of Oxford is represented by the <a href="http://runcoco.oucs.ox.ac.uk/ " title="To the RunCoCo website (new window)" target="_blank">RunCoCo</a> project. RunCoCo is an initiative in the UK to support community collections, building on the success of <a href="http://www.oucs.ox.ac.uk/ww1lit/gwa" title="To the Great War Archive website (new window)" target="_blank">The Great War Archive</a>, part of the <a href="http://www.oucs.ox.ac.uk/ww1lit/" title="To the First World War Poetry Digital Archive (new window)" target="_blank">First World War Poetry Digital Archive</a>. RunCoCo was funded by <a href="http://www.jisc.ac.uk/whatwedo/programmes/digitisation/econtent.aspx">JISC</a>, and the project is based at the <a href="http://www.oucs.ox.ac.uk/ltg/" title="To the LTG website (new window)" target="_blank">Learning Technologies Group</a>, <a href="http://www.oucs.ox.ac.uk/" title="To the OUCS website (new window)" target="_blank">Oxford University Computing Services (OUCS)</a>.</li>
<li><b>Europeana (<a href="http://www.europeana.eu" target="_blank" title="To the Europeana website (new window)">http://www.europeana.eu</a>)</b><br /> A partnership of European cultural heritage associations that have joined forces to bring together the digitised content of Europe’s galleries, libraries, museums, archives and audiovisual archives. Currently Europeana gives integrated access to 15 million books, films, paintings, museum objects and archival documents from some 1500 content providers. The content is drawn from every European member state and the interface is in 27 European languages. Europeana receives its main funding from the European Commission.</li></ul>
</p>
<h4>Local partners</h4>
<p>Support has been offered by our local partners, in particular in relation to the roadshows
<ul class="point"><li>Staatsbibliothek zu Berlin – Preußischer Kulturbesitz <a href="http://staatsbibliothek-berlin.de">http://staatsbibliothek-berlin.de</a></li>
<li>Bayerische Staatsbibliothek <a href="http://www.bsb-muenchen.de">http://www.bsb-muenchen.de</a></li>
<li>Württembergische Landesbibliothek  / Bibliothek für Zeitgeschichte <a href="http://www.wlb-stuttgart.de/sammlungen/bibliothek-fuer-zeitgeschichte">http://www.wlb-stuttgart.de/sammlungen/bibliothek-fuer-zeitgeschichte</a></li>
<li>Facts and Files <a href="http://www.factsandfiles.com/" target="_blank">http://www.factsandfiles.com/</a></li></ul>
<h3>Funding</h3>
<p>
The project is funded by the Europeana Foundation.
</p>  <ul><li><%= link_to 'Acknowledgements', page_path('about/acknowledgements') %></li></ul>
<h3 id="email">Contact details</h3>
<p>To contact the Erster Weltkrieg project, please use the email address <a href="mailto:1914-1918@europeana.eu">1914-1918@europeana.eu</a></p>
<ul>

  <li><%= link_to 'Terms of use', page_path('about/terms') %></li>
  <li><%= link_to 'Takedown Policy', page_path('about/takedown') %></li>
  <li><%= link_to 'Privacy Policy', page_path('help/privacy') %></li>
</ul>
