<% @title = 'Über das Projekt' %>


<h2>Hintergrund</h2>
<p>Das Projekt „Erster Weltkrieg in Alltagsdokumenten: Europas virtuelles Gedächtnis – Europeana“ ist das Auftaktprojekt zur Erweiterung des Great War Archive-Projekts, das 2008 von der Oxford University mit großem Erfolg durchgeführt wurde. Das Great War Archive-Projekt gewann die Öffentlichkeit in Großbritannien zur Mitarbeit bei der Sammlung und Digitalisierung von persönlichen Erinnerungsstücken aus der Zeit des Ersten Weltkrieges.
</p><p>
Die europäische digitale Bibliothek Europeana greift die Idee dieses erfolgreichen Projekts auf und erweitert das Great War Archive um weitere am Ersten Weltkrieg beteiligten europäischen Länder. In Kooperation mit der Oxford University werden bis 2014 in zehn weiteren Ländern Erinnerungsstücke (Alltagsdokumente) aus dem Ersten Weltkrieg digital gesammelt und über Europeana zugänglich gemacht. Start dieses mehrjährigen Projektes ist im März 2011 in Deutschland.</p>
<p><a href="/pdfs/Presserklarung_EWA_240311.pdf" title="Presserklärung (.pdf)" target="_blank">Presseerklärung</a>: Projektstart 24. März 2011 (.pdf)</p>
</p>
<h2>Sammlung</h2>
<p>Das Projekt sammelt digitale Versionen von persönlichen Erinnerungsstücken und Alltagsdokumenten aus der Zeit des Ersten Weltkrieges (1914-1918). In der ersten Phase des Projektes liegt der Schwerpunkt auf deutschen Objekten: Briefe, Postkarten, Fotografien, Tagebücher und sonstige Erinnerungsstücke, auch Ton- oder Filmmaterial.</p>

<h3>Machen Sie mit!</h3>
<p>Laden Sie über diese Projektwebseite unter „Mitmachen“ die digitalen Versionen Ihrer Erinnerungsstücke und Alltagsdokumente hoch und geben Sie eine kurze Beschreibung dazu ein. Oder besuchen Sie uns an einem der Aktionstage. Dort werden Ihre Erinnerungsstücke gescannt oder fotografiert und dem Online-Archiv hinzugefügt.</p>

<h2>Aktionstage</h2>
<p>Ende März und Anfang April wurden in Frankfurt am Main, Berlin, München und Stuttgart vier Aktionstage veranstaltet. Interessierte Privatpersonen konnten in den Partnerbibliotheken vor Ort ihre Erinnerungsstücke professionell digitalisieren und dem Online-Archiv hinzufügen lassen. Da wir an den Aktionstagen zahlreiche Beiträge erhalten haben, die wir zurzeit bearbeiten, wird es einige Wochen dauern, bis diese Beiträge online sichtbar sind. Wir bitten um etwas Geduld. Herzlichen Dank.</p>
<p>Wegen des überwältigenden Interesses finden vier weitere Aktionstage statt:
<ul><li><a href="http://www.provinzialbibliothek-amberg.de/" target="_blank">Provinzialbibliothek Staatliche Bibliothek Amberg</a>, 26. Januar 2012, 10-18 Uhr</li>
<li><a href="http://www.erfurt.de/ef/de/leben/bildung/bibliotheken/stur_orte/19433.shtml"
 target="_blank">Stadt- und Regionalbibliothek Erfurt</a>, 14. Juni 2011, 10-18 Uhr
</li><li><a href="http://www.slub-dresden.de/"
 target="_blank">Sächsische Landes- und Universitätsbibliothek Dresden</a>,
22. Juni 2011, 10-18 Uhr
</li><li><a href="http://www.kiel.de/kultur/stadtbuecherei/zentralbuecherei.php"
 target="_blank">Zentralbücherei Kiel</a>, 29. Juni 2011, 10-18 Uhr
</li><li><a href="http://www.staatliche-bibliothek-regensburg.de/"
 target="_blank">Staatliche Bibliothek Regensburg</a>, 20. Juli 2011, 10-18 Uhr</li></ul></p>
<p><a href="/pdfs/Presseerklarung_EWA_070611.pdf" title="Presserklärung (.pdf)" target="_blank">Presseerklärung 7. Juni 2011</a> (.pdf)</p>

<h2>Projektpartner</h2>
<p>Das Projekt „Erster Weltkrieg in Alltagsdokumenten“ wird koordiniert von:
<ul class="point"><li>Europeana (<a href="http://www.europeana.eu">http://www.europeana.eu</a>)</li>
<li>University of Oxford (<a href="http://www.ox.ac.uk/">http://www.ox.ac.uk/</a>)</li>
<li>Deutsche Nationalbibliothek (<a href="http://www.dnb.de">http//:www.dnb.de</a>)</li></ul>

<h3>Partner:</h3>
<ul class="point"><li>Staatsbibliothek zu Berlin – Preußischer Kulturbesitz <a href="http://staatsbibliothek-berlin.de" target="_blank">http://staatsbibliothek-berlin.de</a></li>
<li>Bayerische Staatsbibliothek <a href="http://www.bsb-muenchen.de" target="_blank">http://www.bsb-muenchen.de</a></li>
<li>Württembergische Landesbibliothek  / Bibliothek für Zeitgeschichte <a href="http://www.wlb-stuttgart.de/sammlungen/bibliothek-fuer-zeitgeschichte" target="_blank">http://www.wlb-stuttgart.de/sammlungen/bibliothek-fuer-zeitgeschichte</a></li>
<li>Facts and Files <a href="http://www.factsandfiles.com/" target="_blank">http://www.factsandfiles.com/</a></li></ul>

<h2>Finanzierung</h2>
<p>Finanziert wird das Projekt „Erster Weltkrieg in Alltagsdokumenten“ von der Europeana Foundation.
</p>
<h2>Kontakt</h2>
<p>Wenn Sie uns kontaktieren möchten, schicken Sie bitte eine E-Mail an: <a href="mailto:1914-1918@europeana.eu">1914-1918@europeana.eu</a></p>
<ul>
  
  <li><%= link_to 'Benutzungsbedingungen', page_path('about/terms') %></li>
  <li><%= link_to 'Datenschutzrechtliche Hinweise', page_path('help/privacy') %></li>
  <li><%= link_to 'Entfernung von Beiträgen', page_path('about/takedown') %></li>
</ul>
