<% @title = 'Entfernung von Beiträgen' %>

<p>
Wenn Sie der Ansicht sind, dass Sie auf unserer Website Materialien gefunden haben, an welchen Sie die Urheberrechte haben, aber die Verwendung in Europeana nicht gestattet haben, werden wir diese Materialien selbstverständlich entfernen. Bitte kontaktieren Sie uns per E-Mail und informieren uns über:<ol>

<li>Ihre Kontaktdaten</li>

<li>die genauen Details des Materials, an welchem Sie die Rechte haben</li>

<li>die exakte URL, unter welcher Sie das Material gefunden haben (z. B.: http://www.europeana1914-1918.eu/en/contributions/96</li>

<li>den Nachweis, dass Sie der Rechteinhaber oder eine vom Rechteinhaber autorisierte Person sind.</li></ol>

Bitte schicken Sie die E-Mail an: <a href="mailto:1914-1918@europeana.eu">1914-1918@europeana.eu</a></p>
