<% @title = 'Takedown Policy' %>

<p>If you are a rights holder and are concerned that you have found material on our website for which you have not given permission, we will of course remove it. Please contact us by email stating the following:<ol>

<li>Your contact details</li>

<li>The full details of the material</li>

<li>The exact url where you found the material (i.e.: http://www.europeana1914-1918.eu/en/contributions/96)</li>

<li>Proof that you are the rights holder or an authorised representative of the rights holder</li></ol>

Email us at: <a href="mailto:1914-1918@europeana.eu">1914-1918@europeana.eu</a></p>


