<% @title = 'Benutzungsbedingungen' %>

<h2>Europeana Bedingungen für Benutzerbeiträge</h2>

<p>
Dieses Dokument enthält die Bedingungen, die für die Benutzer Anwendung finden, die Inhalte und Metadaten zur Europeana.eu Website der Europeana Foundation hinzufügen. Dem Benutzer muss bewusst sein, dass sich die Europeana Foundation bemüht, alle Inhalte und Metadaten mit einen Minimum an Einschränkungen zur Wiederverwendung verfügbar zu machen.
</p>
<p>
Als Teil dieser Richtlinien sehen die Europeana Bedingungen für Benutzerbeiträge vor, dass alle Inhalte, die von ihren Nutzern zu Europeana beigetragen werden, unter den Bedingungen der <a href="http://creativecommons.org/licenses/by-sa/2.5/" title="Creative Commons" target="_blank">Creative Commons Attribution ShareAlike-Lizenz</a> auf Europeana.eu zugänglich gemacht werden. Das bedeutet, dass ein Benutzer, wenn er Inhalte auf der Europeana.eu Website stellt, unwiderruflich Dritten das Recht auf freie Nutzung dieser Inhalte gewährt, solange diese das Werk dem Autor zuordnen und Abänderungen dieser Inhalte unter den selben Bedingungen teilen. Außerdem werden alle Metadaten, die von Benutzern zu Europeana beigetragen werden, auf Europenana.eu unter den <a href="http://creativecommons.org/publicdomain/zero/1.0/" title="Creative Commons" target="_blank">Bedingungen der Creative Commons CC0 1.0 Universal Public Domain Dedication</a> zugänglich gemacht. Das bedeutet, dass der Benutzer unwiderruflich Dritten das Recht gewährt, ohne Beschränkungen diese Metadaten frei zu nutzen.
</p>
<p>
Falls Sie mit diesen Grundsätzen nicht einverstanden sind, fügen Sie bitte keine Inhalte und/oder Metadaten zu Europeana hinzu.
</p>
<p>
Diese Bedingungen für Benutzerbeiträge bestimmen unter anderem die folgenden Aspekte der Beziehungen zwischen Benutzern, die Inhalte zu Europeana.eu und Europeana beitragen:</p>
<ul class="point"><li>
Passwörter und Zugangsverfahren (Art. 3)</li>
<li>Verantwortung für das Betreiben der Plattform (Art. 4)
</li>
<li>Rechte am geistigen Eigentum an den Inhalten (Art. 5)
</li>
<li>Rechte am geistigen Eigentum an den Metadaten (Art. 6)
</li>
<li>Rechtswidriger Gebrauch des Dienstes (Art. 7)
</li>
<li>Schutz persönlicher Daten der Benutzer (Privatsphäre) (Art. 8)
</li>
<li>Haftung der Parteien im Falle von Schäden oder Verlust (Art. 9)
</li></ul>
<p>Durch das Erstellen eines Accounts auf europeana.eu bestätigt der Benutzer, dass er mit den Europeana Bedingungen der Benutzerbeiträge einverstanden ist. Nach Erstellung des Accounts kann auf die Konditionen auf <%= link_to 'www.europeana.eu', 'http://www.europeana.eu/' %> zugegriffen werden.</p>

<hr />
<p>
<ul> <li><a href="/de/about/takedown" title="Entfernung von Beiträgen (öffnet sich in einem neuen Fenster)" target="_blank">Entfernung von Beiträgen</a></li>
  <li><a href="/de/help/privacy" title="Datenschutzrichtlinien (öffnet sich in einem neuen Fenster)" target="_blank">Datenschutzrichtlinien</a></li></ul></p>
<hr />

<h2>Europeana Benutzungsbedingungen: Zusammenfassung</h2>

<%= render :partial => '/contributions/terms', :locals => { :heading => false } %>

<h2>Europeana Benutzungsbedingungen: Detaillierte rechtliche Einzelheiten</h2>

<h3>Artikel 1	Definitionen</h3>
<p>In diesen Nutzungsbedingungen bedeutet:

</p>
<p>1.1	Benutzerkonto: Der persönliche Bereich, der vom Benutzer verwaltet wird und der angelegt wird, wenn ein Benutzer sich für den Dienst anmeldet.</p>
<p>
1.2	Inhalt: Jegliches Material, das von einem Benutzer für Besucher über den Dienst verfügbar und zugänglich gemacht wird, insbesondere Video-, Foto-, Bild- und/oder Audiomaterial sowie Texte.</p>
<p>
1.3	Creative Commons Attribution ShareAlike-Lizenz: Die Creative Commons Attribution ShareAlike 3.0-Lizenz wie unter <a href="http://creativecommons.org/licenses/by-sa/3.0/nl/" title="Creative Commons" target="_blank">http://creativecommons.org/licenses/by-sa/3.0/nl/</a> veröffentlicht.</p>
<p>
1.4	Creative Commons CC0 1.0 Universal Public Domain Dedication: Die Creative Commons CC0 1.0 Universal Public Domain Dedication wie unter <a href="http://creativecommons.org/publicdomain/zero/1.0/" title="Creative Commons" target="_blank">http://creativecommons.org/publicdomain/zero/1.0/</a> veröffentlicht.</p>
<p>
1.5	E-Mail-Adresse: Die E-Mail-Adresse, die der Benutzer bei der Registrierung angibt oder die E-Mail-Adresse, die er angibt, um diese E-Mail-Adresse zu ersetzen.</p>
<p>
1.6	Rechte am geistigen Eigentum: Rechte am geistigen Eigentum, insbesondere Urheberrechte, verwandte Schutzrechte und Datenbankrechte.
</p>
<p>1.7	Metadaten: Alle deskriptiven Metadaten, insbesondere Beschreibungen und Tags, die sich auf Inhalte oder auf physikalische oder digitale Objekte beziehen, die auf sonstige Art und Weise zur Website gehören.
</p>
<p>1.8	Passwort: Das Passwort, das vom Benutzer eingegeben wird.
</p>
<p>1.9	Gemeinfreiheit: Nicht von Immaterialgüterrechten geschützt und/oder Gegenstand einer immaterialgüterrechtlichen Verzichtserklärung bzw. uneingeschränkten Nutzungserlaubnis.
</p>
<p>1.10	Bericht: Meldung über das Vorliegen von Inhalten auf der Website, die Rechte am geistigen Eigentum und/oder andere Rechte Dritter verletzen.
</p>
<p>1.11	Dienst: Der Dienst, der von Europeana angeboten wird, um es Benutzern zu ermöglichen, Inhalte und Metadaten der Website hinzuzufügen.
</p>
<p>1.12	Nutzungsbedingungen: Dieses Dokument.
</p>
<p>1.13	Dritter: Jede natürliche oder juristische Person, die nicht Partei dieser Vereinbarung ist.
</p>
<p>1.14	Benutzer: Jede natürliche oder juristische Person, die den Dienst nutzt.
</p>
<p>1.15	Benutzername: Der Name oder das Alias, das vom Benutzer bei der Registrierung angegeben wird, und das im Zusammenhang mit von diesem Benutzer hinzugefügten Inhalten angezeigt wird.
</p>
<p>1.16	Besucher: Eine natürliche oder juristische Person, die die Website besucht, einschließlich Benutzern, wenn sie den Dienst nicht nutzen.
</p>
<p>1.17	Website: Die Website und Datenbank, die über <a href="http://www.europeana.eu/" title="Europeana" target="_blank">http://www.europeana.eu/</a> angeboten wird, sowie alle Subdomains.</p>

<h3>Artikel 2 Anwendungsbereich</h3>
<p>2.1	Diese Nutzungsbedingungen für Benutzerbeiträge finden Anwendung auf Benutzer, wenn sie den Dienst benutzen. Sie finden keine Anwendung für Besucher. Für Besucher und Nutzer in ihrer Eigenschaft als Besucher gelten die „Europeana Nutzungsbedingungen“, wie sie unter <a href="http://europeana.eu/portal/termsofservice.html" title="Europeana" target="_blank"> http://www.europeana.eu/portal/termsofservice.html</a> abgerufen werden können.
</p>
<p>2.2	Europeana ist stets berechtigt diese Nutzungsbedingungen zu ändern oder zu ergänzen. In diesem Fall werden die geänderten Nutzungsbedingungen an die E-Mail-Adresse des Benutzers gesendet. Falls der Benutzer den Dienst weiter nutzt, nachdem die geänderten oder ergänzten Nutzungsbedingungen an seine E-Mail-Adresse geschickt wurden, akzeptiert er damit unwiderruflich diese Bedingungen. Falls der Benutzer den geänderten oder ergänzten Nutzungsbedingungen nicht zustimmt, muss er auf die Benutzung des Dienstes verzichten und sein Benutzerkonto schließen. Die maßgeblichen Nutzungsbedingungen sind jederzeit auf der Website verfügbar.

<h3>Artikel 3 	Registrierung für den Dienst </h3>
<p>3.1. 	Bevor Inhalte oder Metadaten auf der Website beigetragen werden können, muss der Benutzer ein Benutzerkonto eröffnen, wie es auf der Website beschrieben ist. Bei der Registrierung muss der Benutzer einen Benutzernamen und ein Passwort eintragen, welches Zugang zum Benutzerkonto gewährt.
</p>
<p>3.2	Der Benutzer trägt die Verantwortung für die Geheimhaltung der Kombination von Benutzernamen/Passwort. Der Benutzer ist daher für jegliche Nutzung des Dienstes unter dem Benutzernamen und Passwort verantwortlich. Europeana ist zur Annahme berechtigt, dass der Benutzer tatsächlich die Person ist, die mit seinem Benutzernamen und Passwort Zugang begehrt. Sobald der Benutzer weiß oder Gründe hat anzunehmen, dass sein Benutzername und/oder Passwort einer unberechtigten Person bekannt geworden ist, muss der Benutzer dies unverzüglich an Europeana melden. Dies betrifft nicht seine eigene Verpflichtung, unverzüglich wirksame Maßnahmen zu ergreifen, etwa das Passwort zu ändern.
</p>
<p>3.3.	Wenn der Benutzer jünger als 16 Jahre alt ist, ist es ihm nur erlaubt, den Dienst zu nutzen, wenn es ihm der/die gesetzliche(n) Vertreter erlauben. Bei Annahme der Nutzungsbedingungen versichert der Benutzer, dass er tatsächlich 16 Jahre oder älter ist, oder dass er die Einwilligung seines gesetzlichen Vertreters erhalten hat, um sich ein Benutzerkonto zu erstellen und die Dienste zu nutzen.
</p>
<p>3.4	Europeana behält sich das Recht vor, das Anmeldeverfahren, das Passwort und/oder den Benutzernamen zu ändern, wenn dies in irgendeiner Weise als notwendig erachtet wird, z.B. wenn es im Interesse der Funktion des Dienstes steht. In diesem Fall wird der Benutzer per E-Mail unter Verwendung seiner E-Mail-Adresse benachrichtigt.
</p>
<h3>Artikel 4	Dienst</h3>
<p>4.1	Der Benutzer akzeptiert, dass der Dienst ausschließlich die Funktionsweise und andere Eigenschaften beinhaltet, die er bei der Benutzung des Dienstes vorfindet. Der Dienst ist daher „geliefert wie besichtigt“. Europeana schließt ausdrücklich stillschweigend oder expressis verbis gegebene Zusicherungen, Versprechen und Garantien jeglicher Art aus, insbesondere Zusicherungen, Versprechen und Garantien bezüglich Qualität,  Sicherheit, Verfügbarkeit, Rechtmäßigkeit, Integrität und Richtigkeit des Dienstes.
</p>
<p>4.2	Europeana garantiert nicht, dass die Website und/oder der Dienst jederzeit ohne Unterbrechungen oder Störungen zugänglich sind. Störungen der Website und/oder des Dienstes können in Folge unterschiedlicher Gründe auftreten, unter anderem Ausfälle des Internets oder der Telefonverbindungen oder aufgrund eines Virus oder wegen Fehlern/Defekten. Europeana ist in keinem dieser Störfälle verantwortlich oder haftet nicht für Schaden oder Verlust der Benutzer für irgendwelche Schäden oder dadurch entstehende Verluste oder als Folge der Website und/oder Dienste, während die Dienste nicht verfügbar oder vorübergehend nicht verfügbar sind, oder im Fall eines Zusammenbruchs der Website und/oder der Dienste.
</p>
<p>4.3	Europeana ist berechtigt, ohne vorherige Mitteilung an den Benutzer und ohne ihm gegenüber schadenersatzpflichtig zu sein, die Website und/oder die Dienste und/oder die Nutzung zu schließen oder vorübergehend zu begrenzen, wenn dies für notwendig  erachtet wird, zum Beispiel in Verbindung mit jedweder erforderlichen Wartung der Website und/oder des Dienstes.
</p>
<p>4.4	Europeana ist berechtigt, ohne dass es einer vorherigen Ankündigung bedarf, Änderung an Verfahren oder Technik und/oder Verbesserungen an der Website und/oder am Dienst vorzunehmen.</p>

<h3>Artikel 5	Nutzung des Inhalts durch Europeana</h3>
<p>5.1	Alle vom Benutzer zur Website beigetragenen Inhalte werden von Europeana Dritten unter den Bestimmungen der Creative Commons Attribution ShareAlike-Lizenz zugänglich gemacht.
</p>
<p>5.2	Soweit der Benutzer die Rechte am geistigen Eigentum an den Inhalten inne hat, ermächtigt er Europeana, Artikel 5.1 hinsichtlich dieser Inhalte anzuwenden. Soweit der Benutzer nicht Inhaber des Rechts am geistigen Eigentum am beigetragenen Inhalt ist, versichert er, dass entweder
<ul class="">

<li>a.	er vom Inhaber der Rechte am geistigen Eigentum der Inhalte ermächtigt ist, Europeana zu gewähren, auf diese Inhalte Artikel 5.1 anzuwenden oder</li>
<li>
b.	der Inhalt gemeinfrei ist.</li></ul>

</p>
<p>5.3 	Soweit erforderlich, gewährt der Benutzer neben  unter Artikel 5.2 in Verbindung mit Artikel 5.1 gewährten Rechten Europeana eine freie, unbelastete, weltweite, nicht ausschließliche Lizenz zu Nutzung, Reproduktion, Verbreitung, Kommunikation und öffentliche Zugänglichmachung der Inhalte, soweit dies für den Dienst notwendig ist.
</p>
<p>5.4. 	Die Lizenz, auf die Artikel 5.3 verweist, endet, sobald der Benutzer und/oder Europeana den entsprechenden Inhalt von der Website entfernt oder sobald das Benutzerkonto durch den Benutzer und/oder Europeana entfernt wurde, außer in Situationen, in denen und soweit Inhalte Teil einer kuratierten Sammlung von Inhalten auf der Website geworden sind, die durch Europeana.eu oder durch einen Benutzer auf der Website geschaffen wurden.
</p>
<p>5.5	Obwohl die Website darauf hinweisen wird, dass die Nutzung der von den Benutzern beigetragenen Inhalte durch Dritte durch die Bedingungen der Creative Commons Attribution ShareAlike-Lizenz geregelt ist, bestätigt und akzeptiert der Benutzer, dass Europeana nicht für die Einhaltung der Creative Commons Attribution Share Alike-Lizenz durch Besucher verantwortlich und/oder verpflichtet ist.
</p>
<h3>Artikel 6 	Nutzung der Metadaten durch Europeana</h3>
<p>6.1	Alle vom Benutzer zur Website beigetragenen Metadaten werden von Europeana Dritten unter den Bestimmungen der CC0 1.0 Universal Public Domain Dedication zugänglich gemacht.
</p>
<p>6.2	Sofern der Benutzer Inhaber der Rechte am geistigen Eigentum an den Metadaten ist, die er beiträgt, gestattet er hiermit Europeana, Artikel 6.1 hinsichtlich dieser Metadaten anzuwenden. Soweit der Benutzer nicht Inhaber der Rechte am geistigen Eigentum an den Metadaten ist, die er beiträgt, versichert er, dass entweder
<ul class="">
<li>
a.	er vom Inhaber des Rechts am geistigen Eigentum an diesen Metadaten ermächtigt ist, Europeana zu gestatten, Artikel 6.1 hinsichtlich dieser Metadaten anzuwenden, oder</li>
<li>
b.	diese Metadaten gemeinfrei sind.</li></ul></p>

<h3>Artikel 7 	Rechtswidriger Gebrauch des Dienstes</h3>
<p>7.1	Der Benutzer ist sich bewusst und akzeptiert, dass Europeana keine Kenntnis von den Inhalten und Metadaten hat, die über den Dienst verfügbar gemacht werden. Europeana überprüft, sichtet und/oder verändert weder den Wortlaut dieser Inhalte und Metadaten noch besteht eine Verpflichtung hierzu. Der Benutzer selbst ist voll verantwortlich und haftbar für jegliche Handlungen, die er mit Hilfe des Dienstes unternimmt, insbesondere in Hinsicht auf das Einstellen von Inhalten.
</p>
<p>7.2	Der Benutzer garantiert, dass er über die Website keine Inhalte oder Metadaten verteilt,
<ul class="">
<li>
a.	die Rechte von Europeana oder Dritten verletzen, insbesondere Rechte am geistigen Eigentum oder Rechte bezüglich Datenschutz;
</li>
<li>b.	die diskriminierend oder beleidigend hinsichtlich Aussehen, Rasse, Religion, Geschlecht, Kultur oder Herkunft sind;</li>
<li>
c.	die zu Gewalt und/oder Belästigung anderer Personen aufrufen;</li>
<li>
d.	die zu Ausbeutung oder Misshandlung anderer Personen führen oder daraus resultieren;</li>
<li>
e.	die Pornographie oder einen Link zu pornographischem Material oder pornographischen Websites enthalten;</li>
<li>
f.	in denen persönlichen Daten Minderjähriger erfragt und/oder persönliche Daten anderer Personen veröffentlicht werden;</li>
<li>
g.	die die Begehung von illegalen Aktivitäten fördern oder erleichtern;</li>
<li>
h.	die Kettenbriefe, Reklamesendungen und Spam beinhalten und/oder Passwörter oder andere Informationen erfragen, die zu kommerziellen oder illegalen Zwecken zu Individuen zurückverfolgt werden können, oder die sonstigen kommerziellen Zwecken dienen;</li>
<li>
i.	die Viren, Trojaner, Würmer, Bots oder andere Software enthalten, die automatisierte Abläufe oder Daten beschädigen, unbrauchbar oder unzugänglich machen, löschen oder hinterziehen können, oder die dazu bestimmt sind, technische Schutzmaßnahmen der Website und/oder die Computersystemen der Europeana zu umgehen;</li>
<li>
j.	die jegliches anwendbare Recht und Vorschriften verletzen;</li>
<li>
k.	die andere Bestimmungen dieser Nutzungsbedingungen verletzen.</li></ul>
</p>
<p>7.3	Der Benutzer stellt Europeana gegen Ansprüche Dritter frei, die darauf gestützt werden, dass Inhalte oder Metadaten, die vom Benutzer mit Hilfe des Dienstes eingestellt wurden, die Rechte Dritter verletzen und/oder sonst rechtswidrig sind.
</p>
<p>7.4	Europeana behält sich das Recht vor, in Fällen, in denen dies notwendig erscheint, Inhalte oder Metadaten zu löschen oder Benutzerkonten zu schließen, ohne verpflichtet zu sein, dies mitzuteilen oder ohne sich dadurch schadenersatzpflichtig zu machen und unbeschadet Europeanas Recht weitere rechtliche Maßnahmen zu ergreifen, insbesondere wenn der Benutzer nach Auffassung von Europeana gegen die Bestimmungen dieses Artikel 7 oder andere Bestimmungen dieser Nutzungsbedingungen verstößt.
</p>
<p>7.5	Falls der Benutzer der Auffassung ist, dass Inhalte oder Metadaten, die mit Hilfe des Dienstes verbreitet werden, rechtswidrig sind, kann er dies in einem Bericht melden. Ein solcher Bericht an Europeana kann über <a href="mailto:1914-1918@europeana.eu"> 1914-1918@europeana.eu</a> eingereicht werden.</p>

<h3>Artikel 8 	Datenschutz</h3>
<p>8.1	Im Zusammenhang mit dem Dienst wird der Benutzer Europeana persönliche Daten im Sinne des niederländischen Datenschutzgesetzes (Wet bescherming persoonsgegevens „Wbp") zur Verfügung stellen. Europeana wird diese persönlichen Daten nur verarbeiten und nutzen, wenn es im Zusammenhang mit dem Dienst nötig ist, und wird diese persönliche Daten keinen Dritten weitergeben, sofern nicht hierzu eine gesetzliche Verpflichtung besteht.
</p>
<p>8.2	Der Benutzer ist sich bewusst und stimmt zu, dass der Benutzername, der von ihm bei der Registrierung angegeben wird, im Zusammenhang mit Inhalten und/oder Metadaten angezeigt wird und dass damit persönlichen Daten, die im Benutzernamen enthalten sind, offengelegt werden. Der Benutzer kann selbstständig den Benutzernamen wechseln.</p>

<h3>Artikel 9 	Haftung</h3>
<p>9.1		Europeana haftet nicht für Schäden, die auf Fehler in der Erfüllung des Dienstens zurückzuführen sind, insbesondere Schäden aufgrund oder in Zusammenhang mit der Benutzung der Website und/oder der Unmöglichkeit ihrer Benutzung, oder aufgrund jeglichen rechtswidrigen Verhaltens oder sonstigen Gründen, sofern nicht dieser Haftungsausschluss aufgrund zwingender Gesetzesbestimmungen untersagt ist.
</p>
<p>9.2	Europeana haftet weder für den Gehalt der Inhalte und/oder Metadaten noch für Schaden und Verlust von Benutzern oder Dritten, die auf rechtswidrigen Gehalt der Inhalte und/oder Metadaten zurückzuführen sind.
</p>
<p>9.3	Der Benutzer stellt Europeana von jeglichen Schadensersatz-, Verlust-, Kosten- oder Zinsen oder sonstigen Ansprüchen Dritter frei, die im Zusammenhang mit der Benutzung des Dienstes und/oder jeglichen Verletzungen dieser Bedingungen für Benutzerbeiträge und/oder anderen Rechten Dritter stehen oder darauf zurückzuführen sind.
</p>
<p>9.4	Diese Haftungsbeschränkungen sehen indessen nicht vor, die Haftung der Europeana („eigene Handlungen“) und/oder ihren Geschäftsführern für Vorsatz oder grobe Fahrlässigkeit auszuschließen. 
</p>
<p>9.5	Falls der Benutzer der Auffassung ist, geschädigt worden zu sein, steht es ihm frei, die Benutzung des Dienstes zu beenden und sein Benutzerkonto zu schließen.</p>

<h3>Artikel 10 	Dauer und Beendigung</h3>
<p>10.1	Der Benutzer ist berechtigt, jederzeit die Benutzung des Dienstes zu beenden und sein Benutzerkonto zu schließen.
</p>
<p>10.2	Europeana ist jederzeit berechtigt, die Verfügbarkeit des Dienstes für den Benutzer zu beenden und/oder auszusetzen, wenn sie dies für notwendig erachtet, ohne dass dadurch eine Haftung gegenüber dem Benutzer begründet wird.
</p>
<h3>Artikel 11 	Verschiedenes, Anwendbares Recht und Gerichtsstand</h3>
<p>11.1		Für diese Bedingungen für Benutzerbeiträge und die Benutzung des Dienstes gilt das niederländische Recht.
</p>
<p>11.2	Sofern nicht nationale oder internationale Regelungen zwingend etwas anderes vorschreiben, werden alle Streitigkeiten zwischen dem Benutzer und Europeana nach dem Ermessen der klagenden oder Antrag stellenden Partei vor das für deren Wohn- oder Geschäftsort zuständige Gericht oder ein anderes nach nationalen oder internationalen Vorschriften zuständiges Gericht gebracht.
</p>
<p>11.3	Sollten einzelne Bestimmungen dieser Bedingungen für Benutzerbeiträge unwirksam sein oder unwirksam werden, bleiben der Benutzer und Europeana an die übrigen Bestimmungen gebunden. Europeana wird die unwirksamen Bestimmungen im Einklang mit Sinn und Zweck dieser Bedingungen für Benutzerbeiträge dergestalt durch wirksame ersetzen, dass die neuen Bestimmungen so wenig wie möglich von den unwirksamen abweichen.</p>
