<% @title = 'Terms and conditions' %>

<h2>Europeana terms for user contributions</h2>
 
<p>This document contains the terms applicable to users who contribute content and metadata to the Europeana.eu website of the Europeana Foundation. The user must be aware that the Europeana Foundation strives to make all content and metadata available for reuse with a minimum of restrictions. </p>

<p>As part of this policy, the Europeana Terms for User Contributions establish that all content that is contributed to Europeana by its users will be made available on Europeana.eu under the terms of a <a href="http://creativecommons.org/licenses/by-sa/2.5/" title="Creative Commons (new window)" target="_blank">Creative Commons Attribution ShareAlike license</a>. This means that, when a user posts content on the Europeana.eu website, he irrevocably grants third parties the right to freely use that content, as long as they attribute the work to the author and share alterations of that content under the same conditions. In addition, all metadata contributed by users to Europeana will be made available on Europeana.eu under the terms of the  <a href="http://creativecommons.org/publicdomain/zero/1.0/" title="Creative Commons (new window)" target="_blank">Creative Commons CC0 1.0 Universal Public Domain Dedication</a>. This means that the user irrevocably grants third parties the right to freely use those metadata without any restrictions. </p><p>

If you do not agree with these policies please do not contribute content and/or metadata to Europeana.</p><p>
 
These Terms for User Contributions determines inter alia the following aspects of the relationship between users contributing content to Europeana.eu and Europeana: 
<ul><li>
Passwords and logging in (Article 3)</li>
<li>Responsibility for the operation of the platform (Article 4) 
</li>
<li>Intellectual property rights to the content (Article 5)
</li>
<li>Intellectual property rights to metadata (Article 6)
</li>
<li>Unlawful use of the service (article 7)
</li>
<li>Users' personal data (privacy) (Article 8)
</li>
<li>Liability of the parties in the event of damage or loss (Article 9)</li></ul>

By creating an account on Europeana.eu, the user indicates acceptance of these terms and conditions. Once a user account is created, the conditions can be accessed on <a href="http://www.europeana.eu" title="To the Europeana site" target="_blank">www.europeana.eu</a>.</p>
<hr />
<p>Separate pages hold this project's:
<ul> <li><a href="/en/about/takedown" title="To the Takedown Policy page (new window)" target="_blank">Takedown Policy</a></li>
  <li><a href="/en/help/privacy" title="To the Privacy Policy page (new window)" target="_blank">Privacy Policy</a></li></ul></p>
<hr />

<h2>Europeana terms of use: summary</h2>
<%= render :partial => '/contributions/terms', :locals => { :heading => false } %>

<h2>Europeana terms of use: full legal details</h2>


<h3>Article 1	Definitions</h3>

<p>In these Terms of Use, the following terms have an initial capital letter. These terms are defined as follows: </p><p>

1.1	Account: personal section that is managed by the User and which is created when the User registers for the Service.
</p><p>1.2	Content: all material made available and accessible by a User to Visitors through the Service, including but not limited to video, photo, image and/or audio material, as well as texts. 
</p><p>1.3	Creative Commons Attribution ShareAlike license: The Creative Commons Attribution ShareAlike 3.0 license as published at: <a href="http://creativecommons.org/licenses/by-sa/3.0/nl/" title="Licence text (new window)" target="_blank">http://creativecommons.org/licenses/by-sa/3.0/nl/</a>.
</p><p>1.4	Creative Commons CC0 1.0 Universal Public Domain Dedication: The Creative Commons Universal Public Domain Dedication as published at: <a href="http://creativecommons.org/publicdomain/zero/1.0/" title="Creative Commons (new window)" target="_blank">http://creativecommons.org/publicdomain/zero/1.0/</a>.
</p><p>1.5	Email Address: The email address provided by the User upon registration or the email addres provided by the User to replace this email address.
</p><p>1.6	Intellectual Property Rights: Intellectual property rights, including but not limited to copyrights, related (or neighbouring) rights and database rights. 
</p><p>1.7	Metadata: all descriptive metadata, including but not limited to descriptions and tags, that refer to Content or to a physical or digital object that is otherwise the subject of the Website.
</p><p>1.8	Password: the password entered by the User. 
</p><p>1.9	Public Domain: Not protected by Intellectual Property Rights and/or subject to a waiver of Intellectual Property Rights.
</p><p>1.10	Report: a report of the presence of Content on the Website that infringes Intellectual Property Rights and/or other rights of third parties.
</p><p>1.11	Service: the service rendered by Europeana to enable Users to contribute Content and Metadata on the Website.
</p><p>1.12	Terms of Use: this document.
</p><p>1.13	Third Party: Any natural or legal person who is not party to this agreement.
</p><p>1.14	User: a natural or legal person who  uses the Service.
</p><p>1.15	Username: the name or alias entered by the User during the registration procedure, and which is displayed in connection with the Content placed by the User.
</p><p>1.16	Visitor: a natural or legal person who visits the Website, including Users when they are not using the Service.
</p><p>1.17	Website: the website and the database offered through www.europeana.eu and all sub-domains.

<h3>Article 2	Applicability</h3><p>
2.1	These Terms for User Contributions apply to Users, when they are using the Service. They do not apply to Visitors. The Europeana Terms of Use that can be found at <a href="http://www.europeana.eu/portal/termsofservice.html" title="Europeana (new window)" target="_blank">http://www.europeana.eu/portal/termsofservice.html</a> apply to Visitors, including Users in their capacity as Visitors.</p><p>
2.2	Europeana is entitled at all times to amend or supplement these Terms of Use. In such an event, the amended Terms for User Contributions will be sent to the User's Email Address. If the User continues using the Service after the amended or supplemented Terms for User Contributions have been sent to the Email Address, he thereby irrevocably accepts such conditions. If the User does not agree to the amended or supplemented Terms of Use, he must refrain from using the Service, and he must close his Account. The applicable Terms for User Contributions are available on the Website at all times.</p>
<h3>
Article 3	Registration for the Service
</h3>
<p>3.1	Before Content or Metadata can be contributed to the Website, the User must create an Account in the manner described on the Website. During registration, the User must also enter a Username and a Password, which will provide access to the Account.
</p><p>3.2	It is the responsibility of the User to keep the Username/Password combination confidential. The User is therefore responsible for all use that is made of the Service through the Username and the Password. Europeana may assume that the User is in fact the person who is seeking access with the Username and the Password that belong to him.  As soon as the User is aware or as soon as he may have reason to suspect that a Username and/or Password has become known to unauthorized persons, the User must notify Europeana immediately. This does not affect his own obligation to take effective measures immediately, such as changing the Password.
</p><p>3.3	If the User is younger than 16 years of age, he is only allowed to use the Service if he has the consent of his legal representative(s). By accepting these Terms of Use, the User guarantees that he is in fact 16 years of age or older, or that he has obtained the consent of his legal representative(s) to create an Account and to use the Service.
</p><p>3.4	Europeana reserves the right to alter the login procedure, the Password and/or the Username, if it considers this necessary in any way, for instance if this is in the interests of the operation of the Service. In that event, the User will be notified of this by email using the Email Address. </p>

<h3>Article 4	The Service</h3>
<p>4.1	The User accepts that the Service only contains the functionality and other features found by him when using the Service. The Service is, therefore, delivered "as is". Europeana expressly excludes explicit and tacit guarantees, undertakings and warranties of any nature whatever, including but not limited to guarantees, promises and warranties with respect to the quality, safety, availability, lawfulness, integrity and correctness of the Service.
</p><p>4.2	Europeana does not guarantee that the Website and/or the Service will at all times be accessible without interruptions or failures. Failures in the Website and/or the Service may occur as a result of, amongst other things, failures in Internet or telephone connections or because of viruses or faults/defects. Europeana is in no way responsible or liable for compensating the User for any damage or loss arising from or as a result of the Website and/or the Service being unavailable or temporarily unavailable, or in case of a breakdown of the Website and/or the Service.
</p><p>4.3	Europeana is entitled, without any prior notice being required and without being liable to compensate the User, to close down or to temporarily close down the Website and/or the Service and/or to limit the use of it if it considers this necessary, for instance in connection with any reasonably necessary maintenance of the Website and/or the Service.
</p><p>4.4	Europeana is entitled, without any prior announcement being required, to make procedural and technical changes and/or improvements to the Website and/or the Service.  </p>

<h3>Article 5	Use of Content by Europeana</h3>
<p>5.1	All Content contributed by the User to the Website will be made available by Europeana to Third Parties under the terms of the Creative Commons Attribution ShareAlike license. 
</p><p>5.2	In as far as the User is the proprietor of the Intellectual Property Rights in the Content contributed by him; he hereby authorizes Europeana to perform article 5.1 with respect to that Content. In as far as the User is not the proprietor of the Intellectual Property Rights in the Content contributed by him, he guarantees that either; 
<ul><li>he is authorized by the proprietor of the Intellectual Property Rights in this Content to authorize Europeana to perform article 5.1 with respect to that Content; or </li><li>
the Content is Public Domain.</li></ul>
</p><p>5.3	In as far as required in addition to the rights granted under Article 5.2 in conjunction with Article 5.1, the User grants Europeana a free, unencumbered, world-wide, non-exclusive license for use, reproduction, distribution, communication and making available to the public of the Content, to the extent that this is necessary for the Service to be provided. 
</p><p>5.4	The license referred to in Article 5.3 ends once the User and/or Europeana remove(s) the relevant Content from the Website, or once the Account is removed by the User and/or Europeana, except for the situation where and in as far as Content has become part of a curated collection of Content on the Website which has been created by Europeana.eu or by Users of the Website.  
</p><p>5.5	Although the Website will indicate that use by third parties of the Content contributed by the User is governed by the Terms of the Creative Commons Attribution ShareAlike license, the User acknowledges and accepts that Europeana is not responsible and/or liable for compliance by Visitors with the Creative Commons Attribution ShareAlike license. </p>

<h3>Article 6	Use of Metadata by Europeana</h3>
<p>6.1	All Metadata contributed by the User to the Website will be made available by Europeana to Third Parties under the terms of the CC0 1.0 Universal Public Domain Declaration. 
</p><p>6.2	Insofar as the User is the proprietor of the Intellectual Property Rights in the Metadata contributed by him; he hereby authorizes Europeana to perform article 6.1 with respect to those Metadata. In as far as the User is not the proprietor of the Intellectual Property Rights in the Metadata contributed by him, he guarantees that either; 
<ul><li>he is authorized by the proprietor of the Intellectual Property Rights in this Metadata to authorize Europeana to perform article 6.1 with respect to those Metadata; or </li>
<li>the Metadata are Public Domain.</li></ul></p>

<h3>Article 7	Unlawful use of the Service</h3>
<p>7.1	The User is aware of and accepts that Europeana has no knowledge of Content and Metadata that is made available through the Service. Europeana does not verify, inspect and/or edit the wording of this Content and Metadata, nor is it obliged to do so.  The User himself is fully responsible and liable for any acts he performs with the help of the Service, in particular with regard to the placement of Content. 
</p><p>7.2	The User guarantees that he will not distribute through the Website any Content or Metadata:
<ul><li>a.	that infringes rights of Europeana or third parties, including but not limited to Intellectual Property Rights or rights relating to the protection of privacy;
</li><li>b.	that discriminates on the grounds of and/or is offensive in respect of appearance, race, religion, sex, culture, or origin;
</li><li>c.	that incites violence against and/or harassment of other person(s);
</li><li>d.	that leads to or is the result of exploitation or abuse of others;
</li><li>e.	that is pornographic or that contains a link to pornographic material or pornographic websites;
</li><li>f.	in which personal data of minors are requested and/or in which personal data of others are made available;
</li><li>g.	that promotes or facilitates the committing of illegal activities;
</li><li>h.	that involves chain letters, junk mail or spam and/or that requests passwords or other information traceable to individuals for commercial or illegal purposes, or which envisages other commercial purposes;
</li><li>i.	that contains viruses, Trojan horses, worms, bots or other software that may damage automated work or data, render it unusable or inaccessible, delete or appropriate it, or that is intended to circumvent technical protection measures of the Website and/or Europeana's computer systems;
</li><li>j.	that is in violation of any applicable legislation and regulations; 
</li><li>k.	that is in violation of any of the other provisions of these Terms of Use.  </li></ul>

</p><p>7.3	The User indemnifies Europeana against third-party claims that are based on the statement that Content or Metadata placed by the User with the help of the Service in some way infringes the rights of third parties and/or is unlawful in any other way.
</p><p>7.4	Without being required to give notice or without being liable for compensation, and without prejudice to Europeana's right to take further legal action, Europeana reserves the right to remove Content or Metadata or to close an Account if it considers there are grounds for doing so, in particular in, but not limited to, cases in which in Europeana's opinion the User breaches the provisions of this Article 7 or any other provision of these Terms of Use.   
</p><p>7.5	If the User is of the opinion that Content or Metadata distributed with the help of the Service is unlawful, he can Report this. Such a Report to Europeana can be made through <a href="mailto:1914-1918@europeana.eu">1914-1918@europeana.eu</a>. </p>

<h3>Article 8	Privacy</h3>
<p>8.1	In connection with the Service the User will provide Europeana with personal data as meant in the Dutch Personal Data Protection Act (Wet bescherming persoonsgegevens ("Wbp")). Europeana will only process and use these personal data where necessary in connection with the Service, and it will not supply these personal data to third parties in any manner whatever, unless it is legally obliged to do so.
</p><p>8.2	The User understands and acknowledges that the Username entered by him upon registration will be displayed in connection with the Content and/or Metadata and that any personal data in the Username will be disclosed. The User can change his Username himself. </p>

<h3>Article 9	Liability</h3>
<p>9.1	Europeana assumes no liability for damage or loss as a result of any failure in fulfilment of the provision of the Service, including but not limited to damage or loss arising from or relating to the use of the Website and/or any impossibility of using it, or as a result of any unlawful act or otherwise, unless this exclusion of liability is not allowed under mandatory provisions of law.  
</p><p>9.2	Europeana assumes no liability for the substance of the Content and/or Metadata, nor, therefore, for damage or loss to Users or other third parties that arises from any unlawful substance of the Content and/or Metadata. 
</p><p>9.3	The User indemnifies Europeana against all third-party claims on any grounds whatever that relate to the compensation of damage, loss, costs or interest, in connection with or arising from his use of the Service and/or any breach of these Terms for User Contributions and/or any other rights of third parties.
</p><p>9.4	This restriction of liability does not, however, intend to exclude Europeana's liability for intent and/or wilful recklessness by Europeana ("own actions") itself and/or its executive managers.
</p><p>9.5	The only action the User may take if he is of the opinion that he has sustained any damage or loss, is to cease using the Service and close his Account. 
</p>
<h3>Article 10	Duration and Termination</h3>
<p>10.1	The User is entitled to cease using the Service and close his Account at any time.
</p><p>10.2	Europeana is at all times entitled to terminate and/or suspend the availability of the Service to the User if it considers there are grounds for doing so, without creating any liability on its part towards the User.
</p>
<h3>Article 11	Miscellaneous, Applicable Law and Competent Court</h3>
<p>11.1	These Terms for User Contributions and the use of the Service are governed by the laws of the Netherlands.
</p><p>11.2	Where national or international rules of law do not contain mandatory provisions to the contrary, all disputes between the User and Europeana will, at the discretion of the party serving a summons or the party making an application, be brought before the competent court in the district of his place of residence or place of business, or before another court that is competent pursuant to national or international rules of law.
</p><p>11.3	Should any provision of these Terms for User Contributions be or become invalid, the User and Europeana will remain bound to the remaining provisions.  Europeana will replace the invalid provision by a valid provision, in accordance with the object and purport of these Terms of Use, in such a way that the new provision differs as little as possible from the invalid provisions.</p>



