<% @title = t('views.attachments.index.title') %>

<%= render :partial => 'contribution', :object => @contribution %>

<ul class="collection-actions">
  <li><%= link_to t('views.attachments.index.links.new'), new_contribution_attachment_path(@contribution), :class => 'new-member' %></li>
</ul>

<% if @attachments.present? -%>
  <%= render :partial => 'table', :locals => { :attachments => @attachments } %>
<% else -%>
  <p><%= t'views.attachments.index.empty' %></p>
<% end -%>
