/**
 *	760px or greater
 */

	body {
		font-size: 90%;
		max-width: 1200px;
		padding: 2% 6%;
	}


/**
 *	grid
 */

	.two-thirds-right {
		float: right;
		width: 66%;
	}


/**
 *	header
 */

	#header {
		position: relative;
		height: 147px;
		margin: 0 0 2% 0;
		overflow: hidden;
	}
	
	#logo {
		width: 40%;
		margin: 0;
	}
	
	#header img {
		max-width: 100%;
	}
	
	#search {
		position: absolute;
		top: 77%;
		right: 0;
		margin: 0;
		width: 25%;
	}
	
	#search input {
		width: 100%;
	}


/**
 *	menu
 */
	
	#navigation-main.menu li,
	#navigation-user.menu li,
	#navigation-user-menu.menu li,
	#navigation-footer.menu li {
		float: left;
	}
	
	.menu {
		list-style: none;
		overflow: hidden;
	}
	
	.menu a {
		display: block;
		float: left;
		padding: 5px 11px;
		border-left: 1px solid #dadada;
		text-decoration: none;
		font-size: 100%;
		font-weight: bold;
		color: #000;
	}
	
	.menu a.selected {
		background-color: #333;
		color: #fff;
	}
	
	.menu a:hover {
		background-color: #eaeaea;
	}	


	/**
	 *	navigation-main
	 */
	
		#navigation-main {
			position: absolute;
			top: 77%;
			left: 80px;
			margin: 0;
			padding: 0;
		}
	
	
	/**
	 * navigation user
	 */
	
		#navigation-user {
			position: absolute;
			top: 0;
			right: 0;
		}
		
		#navigation-user form {
			padding: 3px 11px;
		}	
	
	
	/**
	 * navigation user menu
	 */
	
		#navigation-user-menu {
			position: absolute;
			z-index: 100;
			top: 30px;
			right: 0;
		}
		
		.username {
			padding: 5px 10px 0 0;
		}
		
		
	/**
	 *	navigation footer
	 */
		
		#navigation-footer {
			font-size: 90%;
		}
		
		#navigation-footer li:last-child {
			float: right;
			margin: 5px 0 0 0;
		}


/**
 *	content
 */

	#content {
		position: relative;
		overflow: hidden;
		padding: 0 0 0 4%;
	}


/**
 *	featured
 */
	
	#featured {
		position: relative;
		max-height: 400px;
	}
	
	#featured img {
		max-width: 100%;
	}


/**
 *	explore
 */

	#explore-introduction {
		float: left;
		width: 29%;
		height: 340px;
		overflow: auto;
	}
	
	#stories-from-the-archive {
		
	}
	
	#stories-from-the-archive img {
		max-width: 100%;
	}
	
	#stories-from-the-archive li {
		position: relative;
		float: left;
		text-align: center;
	}
	
	#stories-from-the-archive .caption {
		position: absolute;
		bottom: 5px;
		left: 0;
		padding: 5px 10px;
		color: #fff;
		background-color: rgba(0,0,0,.7);
		text-align: left;
	}
	
	#stories-from-the-archive a {
		float: left;
	}
	
	#explore-by {
		width: 100%;
		overflow: hidden;
		margin: 0 0 2% 0;
	}
	
	#explore-by h2 {
		font-weight: normal;
		margin: 0;
	}
	
	#explore-by-object {
		position: relative;
		width: 48%;
		height: 240px;
		float: left;
		border: 1px solid #dadada;
		overflow: hidden;
		padding: 5px;
	}
	
	#explore-by-object li {
		list-style: none;
		display: inline;
	}
	
	#explore-by-theme {
		position: relative;
		width: 48%;
		height: 240px;
		float: right;
		border: 1px solid #dadada;
		overflow: hidden;
		padding: 5px;
	}
	
	#explore-by-theme li {
		list-style: none;
		display: inline;
	}
	
	
/**
 *	story-info
 */

	#story-info {
		float: left;
		width: 28%;
	}
	
	
	/**
	 *	metadata
	 */
		
		#story-metadata {
			height: 260px;
			overflow-y: scroll;
			border: 1px solid #dadada;
			margin: 0 0 2% 0;
		}
		
		#story-metadata dd {
			margin: 0 0 2% 0;
		}
	
	
	/**
	 *	translate
	 */
	
		#story-translate {
			margin: 0 0 2% 0;
		}
	
	
	/**
	 *	map
	 */
	
		#story-map {
			height: 260px;
			border: 1px solid #dadada;
		}
	
	
/**
 *	story-images
 */
	
	#story-images {
		width: 70%;
		float: right;
	}
	
	
	/**
	 *	image viewer
	 */
		
		#image-viewer {
			height: 360px;
			overflow-y: scroll;
			background-color: #797979;
			margin: 0;
			list-style: none;
		}			
		
		#image-viewer img {
			max-width: 100%;
		}
		
		#image-viewer li {
			display: inline;
		}
	
	
	/**
	 *	thumbnail viewer
	 */
		
		#thumbnail-viewer {		
			height: 120px;
			overflow-y: scroll;
			background-color: #797979;
			margin: 0;
			list-style: none;
		}
		
		#thumbnail-viewer li {
			display: inline;
		}
	
	
	/**
	 *	images extra
	 */
	
		#images-extra {
			background-color: #d6d6d6;
			margin: 0 0 2% 0;
			padding: 10px;
			list-style: none;
			overflow: hidden;
			text-align: center;
		}
		
		#images-extra li {
			float: left;
			width: 25%;
		}
		
		#images-extra a {
			background-color: #797979;
			color: #fff;
			text-decoration: none;
			padding: 5px 10px;
			text-transform: uppercase;
			font-size: 80%;
		}
	
	
	/**
	 *	banner
	 */
	
		#banner {
			height: 40px;
			background-color: #d6d6d6;
			text-align: center;
		}