/**
 *	760px or greater
 */

	body {
		font-size: 90%;
		max-width: 1200px;
		padding: 2% 6%;
	}


/**
 *	grid
 */

	.two-thirds-right {
		float: right;
		width: 66%;
	}


/**
 *	header
 */

	#header {
		position: relative;
		height: 147px;
		margin-bottom: 3%;
		overflow: hidden;
	}
	
	#logo {
		width: 40%;
		margin: 0;
	}
	
	#header img {
		max-width: 100%;
	}
	
	#search {
		position: absolute;
		top: 77%;
		right: 8px;
		margin: 0;
		width: 25%;
	}
	
	#search input {
		width: 100%;
	}


/**
 *	menu
 */
	
	#navigation-main.menu li,
	#navigation-user.menu li,
	#navigation-user-menu.menu li,
	#navigation-footer.menu li {
		float: left;
	}
	
	.menu {
		list-style: none;
		overflow: hidden;
	}
	
	.menu a {
		display: block;
		float: left;
		padding: 5px 11px;
		border-left: 1px solid #dadada;
		text-decoration: none;
		font-size: 100%;
		font-weight: bold;
		color: #000;
	}
	
	.menu a.selected {
		background-color: #333;
		color: #fff;
	}
	
	.menu a:hover {
		background-color: #eaeaea;
	}	


	/**
	 *	navigation-main
	 */
	
		#navigation-main {
			position: absolute;
			top: 77%;
			left: 80px;
			margin: 0;
			padding: 0;
		}
	
	
	/**
	 * navigation user
	 */
	
		#navigation-user {
			position: absolute;
			top: 0;
			right: 0;
		}
		
		#navigation-user form {
			padding: 3px 11px;
		}	
	
	
	/**
	 * navigation user menu
	 */
	
		#navigation-user-menu {
			position: absolute;
			z-index: 100;
			top: 30px;
			right: 0;
		}
		
		.username {
			padding: 5px 10px 0 0;
		}
		
		
	/**
	 *	navigation footer
	 */
		
		#footer {
			height: 32px;
		}
		
		#navigation-footer {
			font-size: 90%;
		}
		
		#navigation-footer li:last-child {
			float: right;
			margin: 5px 0 0 0;
		}


/**
 *	content
 */

	#content {
		position: relative;
		overflow: hidden;
		padding: 0 0 0 4%;
	}	
	


/**
 *	featured items
 */

	.featured {
		position: relative;
		background-image: url('/themes/v2/images/backgrounds/background.jpg');
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 3%;
		max-height: 400px;
	}
	
	.featured.caption a {
		float: none;
	}
	
	.featured img {
		max-width: 100%;
	}
	
	.featured li {
		position: relative;
		float: left;
		text-align: center;
	}
	
	.item-metadata {
		position: absolute;
	}
	

/**
 *	explore
 */

	#explore-introduction {
		float: left;
		width: 29%;
		height: 340px;
		overflow: auto;
	}
	
	#explore-by {
		width: 100%;
		overflow: hidden;
		margin: 0 0 2% 0;
	}
	
	#explore-by h2 {
		font-weight: normal;
		margin: 0;
	}
	
	#explore-by-object {
		position: relative;
		width: 48%;
		height: 240px;
		float: left;
		border: 1px solid #dadada;
		overflow: hidden;
		padding: 5px;
	}
	
	#explore-by-object li {
		list-style: none;
		display: inline;
	}
	
	#explore-by-theme {
		position: relative;
		width: 48%;
		height: 240px;
		float: right;
		border: 1px solid #dadada;
		overflow: hidden;
		padding: 5px;
	}
	
	#explore-by-theme li {
		list-style: none;
		display: inline;
	}
	
	#explore-stories-from-the-archive {
		position: relative;
		max-height: 400px;
	}
	
	#explore-stories-from-the-archive .caption {
		display: none;
	}
	
	
/**
 *	story-info
 */

	#story-info {
	}
	
	
	/**
	 *	metadata
	 */
		
		#story-metadata {
			margin: 0 0 2% 0;
		}
		
		#story-metadata dd {
			margin: 0 0 2% 0;
		}
	
	
	/**
	 *	map
	 */
	
		#story-map {
			height: 260px;
			width: 66%;
			float: right;
			margin: 0 0 0 10px;
		}
	
	
	/**
	 *	avatar
	 */

		#avatar {
			float: left;
			width: 20%;
			line-height: 120%;
			font-size: 90%;
			text-align: center;
		}


/**
 *	story-images
 */
	
	#story-images {
		position: relative;
		margin: 0 0 3% 0;
	}
	
	
	/**
	 *	thumbnail viewer
	 */
		
		#thumbnail-viewer {
			position: relative;
			height: 120px;
			background-color: #dfdfdf;
		}
	
		#thumbnail-viewer a {
			float: left;
			overflow: hidden;
			width: 100px;
		}
	
	/**
	 *	images extra
	 */
	
		#images-extra {
			background-color: #d6d6d6;
			margin: 0 0 3% 0;
			padding: 10px;
			list-style: none;
			overflow: hidden;
			text-align: center;
		}
		
		#images-extra li {
			float: left;
			width: 25%;
		}
		
		#images-extra a {
			background-color: #797979;
			color: #fff;
			text-decoration: none;
			padding: 5px 10px;
			text-transform: uppercase;
			font-size: 80%;
		}
	
	
	/**
	 *	banner
	 */
	
		#banner {
			margin: 0 0 3% 0;
			padding: 10px;
			overflow: hidden;
		}
		
		#banner img {
			float: left;
			margin-right: 10px;
		}
	
	
	/**
	 *	lightbox
	 */
		
		.lightbox-metadata {
			display: none;
		}
		
		.lightbox-image {
		}
		
/**
 *	posts
 */

	#infscr-loading {
		position: fixed;
		bottom: 50%;
		left: 50%;
		width: 32px;
		margin: 0 0 0 -16px;
		text-align: center;
		z-index: 1000;
	}
	