/**
 *	760px or greater
 */

	html {
		font-size: 14px;
	}


/**
 *	featured
 */
	
	#featured {
		position: relative;
		border: 1px solid #dadada;
		margin: 0 0 2% 0;
		max-height: 400px;
		width: auto;
		overflow-y: scroll;
	}
	
	#featured img {
		max-width: 100%;
	}


/**
 *	index
 */
	
	.flowplayer {
		width: 480px;
		height: 272px;
		display: block;
	}
