/**
 *	767px or less
 */

	#logo {
		float: left;
	}
	
	#logo a {
		width: 116px;
	}
	
	#navigation-user {
		margin-top: -3px;
		text-align: right;
		list-style: none;
	}
	
	#navigation-main {
		position: absolute;
		top: 50px;
		right: 0;
		text-align: right;
	}
	
	#navigation-main li {
		float: left;
		list-style: none;
		margin-right: 20px;
	}
	
	#shareicons {
		position: absolute;
		right: 0;
		bottom: 11px;
	}
	
	#navigation-footer {
		text-align: center;
		list-style: none;
	}