/**
 *	767px or less
 */

	#logo {
		float: left;
	}
	
	#logo a {
		width: 100px;
		background-image: url('/themes/v2/images/logos/eew-logo-three-quarter.png');
	}
	
	#navigation-user {
		margin: 10px 0 0 60px;
		list-style: none;
	}
	
	#navigation-user select {
		float: right;
	}
	
	#navigation-main {
		margin: 12px 0 0 60px;
		list-style: none;
	}
	
	#navigation-user li {
		display: none;
	}
	
	#navigation-user li:nth-last-child(3) {
		display: block;
	}
	
	#shareicons {
		position: absolute;
		right: 0;
		bottom: 7px;
	}
	
	#navigation-footer {
		text-align: center;
		list-style: none;
		padding: 0;
	}
	
	#explore-introduction {
		margin-top: 1em;
	}
	
	#explore-featured-categories h2 {
		text-align: center;
	}
	
	#results #search {
		width: 100%;
	}
	
	#index-introduction,
	#index-aside,
	#news-articles {
		margin-top: 1em;
	}
	
	
	#explore-featured-categories ol {
		margin: 0 auto;
	}
	
	#results ul {
		margin: 1em auto;
	}
	
	#q,
	select,
	input[type='submit'] {
		font-size: 120%;
	}
	
	#google-map {
		max-width: 90%;
	}
	
	#contributions-thumbnails {
		padding: 30px 20px;
	}