/**
 *	html
 */

	html {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 100%;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		color: #333;
		background-color: #dadada;
	}
	
	body {
		overflow-y: scroll;
		margin: 0 auto;
		padding: 2%;		
		background-color: #fff;
	}
	
	h1, h2, h3 {
		margin: 0 0 .4em 0;
		line-height: 120%;
		clear: both;
	}
	
	h1 {
		font-size: 200%;
	}
	
	h2 {
		font-size: 160%;
	}
	
	p {
		margin: 0 0 1.5% 0;
	}
	
	a {
		color: #0075FF;
		text-decoration: none;
		-webkit-transition: color 500ms ease-out;
		-moz-transition: color 500ms ease-out;
		-ms-transition: color 500ms ease-out;
		-o-transition: color 500ms ease-out;
		transition: color 500ms ease-out;
	}
	
	a:hover {
		color: #ff00c2
	}
	
	img {
		border: none;
	}
	
	section {
		position: relative;
		overflow: hidden;
	}
	
	article {
		border-bottom: 1px solid #dadada;
		margin-bottom: 3%;
		padding-bottom: 3%;
	}
	
	.border-top {
		border-top: 1px solid #dadada;
		margin-top: 3%;
		padding-top: 3%;
	}
	
	.top {
		margin-top: 3%;
	}
	
	.border-bottom {
		border-bottom: 1px solid #dadada;
		padding-bottom: 3%;
	}
	
	.highlighted-option {
		font-weight: bold;
	}
	

/**
 *	tables
 */

	table {
		width: 100%;
		border-collapse: collapse;
	}
	
	td, th {
		font-size: 90%;
	}
	
	caption {
		font-size: 90%;
		font-weight: bold;
		margin: 0;
		padding: 4px 0;
		color: #333;
		
		background: rgb(147,149,152); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(198,200,202,1) 0%, rgba(147,149,152,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,200,202,1)), color-stop(100%,rgba(147,149,152,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(198,200,202,1) 0%,rgba(147,149,152,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(198,200,202,1) 0%,rgba(147,149,152,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(198,200,202,1) 0%,rgba(147,149,152,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(198,200,202,1) 0%,rgba(147,149,152,1) 100%); /* W3C */
	}
	
	th {
		background: #eaeaea;
		color: #333;
		font-weight: 700;
		padding: 0.25em;
		text-align: left;
	}


/**
 *	forms
 */

	form {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	
	fieldset {
		margin: 0;
		padding: 2%;
		border: 1px solid #bfbfbf;
	}
	
	fieldset.buttons {
		border: none;
	}
	
	fieldset ol {
		list-style: none;
		margin: 0 0 0 0;
	}
	
	label {
		display: block;
	}
	
	input[type="submit"] {
		padding: 5px;
		font-weight: bold;
		color: #34404f;
		background-color: #f5f5f5;
		border: 1px solid;
		border-color: #dedede #bfbfbf #bfbfbf #dedede;
		cursor: pointer;
		-webkit-transition: background-color 1s ease-out;
		-moz-transition: background-color 1s ease-out;
		-ms-transition: background-color 1s ease-out;
		-o-transition: background-color 1s ease-out;
		transition: background-color 1s ease-out;
	}
	
	input[type="submit"]:hover {
		background-color: #dff4ff;
		border: 1px solid #a7cedf;
		color: #369;
	}
	
	.inline-hints {
		margin: 0;
	}


/**
 *	classes
 */

	.mandatory {
		color: #ff0000;
		display: block;
	}
	
	.error {
		color: #ff0000;
	}
	
	.bold {
		font-weight: bold;
	}
	
	.right-align {
		text-align: right;
	}
	
	.center-align {
		text-align: center;
	}
	
	.small {
		font-size: 80%;
	}
	
	.grey {
		background-color: #dfdfdf;
	}
	
	.box-gradient {
		padding: 2%;
		background-color: #eee;
		background: -webkit-radial-gradient(circle, #ccc, #eee);
		background: -moz-radial-gradient(circle, #ccc, #eee);
		background: -ms-radial-gradient(circle, #ccc, #eee);
		background: -o-radial-gradient(circle, #ccc, #eee);
		background: radial-gradient(circle, #ccc, #eee);
	}
	
	.responsive-box {
		padding: 2%;
		border: 1px solid #dadada;
		overflow: hidden;
	}	
	
	.responsive-box img {
		max-width: 100%;
	}
	
	.responsive-box iframe {
		max-width: 100%;
	}	
	
	#search input[type="text"]:focus {
		-moz-box-shadow: 0 0 4px rgba(153,0,255,.3);
	}
	
	a.button {
		/* was 255,255,255 to 229,229,229 */
		/* #c6c8ca to #939598 = 198,200,202 to 147,149,152 */
		/* #9900ff = 153,0,255 purple */
		color: #333;
		font-weight: bold;
		padding: 5px 10px;
		border: 1px solid;
		border-color: #dedede #bfbfbf #bfbfbf #dedede;
		cursor: pointer;
		
		background: rgb(147,149,152); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(198,200,202,1) 0%, rgba(147,149,152,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,200,202,1)), color-stop(100%,rgba(147,149,152,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(198,200,202,1) 0%,rgba(147,149,152,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(198,200,202,1) 0%,rgba(147,149,152,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(198,200,202,1) 0%,rgba(147,149,152,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(198,200,202,1) 0%,rgba(147,149,152,1) 100%); /* W3C */
		
	}
	
	a.button:hover {
		color: #000;
		border-color: #cecece #afafaf #afafaf #cecece;
	}


/**
 *	header
 */

	#header {
		height: 151px;
		border-bottom: 1px solid #dadada;
	}
	
	
	#logo a {
		display: block;
		width: 263px;
		height: 140px;
		background-image: url('/themes/v2/images/logos/eew-logo-landscape.png');
		background-repeat: no-repeat;
		background-position: 0 0;
	}


/**
 *	menu
 */
	
	.menu a {
		padding: 3px 10px;
		border-left: 1px solid #dadada;
		text-decoration: none;
		font-size: 100%;
		font-weight: bold;
		color: #000;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}
	
	.menu a.selected {
		color: #f5f5f5;		
		background: rgb(125,126,125); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	}
	
	.menu a:hover {
		background-color: #eaeaea;
		color: #000;
	}
	
	.menu a.selected:hover {
		color: #f5f5f5;
	}


/**
 *	blogger rss feed
 */

	.blogger-post-footer {
		display: none;
	}


/**
 *	results
 */

	#results {
		position: relative;
	}
	
	#results ul {
		list-style: none;
		margin: 1em 0;
		padding: 0 0 0 3px;
	}
	
	#results li {
		float: left;
		width: 170px;
		margin: 0 17px 17px 0;
		padding: 15px;
		line-height: 120%;
		font-size: 90%;
		
		webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.8);
		moz-box-shadow: 0 1px 3px rgba(34,25,25,0.8);
		ms-box-shadow: 0 1px 3px rgba(34,25,25,0.8);
		o-box-shadow: 0 1px 3px rgba(34,25,25,0.8);
		box-shadow: 0 1px 3px rgba(34,25,25,0.8);		
	}
	
	#results li a {		
		display: block;
		text-align: center;
		margin-bottom: 17px;
	}
	
	#results li img {
		max-width: 100%;
	}
	
	.pagination {
		clear: both;
	}


/**
 *	search
 */
	
	#search {
		position: relative;
		margin-bottom: 1em;
	}
	
	#search #q {
		padding: 3px 3px 5px 24px;
		border: 1px solid #808080;
		background-image: url('/themes/v2/images/icons/search.png');
		background-position: 2px 4px;
		background-repeat: no-repeat;
	}
	
	#results #search {
		width: 44%;
	}
	
	#results #q {
		width: 66%;
	}
	
	#results input[type='submit'] {
		width: 20%;
		float: right;
	}
	
	#explore #search {
		width: 100%;
	}
	
	#explore-introduction #q {
		width: 66%;
	}
	
	#explore-introduction input[type='submit'] {
		float: right;
		width: 20%;
	}

	
/**
 *	carousel
 */
	
	
	.carousel {
		position: relative;
		/*max-height: 400px;*/
		overflow: hidden;
		background-image: url('/themes/v2/images/backgrounds/background.jpg');
		background-repeat: no-repeat;
		background-position: center 0;
	}
	
	.carousel-overlay {
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #fff;
		background-image: url('/themes/v2/images/icons/loading-animation.gif');
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.carousel ul {
		margin: 0 0 0 0;
		padding: 0;
	}
	
	.carousel li {
		position: relative;
		overflow: hidden;
		display: inline-block;
		line-height: 0;
		vertical-align: middle;
		text-align: center;
	}
	
	.carousel img {
		max-width: 100%;
	}
	
	.carousel a {	
		position: relative;
		display: inline-block;
	}
	
	.carousel input {
		position: absolute;
		opacity: 0.8;
		-webkit-transition: opacity .3s ease-out;
		-moz-transition: opacity .3s ease-out;
		-ms-transition: opacity .3s ease-out;
		-o-transition: opacity .3s ease-out;
		transition: opacity .3s ease-out;
	}
	
	.carousel input.large {
		top: 50%;
		margin-top: -50px;
	}
	
	.carousel input.medium {
		top: 50%;
		margin-top: -40px;
		height: 75px;
	}
	
	.carousel input.small {
		top: 50%;
		height: 50px;
		margin-top: -25px;
	}
	
	.carousel input:hover {
		opacity: 1.0;
	}
	
	.carousel input[data-dir="next"] {
		right: 0;
	}
	
	.carousel input[data-dir="prev"] {
		left: 0;
	}
	
	.carousel iframe {
		max-width: 100%;
	}
	
	.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 96.5%;
		text-align: left;
		line-height: 100%;
		background-color: #000;
		background-color: rgba(0,0,0,.7);
		color: #f5f5f5;
		padding: 5px 1.75% 7px 1.75%;
	}
	
	.caption h3 {
		font-size: 100%;
		line-height: 140%;
		margin: 0;
	}
	
	#explore-featured-categories .caption {
		width: 97%;
		text-align: center;
		bottom: 6px;
	}


/**
 *	metadata
 */
   
   .metadata {
	   margin: 0 0 2% 0;
   }
   
   .metadata dd {
	   margin: 0 0 2% 0;
   }
   
   #story-metadata dd,
   #story-metadata dt {
	   -webkit-transition: background-color 1s ease-out;
	   -moz-transition: background-color 1s ease-out;
	   -ms-transition: background-color 1s ease-out;
	   -o-transition: background-color 1s ease-out;
	   transition: background-color 1s ease-out;
   }


/**
 *	lightbox
 */

	.lightbox-metadata, .metadata-license {
		display: none;
	}


	/**
	 *	translate-details
	 */
	
		#translate-details {
			text-align: right;
		}
		
		#translation-services {
			position: relative;
			font-size: 80%;
			padding: 3% 3% 3% 0;
		}
		
		#translation-services img {
			display: none;
			position: absolute;
			left: 240px;
			top: 20px;
		}
		
		#microsoft-translate-element select {
			display: block;
		}


/**
 *	contribution thumbnails
 */
	
	#contributions-thumbnails {
		max-height: 120px;
		padding: 20px;
	}
	
	#contributions-thumbnails a {
		opacity: 0.6;
		-webkit-transition: opacity .5s ease-out;
		-moz-transition: opacity .5s ease-out;
		-ms-transition: opacity .5s ease-out;
		-o-transition: opacity .5s ease-out;
		transition: opacity .5s ease-out;
	}
	
	#contributions-thumbnails a:hover {
		opacity: 1.0;
	}
	
	#contributions-thumbnails a.selected {
		opacity: 1.0;
	}
	
	#thumbnail-counts {
		background-color: #d6d6d6;
		margin: 0 0 3% 0;
		padding: 10px;
		list-style: none;
		overflow: hidden;
		text-align: center;
	}


/**
 *	index
 */
	
	#index-call-to-action .button {
		display: inline-block;
		margin: 0 10px 0 0;
	}


/**
 *	explore
 */

	#explore-featured {
		max-height: 400px;
	}
	
	#explore-featured-categories ol {
		list-style: none;
		margin: 0 0;
		padding: 0;
	}
	
	#explore-featured-categories li {
		float: left;
		margin-right: 2%;
	}


/**
 *	explore collection days carousel
 */
  
	#explore-collection-days {
		background-position: 0 0;
  }
  
	#explore-collection-days li {
		background-image: url('/themes/v2/images/backgrounds/silhouette.png');
		background-repeat: no-repeat;
		background-position: center;
	}
  
	#explore-collection-days a {
		overflow: hidden;
		width: 200px;
		height: 88px;
		line-height: 130%;
		padding-top: 32px;
		color: #000;
		font-size: 100%;
		text-decoration: none;
		text-align: center;
		background-color: rgba( 255, 255, 255, .5);
		
		-webkit-transition: 0.4s ease-in;
		-moz-transition: 0.4s ease-in;
		-ms-transition: 0.4s ease-in;
		-o-transition: 0.4s ease-in;
		transition: 0.4s ease-in;
	}
  
	#explore-collection-days a:hover {
		background-color: rgba(0,0,0,.6);
		color: #fff;
	}


/**
 *	posts
 */

	#loading-feedback {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 32px;
		height: 32px;
		margin: 0 0 0 -16px;
		text-align: center;
		z-index: 1000;
		background-image: url('/themes/v2/images/icons/loading-animation.gif');
		background-position: center;
		background-repeat: no-repeat;
		display: none;
	}
	

/**
 *	navigation footer
 */

	#footer {
		border-top: 1px solid #dadada;
		margin-top: 3%;
		padding-top: 12px;
	}
	
	#navigation-footer {
		font-size: 90%;
		margin-bottom: 0;
	}
	
	#navigation-footer li:last-child {
		margin: 3px 0 0 0;
	}

/**
 *	map
 */

	#google-map {
		position: relative;
	}
	
	#story-map {
		position: relative;
		z-index: 1;
		margin-top: 1em;
		height: 260px;
	}
	

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
}