/**
 *	carousel
 */

	.carousel ul,
	.carousel li {
		margin: 0;
		padding: 0;
	}
	
	.carousel li {
		list-style: none;
		line-height: 0;
		display: inline;
	}
	
	.carousel img {
		max-width: 100%;
	}