/**
 *	collection days
 *	920 x ??
 */

	#collection-days {
	  position: relative;
	  width: auto;
	  height: 80px;
	  border: 1px solid #dadada;
	  list-style: none;
	  padding: 2%;
	  margin: auto;
	  text-align: center;
	  overflow-y: scroll;
	}
   
	#collection-days li {
		display: inline;
	}
	
	#collection-days a {
		float: left;
		width: 80px;
		height: 60px;
		padding: 10px 3px;
		border: 1px solid #dadada;
		overflow: hidden;
		font-size: 90%;
		text-align: center;
		color: #000;
		text-decoration: none;
		background-color: rgba( 255, 255, 255, .7);
	}
	
	#collection-days a:hover {
		background-color: rgba(0,0,0,.6);
		color: #fff;
	}