/**
 *	contributions
 */

	#story-metadata dd {
		margin: 0;
	}
	
	
	#story-images img {
		max-width: 100%;
	}
	
	#story-images ul {
		list-style: none;
	}
	
	#image-viewer {		
		max-height: 430px;
		overflow-y: scroll;
	}
	
	#thumbnail-viewer {		
		max-height: 120px;
		overflow-y: scroll;
	}
	
	#thumbnail-viewer li {
		display: inline;
	}