/**
 *	contributions
 */

	#story-images img {
		max-width: 100%;
	}
	
	#image-viewer {		
		max-height: 445px;
		overflow-y: scroll;
	}
	
	#thumbnail-viewer {		
		max-height: 80px;
		overflow-y: scroll;
	}