/**
 *	explore
 */

	#explore-introduction {
		float: left;
		width: 29%;
		height: 340px;
		overflow: auto;
	}
	
	#editors-picks {
		float: right;
		width: 68%;
		height: 340px;
		overflow: auto;
		border: 1px solid #dadada;
	}
	
	#editors-picks li {
		list-style: none;
		display: inline;
	}
	
	#explore-by-object {
		position: relative;
		width: 47%;
		height: 240px;
		float: left;
		border: 1px solid #dadada;
		overflow: hidden;
	}
	
	#explore-by-object li {
		list-style: none;
		display: inline;
	}
	
	#explore-by-theme {
		position: relative;
		width: 47%;
		height: 240px;
		float: right;
		border: 1px solid #dadada;
		overflow: hidden;
	}
	
	#explore-by-theme li {
		list-style: none;
		display: inline;
	}
	
	.section-heading {
		position: absolute;
		top: 0;
		left: 0;
		padding: 5px 10px;
		width: 100%;
		background-color: rgba(0,0,0,.3);
		color: #f5f5f5;
	}