/**
 *	featured
 *	920 x 440
 */
	
	#featured {
		position: relative;
		border: 1px solid #dadada;
		margin: 0 0 2% 0;
		max-height: 400px;
		width: auto;
		overflow-y: scroll;
	}
	
	#featured img {
		max-width: 100%;
	}