/**
 *	footer
 */

	#footer {
		position: relative;
	}
	
	#footer,
	#footer.menu a {
		font-size: 85%;
	}
	
	#eu-credit {
		float: right;
		width: 190px;
		margin: 5px 0 0 0;
	}
	
	#eu-credit img {
		float: right;
	}
	#eu-credit {
		/*
		position: absolute;
		top: 0;
		right: 0;
		margin: 5px 0 0 0;
		*/
	}