/**
 *	forms
 */

	form {
		margin: 0;
		padding: 0;
	}
	
	fieldset {
		margin: 0;
		padding: 2%;
		border: 1px solid #bfbfbf;
	}
	
	fieldset.buttons {
		border: none;
	}
	
	fieldset ol {
		list-style: none;
		margin: 0 0 0 0;
	}
	
	label {
		display: block;
	}
	
	input[type="submit"] {
		padding: 5px;
		font-weight: bold;
		color: #34404f;
		background-color: #f5f5f5;
		border: 1px solid;
		border-color: #dedede #bfbfbf #bfbfbf #dedede;
		cursor: pointer;
	}
	
	input[type="submit"]:hover {
		background-color: #dff4ff;
		border: 1px solid #a7cedf;
		color: #369;
	}
	
	.inline-hints {
		margin: 0;
	}