/**
 *	html
 */

	html {
		font-size: 13px;
		font-family: sans-serif;
	}
	
	body {
		max-width: 960px;
		margin: 0 auto;
		padding: 2%;
		font-size: 100%;
		overflow-y: scroll;
	}
	
	
	h1 {
		font-size: 200%;
		line-height: 120%;
	}
	
	h2 {
		font-size: 160%;
		line-height: 120%;
	}
	
	p {
		font-size: 100%;
		line-height: 140%;
	}
	
	ul, li {
		line-height: 140%;
	}
