/**
 *	html
 */

	html {
		font-size: 13px;
		font-family: sans-serif;
	}
	
	body {
		max-width: 960px;
		margin: 0 auto;
		padding: 2%;
		font-size: 100%;
		overflow-y: scroll;
	}
	
	
	h1, h2, h3 {
		margin: 0 0 1em 0;
		line-height: 120%;
	}
	
	h1 {
		font-size: 200%;
	}
	
	h2 {
		font-size: 160%;
	}
	
	p {
		font-size: 100%;
		line-height: 140%;
		margin: 0 0 1em 0;
	}
	
	ol {
		margin: 0 0 1em 21px;
		padding: 0;
	}
	
	ul {
		margin: 0 0 1em 17px;
		padding: 0;
	}
	
	li {
		line-height: 140%;
	}
