/**
 *	index
 */
	
	#stories,
	#stories ul {
		position: relative;
		overflow: hidden;
		height: 400px;
		margin: 0;
		padding: 0;
	}
	
	#stories ul {
		margin: 0 0 0 50px;
	}
	
	#stories li {
		float: left;
		list-style: none;
	}
	
	#your-story,
	#archive-stories {
		position: absolute;
		top: 0;
		padding: 5px;
		height: 388px;
		border: 1px solid #dadada;
	}
	
	#your-story {
		right: 30px;
	}
	
	#archive-stories {
		left: 0;
	}
	
	#player {
		width: 480px;
		height: 272px;
		display: block;
	}
	