@media (max-width: 760px) {
	
	html {
		font-size: 14px;
	}
	
	.menu a {
		font-size: 110%;
	}
	
	.menu a,
	#navigation-footer.menu li {
		float: none;
	}
	
	#eu-credit {
		float: none;
		width: 210px;
	}
	
	#story-images,
	#story-metadata,
	#story-translate,
	#story-map {
		float: none;
		width: auto;
	}
	
	#footer {
		text-align: center;
	}
	
	#navigation-footer li:last-child,
	#navigation-footer li:last-child img {
		float: none;
		width: auto;
	}

}

@media (max-width: 420px) {
	
	
}