@media (max-width: 760px) {
	
	html {
		font-size: 14px;
	}
	
	.menu a {
		font-size: 110%;
	}
	
	.menu a,
	#navigation-footer.menu li {
		float: none;
	}
	
	#eu-credit {
		float: none;
		width: 210px;
	}

}

@media (max-width: 420px) {
	
	
}