/**
 *	menu
 */
	
	#navigation-user {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	#navigation-main {
		position: absolute;
		top: 166px;
		left: 0;
		margin: 0 0 0 100px;
		padding: 0;
	}
	
	.menu {
		list-style: none;
		overflow: hidden;
	}
	
	.menu li {
		display: inline;
	}
	
	.menu a {
		display: block;
		float: left;
		padding: 5px 11px;
		border-left: 1px solid #ccc;
		text-decoration: none;
		font-size: 100%;
		font-weight: bold;
		color: #000;
	}
	
	.menu a.selected {
		background-color: #333;
		color: #fff;
	}
	
	.menu a:hover {
		background-color: #eaeaea;
	}