/**
 *	menu
 */
	
	#navigation-main {
		position: absolute;
		top: 0;
		left: 0;
		margin: 85% 0 0 11%;
		padding: 0;
	}
	
	.menu {
		list-style: none;
		overflow: hidden;
	}
	
	#navigation-main.menu li,
	#navigation-user.menu li,
	#navigation-user-menu.menu li,
	#navigation-footer.menu li {
		float: left;
	}
	
	.menu a {
		display: block;
		float: left;
		padding: 5px 11px;
		border-left: 1px solid #ccc;
		text-decoration: none;
		font-size: 100%;
		font-weight: bold;
		color: #000;
	}
	
	.menu a.selected {
		background-color: #333;
		color: #fff;
	}
	
	.menu a:hover {
		background-color: #eaeaea;
	}	


/**
 * navigation user
 */

	#navigation-user {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	#navigation-user form {
		padding: 3px 11px;
	}	


/**
 * navigation user menu
 */

	#navigation-user-menu {
		position: absolute;
		z-index: 100;
		top: 30px;
		right: 0;
	}
	
	.username {
		padding: 5px 10px 0 0;
	}