/**
 *	search
 */

	#facets {
		float: left;
		width: 20%;
		margin: 0 2% 0 0;
		border: 1px solid #dadada;
	}
	
	#results {
		float: left;
		width: 77%;
		border: 1px solid #dadada;
	}
	
	#stories li {
		list-style: none;
		display: inline;
	}
