/**
 *	slidedeck
 */
	
	.slidedeck {
		position: relative;
		border: 1px solid #dadada;
		margin: 0 0 2% 0;
		max-height: 400px;
		overflow: hidden;
	}
	
	.slidedeck li {
		list-style: none;
		display: inline;
	}
	
	.slidedeck dd img {
		max-width: 100%;
	}
	
	.slidedeck dt a {
		display: block;
		padding: 5px 0 0 3px;
		width: 30%;
		height: 100%;
		border-left: 1px solid #dadada;
		border-right: 1px solid #dadada;
	}
	
	.slidedeck > dt:first-child {
		float: left;
		margin: 0 0 0 -1px;
	}
	
	.slidedeck > dt:last-child {
		float: right;
		margin: 0 -1px 0 0;
	}
	
	.slidedeck dd {
		float: left;
		width: 93%;
		overflow: hidden;
		margin: 0;
	}