/**
 *	story
 */

	/**
	 *	metadata
	 */
		
		#story-metadata {
			float: left;
			width: 28%;
			height: 260px;
			overflow-y: scroll;
			border: 1px solid #dadada;
			margin: 0 0 2% 0;
		}
		
		#story-metadata dd {
			margin: 0;
		}
	
	
	/**
	 *	translate
	 */
	
		#story-translate {
			width: 28%;
			float: left;
			overflow: hidden;
			margin: 0 0 2% 0;
		}
	
	
	/**
	 *	map
	 */
	
		#story-map {
			float: left;
			overflow: hidden;
			width: 28%;
			height: 260px;
			border: 1px solid #dadada;
		}
	
	
	/**
	 *	images
	 */
		
		#story-images {
			width: 70%;
			float: right;
			background-color: #dadada;
		}
		
		#story-images img {
			max-width: 100%;
		}
		
		#story-images ul {
			list-style: none;
		}
		
		
		/**
		 *	image viewer
		 */
			
			#image-viewer {
				max-height: 452px;
				overflow-y: scroll;
			}
		
		
		/**
		 *	thumbnail viewer
		 */
			
			#thumbnail-viewer {		
				max-height: 120px;
				overflow-y: scroll;
			}
			
			#thumbnail-viewer li {
				display: inline;
			}
	