<%- expires_in = 60.minutes if local_assigns[:expires_in].nil? -%>
<%- locale = I18n.locale if local_assigns[:locale].nil? -%>
<%- cache("collection_days_#{locale}", :expires_in => expires_in) do -%>
  
  <%- for entry in collection_days(locale) -%>
  
    <%- unless entry.blank? -%>
      
      <li>
        
        <%= raw relocale_link(entry.content) %>
        
      </li>
      
    <%- end -%>
    
  <%- end -%>

<% end -%>
