<%- expires_in = 60.minutes if local_assigns[:expires_in].nil? -%>
<%- locale = I18n.locale if local_assigns[:locale].nil? -%>
<%- cache("tell_us_your_story_#{locale}", :expires_in => expires_in) do -%>

  <%- for entry in tell_us_your_story(locale) -%>
  
    <%- unless entry.blank? -%>
      
      <li>
        
        <%= raw entry.content %>
        
      </li>
      
    <%- end -%>
    
  <%- end -%>
  
<% end -%>
