<% @javascripts[:index] = true -%>
<% @title = t 'views.home.heading' %>

<div id="stories-from-the-archive" class="es-carousel-wrapper boxed featured">

	<div class="es-carousel">

		<ul>
			<%= render :partial => '/blog_posts/list', :locals => { :category => 'stories-from-the-archive', :tag => :li, :relocale => true, :deblogger => true } %>
		</ul>

	</div>

</div>


<div class="news-item">
  
  <h2><%= t('common.news_item.heading') %></h2>
		<%= render :partial => '/blog_posts/list', :locals => { :blog => 'gwa', :category => 'news', :titles => true, :deblogger => true } %>

</div>
