<% @javascripts[:index] = true -%>
<% @title = t 'views.home.heading' %>

<div id="stories-from-the-archive" class="es-carousel-wrapper boxed featured">

	<div class="es-carousel">

		<ul>
			<%= render :partial => '/blog_posts/list', :locals => { :category => 'stories-from-the-archive', :tag => :li, :relocale => true, :deblogger => true } %>
		</ul>

	</div>

</div>


<div id="news-articles">
  
  <h2>News Items</h2>
		<%= render :partial => '/blog_posts/list', :locals => { :blog => 'gwa', :category => 'news', :tag => :article, :titles => true, :limit => 1, :deblogger => true } %>
		<a class="next-article" href="/<%= I18n.locale %>/blog/gwa/news?offset=2&limit=1&tag=article&deblogger=true">next page</a>
		
</div>
