<% expires_in = 60.minutes if local_assigns[:expires_in].nil? -%>
<% locale = I18n.locale if local_assigns[:locale].nil? -%>
<% cache("editors_picks_#{locale}", :expires_in => expires_in) do -%>
  <div class="feedcontent">
  <%- for entry in editors_picks(locale) -%>
    <%- unless entry.blank? -%>
        <h3><%= entry.title %></h3>
        <%= raw entry.content %>
    <%- end -%>
  <%- end -%>
  </div>
<% end -%>
