<% expires_in = 60.minutes if local_assigns[:expires_in].nil? -%>
<% locale = I18n.locale if local_assigns[:locale].nil? -%>
<% cache("news_item_#{locale}", :expires_in => expires_in) do -%>
  <%- entry = news_item(locale) -%>
  <%- unless entry.blank? -%>
    <div class="feedcontent">
      <h3><%= entry.title %></h3>
      <%= raw entry.content %>
    </div>
  <%- end -%>
<% end -%>