<% @title = 'Explore the archive' %>

<p>Here you can see what has been added to the archive so far.</p>
<% if current_user.may_search_contributions? -%>
  <%= render :partial => '/shared/search_form', :locals => { :query => @query } %>
<% end -%>

<p>Use the search box to find objects that <b>match a particular word or phrase</b>. To <b>see everything</b> that has been added to the archive so far, click 'search' (leave box empty). </p>

<p>You can also <b>browse the collection</b>. Click on a sample search term below to run the search for the corresponding German word. The number of results will increase as more material is being added to the archive.</p>

<p>
<b>Search for:</b><br />
[<a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=Postkarte" title="Search for 'Postkarte'">postcard</a>]&nbsp;
[<a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=Tagebuch" title="Search for 'Tagebuch'">diary</a>]&nbsp;
[<a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=Milit%C3%A4rpass" title="Search for 'Militärpass'">military passport</a>]&nbsp;
[<a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=Orden" title="Search for 'Orden'">medal</a>]&nbsp;
[<a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=Familie" title="Search for 'Familie'">family</a>]&nbsp;
[<a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=Infanterie" title="Search for 'Infanterie'">infantry</a>]&nbsp;
[<a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=Ostfront" title="Search for 'Ostfront'">Eastern front</a>]&nbsp;
[<a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=Flandern" title="Search for 'Flandern'">Flanders</a>]&nbsp;
[<a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=Sch%C3%BCtzengraben" title="Search for 'Schützengraben'">trenches</a>]
<ul><head><b>Material collected at the public roadshows:</b></head>
<li><a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=FR07" title="Objects from the Frankfurt collection day">Frankfurt 31 March 2011</a></li>
<li> <a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=BE08" title="Objects from the Berlin collection day">Berlin 2 April 2011</a></li>
<li> <a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=MU09" title="Objects from the Munich collection day">Munich 6 April 2011</a></li>
<li> <a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=ST10" title="Objects from the Stuttgart collection day">Stuttgart 12 April 2011</a></li>

<li> <a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=EF11" title="Objects from the Erfurt collection day">Erfurt 14 June 2011</a></li>
<li> <a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=DD12" title="Objects from the Dresden collection day">Dresden 22 June 2011</a></li> 
<li> <a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=KI13" title="Objects from the Kiel collection day">Kiel 29 June 2011</a></li> 
<li> <a href="http://www.europeana1914-1918.eu/en/contributions/search?utf8=%E2%9C%93&q=RG14" title="Objects from the Regensburg collection day">Regensburg 20 July 2011</a></li>

</ul>
</p>
<div class="editors-pick">
  <h2>Editor's pick</h2>
  <%= render :partial => 'editors_picks', :locals => { :locale => 'en' } %>
  <p>&nbsp;</p>
<p><b>More stories in the <a href="http://thegreatwararchive.blogspot.com/search/label/en" title="To the blog">Editor's Pick blog</a></b></p>
</div>
