<% @title = 'Europeana Collections 1914-1918' %>

<h2>Remembering the First World War – a digital collection of outstanding sources from European national libraries</h2> 

  <h3>The project</h3> 
  <p><%= link_to 'Europeana Collections 1914-1918', 'http://www.europeana-collections-1914-1918.eu/' %> will create by 2014 – the centenary of the outbreak of the First World War - a substantial digital collection of material from national library collections of ten libraries in eight countries that found themselves on different sides of the historic conflict. In the run-up to 2014 and in the following years, strong interest in the topic is expected from a wide variety of users – including the general public, local and family historians, education professionals, archives, museums and historical societies, people working in the media, the arts or in the tourism industry.</p> 
  <p>The project consortium will make available to Europeana 425.000 especially relevant items that will be selected with help from specialists and target user groups according to agreed quality criteria. They will span the full range of national library collections including books, newspapers, trench journals, maps, children's literature, posters, pamphlets, propaganda leaflets, medals and coins. The digital collection will go far beyond any existing digital collection on the topic in terms of size, quality and diversity and make Europeana the first stop for quality content on the "Great War". The consortium will work to enlarge the network and encourage other memory institutions to contribute more relevant content. Europeana Collections 1914-1918 will make a vast amount of sources available online for the first time – content that is often rare and highly fragile because of the deteriorating quality of the paper it was produced on and generally only accessible in reading rooms.</p> 
  <p>The material will highlight the importance of WWI for a common European identity and be reflective of the different experiences of individuals and groups on all sides of the conflict including different ethnic, linguistic, political, social and religious communities and those opposed to the war.</p> 
  <h3>Contact</h3> 
  <p>Thorsten Siegmann, Project Co-ordinator</p> 
  <address>Staatsbibliothek zu Berlin – Preußischer Kulturbesitz<br /> 
  Europeana Collections 1914-1918<br /> 
  Potsdamer Straße 33<br /> 
  D-10785 Berlin</address>
  <p>Phone: +49-30-266-431451<br /> 
  <a href="mailto:siegmann@eu1914-1918.eu?subject=&#x45;&#117;&#114;&#x6F;&#x70;&#101;&#97;&#x6E;&#x61;&#x20;&#x31;&#x39;&#49;&#x34;&#x2D;&#49;&#x39;&#49;&#x38;" title="Click here to email Europeana 1914-1918">siegmann@eu1914-1918.eu</a></p> 
  <h3>Partners</h3> 
  <ul> 
    <li>Staatsbibliothek zu Berlin – Preussischer Kulturbesitz (Berlin, Germany)</li><li>Bibliothèque nationale de France (Paris, France)</li><li>Bibliothèque nationale et universitaire de Strasbourg (Strasbourg, France)</li><li>Biblioteca Nazionale Centrale di Roma (Rome, Italy)</li><li>Biblioteca Nazionale Centrale di Firenze (Florence, Italy)</li><li>Bibliothèque royale de Belgique (Brussels, Belgium)</li><li>The British Library (London, United Kingdom)</li><li>Det Kongelige Bibliotek (Copenhagen, Denmark)</li><li>Österreichische Nationalbibliothek (Vienna, Austria)</li><li>Narodna biblioteka Srbije (Belgrade, Serbia)</li><li>Clio-online - Historisches Fachinformationssystem (Humboldt-Universität zu Berlin) (Berlin, Germany)</li><li>Istituto Centrale per il Catalogo Unico delle biblioteche italiane e per le informazioni bibliografiche (Rome, Italy)</li></ul>
