<% @title = 'Europeana Collections 1914-1918' %>

<h2>Europäische Nationalbibliotheken schaffen ein digitales Gedächtnis für den Ersten Weltkrieg</h2>

<p>Das Projekt <%= link_to 'Europeana Collections 1914-1918', 'http://www.europeana-collections-1914-1918.eu/' %> wird bis zum Jahr 2014, dem hundertsten Jahrestag des Kriegsausbruchs, rund 425.000 herausragende Quellen aus der Zeit des Ersten Weltkriegs digitalisieren und online verfügbar machen.</p>
 
<p>Die Nationalbibliotheken Europas besitzen eine Fülle an Materialien verschiedenster Art und Provenienz aus der Zeit des Ersten Weltkriegs. Zum Teil sind diese Quellen jedoch nur eingeschränkt nutzbar, zum Teil sind sie noch nicht als solche identifiziert oder erschlossen. Eine breite Auswahl dieser Materialien soll nun im Rahmen des Projektes über das digitale Kulturportal Europeana frei zugänglich gemacht werden.</p>

<p>Das breite Spektrum der ausgewählten Objekte dokumentiert umfassend die Lebenswirklichkeit der Zeit zwischen 1914 und 1918 an der Front wie in der Heimat. Digitalisiert werden Kinder- und Schulbücher, Kriegskochbücher, Erbauungsschriften, persönliche Briefe und Kriegspostkarten, Tagebücher und Fotos ebenso wie Flugblätter und Pamphlete, Karten und Musikalien, Schützengrabenzeitungen, Unterhaltungsliteratur für Gefangene, überlebenspraktische Anleitungen für Frontsoldaten und auch einige gegenständliche Museumsbestände wie Abzeichen, Münzen und Militäruniformen. Die Ausweitung des Projektnetzwerks auf weitere Kultureinrichtungen ist Teil des Vorhabens.</p>

<p>Europeana Collections 1914-1918 wird mit dieser einzigartigen virtuellen Zusammenschau von Quellen eine neue Grundlage für die historische Forschung zur Zeit des Ersten Weltkriegs schaffen.</p>

<p>Die online gestellten Objekte werden aber auch weit darüber hinaus für alle interessant sein, die sich mit dieser Zeit beschäftigen, für Lokal- und Familienforscher, für Lehrkräfte von Schule bis Hochschule, für Archive, Museen und historische Gesellschaften, für Medienvertreter und selbst für die Tourismusbranche. </p>

<p>Dank der freien Zugänglichkeit und vor dem Hintergrund der allgemein gesteigerten Aufmerksamkeit für den Ersten Weltkrieg im Gedenkjahr 2014 ist ein besonderes Interesse der breiten Öffentlichkeit an Europeana Collections 1914-1918 zu erwarten.</p>
