<% @title = 'Etwas zum Online-Archiv Erster Weltkrieg in Alltagsdokumenten beitragen' %>
<p>Im Online-Archiv „Erster Weltkrieg in Alltagsdokumenten“ werden digitale Versionen von Erinnerungsstücken zum Ersten Weltkrieg (1914-1918) gesammelt. Gegenwärtig liegt der Schwerpunkt der Sammlung auf Erinnerungsstücken mit Bezug zu Deutschland oder zu Deutschen. Mehr Informationen zum Projekt „Erster Weltkrieg in Alltagsdokumenten“ und zu den Materialien, die gesammelt werden, finden Sie unter '<a href="/de/about" title="Das Projekt (öffnet sich in neuem Fenster" target="blank">Das Projekt</a>'.</p>

<p>Um etwas zum Online-Archiv „Erster Weltkrieg in Alltagsdokumenten“ beizutragen, gehen Sie auf die Seite <a target="_blank" href="/de/contributor" title="Mitmachen (öffnet sich in neuem Fenster)">Mitmachen</a> (wenn Sie auf diesen Link klicken, öffnet sich die Seite in einem neuen Fenster). Dort können Sie in vier Schritten etwas zum Online-Archiv beitragen. Detaillierte Informationen finden Sie unten.
<ol><li>Registrieren oder Einloggen</li>
<li>Einen Beitrag und die begleitende Information erstellen</li>
<li>Anhang beifügen (die digitale Version Ihres Erinnerungsstücks hochladen, zum Beispiel eine Fotografie, einen gescannten Text, eine Film- oder Tonaufnahme u. ä.)</li>
<li>Ihren Beitrag einreichen</li></ol>
Sie müssen nicht alle Schritte auf einmal durchlaufen, sondern können Ihren Beitrag speichern und ihn zu einem späteren Zeitpunkt erneut bearbeiten.</p>

<h2>Schritt-für-Schritt-Anleitung zum Online-Formular</h2>
<p>Gehen Sie zur Seite <a target="_blank" href="/en/contributor">Mitmachen</a> (wenn Sie auf diesen Link klicken, öffnet sich die Seite in einem neuen Fenster).
</p>
<h3><a name="1"></a>1. Registrieren oder Einloggen</h3>
<p>Gehen Sie auf das Menü am linken Bildschirmrand, um sich entweder EINZULOGGEN, wenn Sie bereits einen Benutzernamen und ein Passwort haben, oder um sich zu REGISTRIEREN, um einen Benutzernamen und ein Passwort zu bekommen.
</p><p><h4>Wie Sie sich registrieren</h4>
<ol class="number"><li>Klicken Sie auf „Registrieren“ am linken Bildschirmrand</li>
<li>Geben Sie Ihren Namen ein (den Namen, unter welchem Sie das Online-Archiv nutzen möchten)</li>
<li>(optional) Geben Sie Ihre Postleitzahl, Geschlecht, Alter und das Land Ihres Wohnorts ein</li>
<li>Geben Sie Ihre E-Mail-Adresse ein (mit dieser loggen Sie sich später ein)</li>
<li>Wählen Sie ein Passwort (mindestens 6 Zeichen)</li>
<li>Wiederholen Sie das Passwort, das Sie gewählt haben</li>
<li>Klicken Sie auf den Button „Registrieren“</li>
</ol>
<img src="/images/DEregisterSM.jpg" alt="Registrieren"/></p>
<p><h4>Wie Sie sich einloggen</h4>
<ol class="number"><li>Klicken Sie auf „Einloggen“ am linken Bildschirmrand</li>
<li>Geben Sie Ihre E-Mail-Adresse ein, unter welcher Sie sich registriert haben</li>
<li>Geben Sie Ihr Passwort ein</li>
<li>Klicken Sie auf den Button „Einloggen“</li>
<li>Auf der Seite erscheint die Nachricht „Sie haben sich erfolgreich eingeloggt“</li>
</ol>
<img src="/images/DEsignIn.jpg" alt="Einloggen"/>
</p>


<h3><a name="2"></a>2.  Einen Beitrag und die begleitende Information erstellen</h3>
<p>In diesem Schritt erstellen Sie Ihren Beitrag und fügen die begleitende Information oder Geschichte zu Ihrem Erinnerungsstück bei. Sie müssen Ihren Beitrag nicht in einem Schritt erstellen, sondern können Teile speichern und zu einem späteren Zeitpunkt bearbeiten. 
<ol class="number"><li>(falls Sie nicht die Seite „Übersicht für Beiträger“ sehen, klicken Sie auf „Mitmachen“ im oberen Menü)</li>
<li>Auf der Seite „Übersicht für Beiträger“ klicken Sie auf „Neuer Beitrag“</li>
<li>Die Seite „Europeana Bedingungen für Benutzerbeiträge“ wird angezeigt. Lesen Sie die Bedingungen und wenn Sie damit einverstanden sind, setzen Sie einen in das Kästchen einen Haken, um Ihr Einverständnis zu bestätigen. Dann klicken Sie auf “Weiter“ und gelangen zum Beitragsformular.</li>
<li>Füllen Sie das Formular aus.
 <br /><img src="/images/DEformSM.jpg" alt="Beitragsformular" />
<p><b>Titel*</b>: Vergeben Sie einen Titel für Ihren Beitrag, zum Beispiel „Tagebuch von Peter Müller“, „Foto mit Peter Müller“ oder „Postkarte von Peter Müller“. Dies ist ein Pflichtfeld und muss ausgefüllt werden.
Beitrag im Namen von: Wenn Sie sich unter Ihrem Namen registriert haben, aber eigentlich einen Beitrag im Auftrag von jemand anderem hinzufügen, können Sie hier dessen Namen eintragen (dieser Name wird dann bei dem Beitrag als Quelle angezeigt).
</p><p><b>Datum</b>: Wenn bekannt, tragen Sie hier ein Datum ein, das sich auf Ihren Beitrag bezieht. Sie können ein genaues Datum, einen Monat oder eine Jahreszahl eintragen.
</p><p><b>Ort (Ortsname)</b>: Wenn bekannt, tragen Sie einen Ortsnamen ein, der sich auf Ihren Beitrag bezieht, zum Beispiel wo ein Brief verfasst oder wo eine Fotografie aufgenommen wurde. Sie können einen Ortsnamen, eine Region oder ein Land eintragen. Sie können diesen Eintrag zusätzlich zu oder anstelle des Feldes „Ort (Karte)“  ausfüllen.
</p><p><b>Ort (Karte)</b>: Wenn bekannt, können Sie hier den Ort markieren, der sich auf Ihren Beitrag bezieht, zum Beispiel wo ein Brief verfasst oder wo eine Fotografie aufgenommen wurde.
</p><p><b>Beschreibung*</b>: Hier beschreiben Sie Ihren Beitrag, zum Beispiel um was es sich handelt, von wem es stammt, wie Sie es bekommen haben, oder eine Geschichte oder Erinnerung, die mit diesem Gegenstand oder der Person, dem Ort, der Situation, die es zeigt, verbunden ist. Zum Beispiel: „Dieses Foto zeigt meinen Urgroßvater Peter Müller und meine Urgroßmutter Erna Müller vor ihrem Haus in Frankfurt, wo sie während des Krieges lebten. Das Haus wurde in den 1930er Jahren abgerissen, um einer Straße zu weichen.“ Wenn Sie eine längere Geschichte erzählen möchten, können Sie diese auch in einem separaten Dokument schreiben und dieses als Anhang hochladen, statt den Text in dieses Feld zu schreiben. Falls Sie ein separates Dokument mit Ihrer Geschichte hochladen möchten, schreiben Sie bitte dennoch ein paar Wörter in dieses Feld, da es ein Pflichtfeld ist und ausgefüllt werden muss.</li></ul>
</li>
<li>Wenn Sie das Formular fertig ausgefüllt haben oder wenn Sie Ihren Beitrag zwischenspeichern möchten, um ihn zu einem späteren Zeitpunkt fortzusetzen, klicken Sie auf „Entwurf speichern“. Sie gelangen dann zur „Beitrag“-Seite.</li>
<li><img src="/images/DEcontributionSM.jpg" alt="Beitrag-Seite" /><br />6.	Überprüfen Sie die angezeigten Informationen. Wenn Sie etwas ändern oder hinzufügen möchten, klicken Sie auf „Bearbeiten“ unten links, um zurück zum Beitragsformular zu gelangen. Dort können Sie Ihren Beitrag bearbeiten. Wenn Sie einen Anhang (eine Bild-, Text-, Ton- oder Filmdatei zu Ihrem Beitrag) anfügen möchten, klicken Sie auf „Anhang beifügen“ und folgen den unten beschriebenen Schritten. Wenn Sie keinen Anhang beifügen möchten, klicken Sie auf „Absenden“.</li></ol></p>


<h3><a name="3"></a>3.  Anhang beifügen</h3>
<p>In diesem Schritt können Sie eine Bild-, Text-, Film- oder Tondatei beifügen, zum Beispiel ein digitales Foto. </p>
<ol class="number"><li>Um einen Anhang beizufügen, klicken Sie auf „Anhang beifügen“ auf der Beitrag-Seite (siehe Screenshot oben).</li>
<li>Wenn sich die „Neuer Anhang“-Seite öffnet, klicken Sie auf „Datei aussuchen“. Wählen Sie Ihre Datei aus und klicken Sie auf „Hochladen“, um sie Ihrem Beitrag beizufügen.
<br /><img src="/images/DEattachment1.jpg" alt="Screenshot of 'Neuer Anhang - Datei aussuchen und hochladen" /></li>
  
<li>Klicken Sie auf „Zurück zum Beitrag“, um zur Übersicht zu Ihren Beiträgen zu gelangen.<br />
<img src="/images/DEattachment2SM.jpg" alt="Zurück zum Beitrag" /> </li>
<li>Auf der Beitrag-Seite können Sie den Anhang unter Ihrer Beitragsübersicht sehen. Sie können Ihren Beitrag bearbeiten, löschen oder eine Kopie davon herunterladen, indem Sie auf die entsprechenden Buttons klicken. Um einen weiteren Anhang zu demselben Beitrag beizufügen (zum Beispiel ein weiteres Foto desselben Erinnerungsstücks oder eine Tonaufnahme), klicken Sie einfach noch einmal auf den Button „Anhang beifügen“ und wiederholen Sie diese Schritte.<br/><img src="/images/DEattachment3SM.jpg" alt="Beitrag-Seite, Anhang" /></li></ol>
 
 </p><a name="4"></a>

<h3>4.  Ihren Beitrag einreichen (keine weiteren Änderungen mehr möglich)</h3>
<p>Wenn Sie alle Informationen zu Ihrem Beitrag (Formular und Anhang/Anhänge) fertig gestellt haben, können Sie den Beitrag absenden und so der Sammlung hinzufügen. Sobald Sie dies getan haben, können Sie keine Änderungen mehr an diesem Beitrag vornehmen. Ihr Beitrag wird der Sammlung nicht hinzugefügt, so lange Sie ihn nicht abgesendet haben. Um Ihren Beitrag abzusenden:
<ol class="number"><li>Klicken Sie auf „Absenden“ am unteren Ende der Beitrag-Seite. <!--</li> 
<li>You will be asked to confirm that you are ready to submit (click OK to go ahead, Cancel to cancel this step for now).  When you click OK, your contribution is added to the database and you can see it listed on your Contributor Dashboard page in the Submitted column. --><br /> 
Wenn der „Absenden“-Button nicht verfügbar ist, sondern die Nachricht „Dieser Beitrag kann noch nicht abgeschickt werden“ erscheint, bedeutet das, dass noch wichtige Informationen fehlen. Klicken Sie auf „Warum nicht?“, um zu sehen, wo Informationen fehlen. Um die fehlenden Informationen hinzuzufügen, klicken Sie auf „Bearbeiten“ (unten links) und gelangen zum Beitragsformular. Dort können Sie die fehlenden Informationen ergänzen.</li></ol></p>
<h2>Wie geht es weiter?</h2>
<p>Wenn Sie Ihren Beitrag abgesendet haben, wird er von Projektmitarbeitern geprüft und es werden zusätzliche, administrative Informationen beigefügt. Der Beitrag gelangt dann zur Europeana, der europäischen digitalen Bibliothek, wo er – wie alle anderen Beiträge zu „Erster Weltkrieg in Alltagsdokumenten“ – recherchiert, gefunden und angesehen werden kann. Wie lange es dauert, bis Ihr Beitrag in Europeana verfügbar wird, hängt von einer Reihe von Faktoren ab, zum Beispiel wie viele Beiträge eingereicht werden und wie viele Projektmitarbeiter verfügbar sind. 
</p><p>Sie können Ihre eingereichten und Ihre begonnenen Beiträge jederzeit über die Seite „Übersicht für Beiträger“ sehen.</p>

<img src="/images/DEdashboard2SM.jpg" alt="Screenshot of Contributor Dashboard with ongoing and submitted contributions" /><br />
Wenn Sie eingeloggt sind, gelangen Sie über „Mitmachen“ im oberen Menü auf die Übersichtsseite.</p>


