<% @title = 'Add something to the First World War archive' %>
<p>The 'Great War Archive' project aims to collect material that relates to the Great War (1914-1918) and those involved in or affected by it. In the current phase we are collecting material with a German connection, relating to Germany or German people. More information about the project and the kind of material we are collecting can be found on the '<a href="/en/about">About</a>' page.</p>


<p>To add something to the Great War Archive, go to the <a target="_blank" href="/en/contributor" title="To the Add to the archive page (opens in new window)">Add to the archive</a> page. There you will be asked to complete the following four steps (more detailed description below. A <a href="/en/help/demo" title="To the instruction video (new window)" target="_blank" >short instruction film showing the steps to complete</a> is also available).
<ol class="number"><li><a href="#1" title="To the Register section">Register or sign in</a></li>
<li><a href="#2" title="To the 'Create contribution' section">Add information about your contribution</a></li>
<li>(optional) <a href="#3" title="To the 'Add attachment' section">Attach a digital version of your object</a> (photograph, scanned text, video, audio etc).</li>
<li><a href="#4" title="To the 'Submit' section">Submit the contribution to the archive</a>.
</li></ol>
You do not have to complete the whole process at once but you can save your contribution and return to it later.
<h2>Step-by-step guide to the online form</h2>
<p>Go to the <a target="_blank" href="/en/contributor" title="To the Add to the archive page (opens in new window)">Add to the archive</a> page (clicking on this link will open the page in a separate window)</p>
<h3><a name="1"></a>1. Register or log in</h3>
<p>Use the menu at the bottom left of the screen to either SIGN IN, if you have a username and password, or REGISTER to create your username and password.
</p><p><h4>How to register</h4>
<ol class="number"><li>Click on the 'Register' button (bottom left of any page as long as you are not signed in)</li>
<li>Enter your name (the name under which you want to use the system)</li>
<li>(optional) Enter your post code, country of residence, gender, and age</li>
<li>Enter your email (this will be used when you sign in)</li>
<li>Choose a password (at least 6 characters)</li>
<li>Repeat the password you have chosen</li>
<li>Click on the Register button</li></ol>
<img src="/images/ENregister.jpg" alt="Screen-shot of the Register screen"/></p>
<p><h4>
How to sign in</h4>
<ol class="number"><li>Click on the 'Sign in' button (bottom left of any page as long as you are not signed in)</li>
<li>Enter the email address which you registered</li>
<li>Enter your password</li>
<li>Click on the Sign in button at the bottom of the page.</li>
<li>The page will display a banner saying 'You have signed in successfully'</li>
</ol>
<img src="/images/signInSM.jpg" alt="Screen-shot of the sign-in screen"/>
</p>


<h3><a name="2"></a>2.  Create the contribution and add information about it</h3>
<p>In this step you add information about the object or story you are adding. You do not have to complete the whole process at once but you can save your contribution and return to it later. 
<ol class="number"><li>(if you do not see the 'Contributor dashboard', click on 'Add' in the top navigation bar).</li>
<li>On the Contributor Dashboard page, click on 'New contribution'. 
<img scr="/images/dashboard1SM.jpg" alt="Screenshot of Contributor Dashboard" /></li>
<li>When the 'Terms of Use' page is displayed, read the terms of use and, if you agree, tick the 'I accept...' box.  
Then click on 'Continue' and you are taken to the Contribution form. <img scr="/images/termsSM.jpg" alt="Screenshot of the Terms and Conditions page" /></li>
<li>Fill in the form. <br /><img src="/images/form.jpg" alt="Screenshot of the form" />
<p><b>Title*</b>: A title for your contribution. For example 'Diary by A.B. Bloggs' or 'Picture of A.A. Bloggs', 'Postcard from BB. Bloggs' etc. This is a required field and cannot be left blank.
</p><p><b>Contributed on behalf of</b>: If you are registered in your name but helping someone else to make the contribution, add their name here (their name will then be displayed with the contribution when this is being made available)
</p><p><b>Date</b>:  If known, enter a date that relates to the contribution if this is known. This can be an exact date, a month and year or just a year.
</p><p><b>Location (place name)</b>: If known, enter a place that relates to the object, for example where the letter was written or where the photograph was taken. This can be a town/village, region, or country. Can be used together with or instead of Location (map)
</p><p><b>Location (map)</b>:  If known, mark the place that relates to the object on the map, for example where the letter was written or where the photograph was taken. 
</p><p><b>Additional information*</b>: This is where you tell us about the object, for example what it is, who it is by, how you got it, or any story, anecdote or memory associated with the object or the person/persons, place, situation featuring. For example: This photograph shows my great-grandfather A.B Bloggs and great-grandmother C.D Bloggs outside the house in Frankfurt where they lived during the war. The house was demolished in the 1930's to make way for a new road. If you have a longer story, you may choose to write it in a separate document and add that as an attachment instead of writing the text in this box. If you attach a separate document with your story, please write something short in this box as well.</li></ul>
</li>
<li>Once you have finished filling in the form or when you wish to save what you have added so far, click the 'Save draft' button. You are then taken to the Contribution page.</li>
<li><img src="/images/contributionSM.jpg" alt="Screenshot of saved contribution screen" /><br />Check the information that is displayed. If you want to change or add something, click 'Edit' (top right of page) to be taken back to the 'Contribution form' where you can edit or add to the existing information. If you want to add an attachment (a picture, text file, sound or video related to the infomration), click on the 'Add an attachment' link and follow the instructions below. If you do not want to add an attachment, click 'Submit contribution'.</li></ol></p>


<h3><a name="3"></a>3.  Add attachment(s)</h3>
<p>In this step you can add an image, text file, video, or sound file, for example a digital photograph, a copy of a letter, </p>
<ol class="number"><li>To add an object, click 'Add an attachment' which you will find on the Contribution page (see screenshot above). </li>
<li>When the 'New Attachment' page opens, click on the 'Select files' button. Select your file and click 'Upload' to add it to the contribution. <br /><img src="/images/attachment2.jpg" alt="Screenshot of 'add an attachment' step" /></li>
 
<li>Click 'Back to contribution' to see the contribution summary. <br />
<img src="/images/attachment3.jpg" alt="Screenshot with 'Back to contribution' option" /> taken back to the Contribution page.</li>
<li>On the Contribution page, you can see the attachment listed below the Summary and Catalogue information tables. You can edit or delete it or download a copy of it by clicking the relevant Action option. To add another attachment to the same contribution (for example another picture of the same item, a related sound or text file etc), simply click on 'Add an attachment' again and repeat the procedure.<br/><img src="/images/contribution2SM.jpg" alt="Screenshot of Contributionpage w. attachment" /></li></ol>
 
 </p><a name="4"></a>

<h3>4.  Submit the contribution (no more changes can be made)</h3>
<p>When you have added all the relevant information for your contribution (catalogue information and attachment(s)), you can submit it to the collection. Once that is done you cannot make any further changes to this particular contribution. Your contribution will not be added to the collection until you have submitted it. To submit your contribution:
<ol class="number"><li>Click 'Submit contribution' at the bottom of the Contribution page. <!--</li> 
<li>You will be asked to confirm that you are ready to submit (click OK to go ahead, Cancel to cancel this step for now).  When you click OK, your contribution is added to the database and you can see it listed on your Contributor Dashboard page in the Submitted column. --><br /> 
If you do not see the 'Submit contribution' option but it says 'This contribution is not ready for submission yet' it means that some compulsory information is missing. Click on 'Why not?' to see where. To add the missing information, click 'Edit' (top right of page) to be taken to the Contribution form where you can add the missing details.</li></ol></p>
<h2>What happens next?</h2>
<p>When you have submitted your contribution, it will be reviewed by the project staff who will add some additional, administrative information to it. When it is ready, it will be added to the First World War archive and Europeana, where you can find it together with other items given to the archive. How long it takes before you contribution is available depends on a number of factors, such as the amount of material we are receiving, and availability of project staff with the required subject expertise. You can see what has been added to the archive so far on the <a href="/en/browse" targte="_blank" title="See what has been added so far (new window)">Explore the archive</a> page.</p>

<p>You can see your own submitted and ongoing contributions at any time on your 'Contributor dashboard' page. 
<img src="/images/dashboard3SM.jpg" alt="Screenshot of Contributor Dashboard with ongoing and submitted contributions" /><br />
You can get to the Contributor Dashboard page by clicking on 'Add' in the top navigation bar.</p>


