<% @title = 'Help' %>
The 'Europeana 1914-1918' project aims to collect material that relates to the Great War (1914-1918) and those involved in or affected by it. In the current phase we are collecting material with a German connection, relating to Germany or German people. More information about the project and the kind of material we are collecting can be found on the '<a href="/en/about" title="To the 'About us' page">About us</a>' page.
<ul class="point"><li><a href="#adding" title="To the section about adding something to the archive">Adding Something to Europeana 1914-1918</a></li>
<li><a href="#event" title="To the section about running your own event">Run your own Collections Day Event</a></li>
<li><a href="/en/help/privacy" title="To the page about Privacy Policy">Privacy Policy</a> (separate page)</li>
<li><a href="/en/about/takedown" title="To the page with our Takedown Policy">Takedown Policy</a> (separate page)</li>
<li><a href="/en/about/terms" title="To the page with	
Europeana Terms for User Contributions">Europeana Terms for User Contributions</a> (separate page)</li>
<li><a href="/en/about" title="To the 'About us' page">About the project</a> (separate page)
</ul>

<a name="adding"></a><h2>Adding something to Europeana 1914-1918</h2>

<p>You can add something to Europeana 1914-1918 by using the online collection form on this website. 
You simply type in some information about your contribution, saying what it is (a postcard sent from XX, a diary, etc) and add any story that you want to share (for example about the person in the photograph, how you got it, what you know about the object).
You can then attach a digital version of the object, for example a scanned or photographed copy of the picture, diary, uniform or whatever it is you are sharing.</p>
<h3>How to use the online interface</h3>
<p>A detailed guide with screenshots is available on the separate <a href="help/form" target=_blank" title="Go to the Step-by-step guide">Step-by-step Guide to the Online Form</a> page.</p>
<p>To add something to Europeana 1914-1918, go to the <a href="/en/contributor" target=_blank" title="Go to the Add to the archive page (new tab/window)">Add to the archive</a> page. There you will be asked to complete the following four steps. You do not have to complete the whole process at once but you can save your contribution and return to it later.
<!-- <p>(A more detailed, illustrated, step-by-step guide to making a contribution can be found on a separate page)
</p> -->
<ol class="number"><li>Register to get an account (you only need to do this once) or sign in if you have already registered.</li>
<li>Add information about your contribution</li>
<li>(optional) Attach a digital version of your object (photograph, scanned text, video, audio etc).</li>
<li>Submit the contribution to the archive 
</li></ol>

    Register or sign in
    Add information about your contribution
    (optional) Attach a digital version of your object (photograph, scanned text, video, audio etc).
    Submit the contribution to the archive. 


<p>A more detailed guide with screenshots is available on the separate <a href="/en/help/form" title="Go to the Step-by-step guide">Step-by-step Guide to the Online Form</a> page.<br />
A <a href="/en/help/demo" title="To the instruction video (new window)">short instruction film showing the steps to complete</a> is also available.</p>

<a name="event"></a><h2>Run your own collections day event</h2>

<p><img align="right" src="/images/hull_v8.jpg" alt="A volunteer interviews a family about what they have brought to the submissions day"></img>
If you are interested in running you own collections day event to digitise and add material for Europeana 1914-1918, we can offer help and advice on how to do that, including the following documents (as .pdf files): 
<ul><li><a href="/pdfs/EWA_Preparing_for_a_Submissions_Day.pdf" title="Preparing for a submissions day (.pdf, 1.6 MB)">Preparing for a submissions day</a> (.pdf, 1.6 MB)</li>
<li><a href="/pdfs/EWA_Workflow_for_a_Submissions_Day.pdf" title"Workflow for a Submissions Day (.pdf)">Workflow for a Submissions Day</a> (.pdf, 2MB)</li>
<li>Submissions form. As <a href="/pdfs/EWA-submissions-form.pdf" title="Submissions form (.pdf)">pdf file (0.3 MB)</a>, or <a href="/docs/EWA-submissions-form.doc" title="Submissions form (.doc)">MS Word file (doc, 0.2 MB)</a></li>
<li><a href="/pdfs/A3_poster_neutral.pdf" title="Poster A3 (pdf)">A3 Poster (in German)</a> (.pdf, 0.3 MB)</li>
<li><a href="/pdfs/Postkarte_neutral_mit_Dank.pdf" title="Postcard (pdf)">Postcard w. thank you note (in German)</a> (.pdf, 2MB)</li>
</ul>
Please contact us via the email address <a href="mailto:1914-1918@europeana.eu">1914-1918@europeana.eu</a> for more information or if you are having problems accessing the documentation. </p>


<!--<ul class="point">
  <li><%= link_to 'Privacy policy', page_path('help/privacy') %></li>
  <li><%= link_to 'Run your own collections day', page_path('help/collections') %></li> -->
 <!-- <%- if sphinx_running? -%>
    <li><%= link_to 'Searching', page_path('help/search') %></li> 
  <%- end -%>-->
</ul>
