<% @title = 'Hilfe' %>
<h2>Was genau wird in dem Projekt gesammelt?</h2>
<p>Das Projekt Erster Weltkrieg in Alltagsdokumenten sammelt Dokumente, Erinnerungsstücke und die dazu gehörigen Erzählungen aus der Zeit des Ersten Weltkriegs (1914–1918). Darunter können Fotografien sein, Briefe, (Fotos von) Uniformen, Tagebücher, Gedichte sowie Geschichten, die zu den Objekten gehören und die von der damaligen Zeit erzählen.</p>
<h2>Wie kann ich etwas zu dem Archiv beitragen?</h2>
<p>Möchten Sie etwas zum Archiv beitragen? Ein Formular auf dieser Website hilft Ihnen, dies in wenigen Schritten zu tun. Sie benötigen eine digitalisierte Version Ihres Objektes (z. B. ein digitales Foto) oder Ihrer Geschichte (z. B. ein Word-Dokument oder PDF). Auf der Website stimmen Sie zunächst den Bedingungen für Benutzerbeiträge zu, geben Ihren Namen an (sowie Ihre E-Mail-Adresse, die für die Anmeldung benötigt wird, jedoch nicht für andere Benutzer des Archivs sichtbar ist), und fügen einige Informationen über Ihr Objekt in die Beschreibungsfelder ein. Danach können Sie das digitalisierte Objekt auf der Website hochladen.</p>
<p>Weitere Informationen über das Erstellen von digitalen Objekten und über das Ausfüllen des Formulars finden Sie in separaten Abschnitten in der Hilfe <ul><li><a href="/de/help/form" title="Schritt-für-Schritt-Anleitung zum Online-Formular (öffnet sich in neuem Fenster)">Schritt-für-Schritt-Anleitung zum Online-Formular</a></li>
<li><a href="/de/help/demo" title="film">Film: Etwas zum Online-Archiv beitragen</a></li></ul></p> 
<h2>Leitfaden für die Vorbereitung und Durchführung eines Aktionstages</h2>
<p><img align="right" src="/images/hull_v8.jpg" alt="Eine Familie wird zu den Erinnerungsstücken interviewt, die sie zum Aktionstag gebracht haben"></img>Dieser Leitfaden beschreibt die Schritte, um einen Aktionstag zu planen, zu organisieren und durchzuführen.
<ul><li><a href="/pdfs/EWA_Vorbereitung_Des_Aktionstages.pdf" title="Vorbereitung des Aktionstages (.pdf, 1.3 MB)">Vorbereitung des Aktionstages (.pdf, 1.3 MB)</a></li>
<li><a href="/pdfs/EWA_Ablauf_Des_Aktionstages.pdf" title="Ablauf des Aktionstages (pdf)">Ablauf des Aktionstages</a> (.pdf, 1.6 MB)
<li>Teilnahmeformular <a href="/pdfs/EWA_Teilnahmeformular.pdf" title="Teilnahmeformular (.pdf)">pdf (0.3 MB)</a> und <a href="/docs/EWA_Teilnahmeformular.doc" title="Teilnahmeformular (.doc)">doc (1 MB)</a></li>
<li><a href="/pdfs/sample_EWA_Teilnahmeformular.pdf" title="Teilnahmeformular - Beispiel (.pdf)">Teilnahmeformular (Beispiel)</a> (.pdf, 0.3 MB)</li>
</ul>
<ul><li><a href="/pdfs/A3_poster_neutral.pdf" title="Poster A3 (pdf)">A3 Poster</a> (.pdf, 0.3 MB)</li>
<li><a href="/pdfs/Postkarte_neutral_mit_Dank.pdf" title="Postkarte (pdf)">Postkarte (mit Dank)</a> (.pdf, 2MB)</li>
</ul>
<h2>Entfernung von Beiträgen</h2>
<p>
Wenn Sie der Ansicht sind, dass Sie auf unserer Website Materialien gefunden haben, an welchen Sie die Urheberrechte haben, aber die Verwendung in Europeana nicht gestattet haben, werden wir diese Materialien selbstverständlich entfernen. Bitte kontaktieren Sie uns per E-Mail und informieren uns über:
<ol>
<li>Ihre Kontaktdaten</li>
<li>die genauen Details des Materials, an welchem Sie die Rechte haben</li>
<li>die exakte URL, unter welcher Sie das Material gefunden haben (z. B.: http://www.europeana1914-1918.eu/en/contributions/96</li>
<li>den Nachweis, dass Sie der Rechteinhaber oder eine vom Rechteinhaber autorisierte Person sind.</li></ol>
Bitte schicken Sie die E-Mail an: <a href="mailto:1914-1918@europeana.eu">1914-1918@europeana.eu</a></p>
<!--<ul class="point">
  <li><%= link_to 'Datenschutzrichtlinien', page_path('help/privacy') %></li>
  <%- if sphinx_running? -%>
    <li><%= link_to 'Suche', page_path('help/search') %></li>
  <%- end -%>
</ul> -->
