<% @title = 'Privacy policy' %>

<p>We will publicly display your name alongside your contributions if they approved.</p>

<p>We will only use any other contact details you provide, including your email address to contact you about your contributions to this collection.</p>

<p>We will never share your contact details with any other organisations.</p>
