<% @title = 'Datenschutzrechtliche Hinweise' %>

<p>
Ihr Name wird neben Ihren Beiträgen veröffentlicht, sobald diese freigegeben wurden.</p>
<p>Alle weiteren Kontaktdaten, die Sie angegeben haben, inklusive Ihrer E-Mail-Adresse, werden wir nur nutzen, um mit Ihnen bzgl. Ihrer Beiträge in Kontakt zu treten. Sie werden aber nicht veröffentlicht.</p>

<p>Zu keiner Zeit werden wir Ihre Kontaktdaten an Dritte weitergeben.</p>

