<% @title = 'Searching the collection' %>

<p>When searching for contributions using the simple search box, results must contain every word you enter. The search checks against the contribution title, and certain of its additional metadata fields.</p>

