<% @title = 'Suche' %>

<p>Der Begriff, den Sie als Suchwort verwenden, muss genau so im Titel oder in der Beschreibung des Erinnerungsstücks oder Alltagsdokuments vorkommen, damit Sie etwas finden.</p>

