<%
	html = ''

  if @collection_days.present?
		html += '<div>'
			html += t( 'views.collection_days.cant-find-collection-day' )
			html += ' '
			html += '<select class="chosen-select" data-placeholder="' + t( 'views.collection_days.select-collection-day' ) + '">'
				html += '<option></option>'

				for collection_day in @collection_days
					html += '<optgroup label="' + t( "countries.#{collection_day.contact.country}" ) + '">'

						value = collection_day.code

						if collection_day.has_contributions?
							value = collection_day.code + '|searchable'
						end

						html += '<option value="' + value + '">'
							html += collection_day.name + ', ' + collection_day.start_date.strftime('%d %B %Y')
						html += '</option>'

					html += '<optgroup>'
				end

			html += '</select>'
    html += '</div>'
  end

%>
<%= html.html_safe %>