<%

  provide :title, t('views.collection_days.index.title')
  provide :javascripts_page, 'collection-days'
  provide :map_latlng, '47.3723879,13.0644116'
  provide :map_zoom, '5'
  provide :javascripts_europeana_leaflet, true
  provide :javascripts_chosen, true

  html = '<div>'
    html += '<div id="map-container" class="collection-days">'
      html += '<div id="map"></div>'
    html += '</div>'

		html += render :partial => 'collection_days/as-select'
	html += '</div>'

  html += '<div class="section">'
    html += '<div id="what-is-it" class="col-one-third">'
      html += '<h2>' + t( 'views.collection_days.what-is-it-heading' ) + '</h2>'
      html += simple_format( t( 'views.collection_days.what-is-it-content' ) )
    html += '</div>'

    html += '<div class="col-one-third">'
      html += '<h2>' + t( 'views.collection_days.who-is-it-for-heading' ) + '</h2>'
      html += simple_format( t( 'views.collection_days.who-is-it-for-content' ) )
    html += '</div>'

    html += '<div class="col-one-third">'
      html += '<h2>' + t( 'views.collection_days.what-do-you-get-heading' ) + '</h2>'
      html += simple_format( t( 'views.collection_days.what-do-you-get-content' ) )
    html += '</div>'
  html += '</div>'

%>
<%= html.html_safe %>