<%

  provide :title, t('views.collection_days.index.title')
  html = ''

  html += content_tag( 'div', '', :class => 'section' )

  html += '<div class="section">'

    html += '<div class="col-one-third">'
      html += '<h2>' + t( 'views.collection_days.what-is-it-heading' ) + '</h2>'
      html += simple_format( t( 'views.collection_days.what-is-it-content' ) )
    html += '</div>'

    html += '<div class="col-one-third">'
      html += '<h2>' + t( 'views.collection_days.who-is-it-for-heading' ) + '</h2>'
      html += simple_format( t( 'views.collection_days.who-is-it-for-content' ) )
    html += '</div>'

    html += '<div class="col-one-third">'
      html += '<h2>' + t( 'views.collection_days.what-do-you-get-heading' ) + '</h2>'
      html += simple_format( t( 'views.collection_days.what-do-you-get-content' ) )
    html += '</div>'

  html += '</div>'

%>
<%= html.html_safe %>