<%

  provide :title, t('views.collection_days.index.title')
  provide :javascripts_page, 'collection-days'
  provide :lat_long, '55.231943, 15.320313'
  provide :map_zoom, '5'
  provide :javascripts_europeana_leaflet, true

  html = ''

  html += content_tag(
    'div',
    content_tag(
			'div',
			content_tag(
				'div',
				content_tag(
					'div',
					'',
					:id => 'map'
				),
				:id => 'map-container',
				:class => 'collection-days'
			),
			:class => 'col-cell'
		),
    :class => 'section'
  )

  html += '<div class="section">'

    html += '<div class="col-one-third">'
      html += '<h2>' + t( 'views.collection_days.what-is-it-heading' ) + '</h2>'
      html += simple_format( t( 'views.collection_days.what-is-it-content' ) )
    html += '</div>'

    html += '<div class="col-one-third">'
      html += '<h2>' + t( 'views.collection_days.who-is-it-for-heading' ) + '</h2>'
      html += simple_format( t( 'views.collection_days.who-is-it-for-content' ) )
    html += '</div>'

    html += '<div class="col-one-third">'
      html += '<h2>' + t( 'views.collection_days.what-do-you-get-heading' ) + '</h2>'
      html += simple_format( t( 'views.collection_days.what-do-you-get-content' ) )
    html += '</div>'

  html += '</div>'

%>
<%= html.html_safe %>