.fixedwidthblue #content-wrapper
{
    width: 1024px;
    max-width: 1224px;
    margin-top:63px;
    font-family: arial,helvetica,sans-serif;
    font-size:1.2em;
    color: #000000;
}

.fixedwidthblue .left2
{
    width:187px;
}

.fixedwidthblue .right2
{
    width:800px;
}

.fixedwidthblue .left3
{
    width:187px;
}

.fixedwidthblue .center3
{
    width: 500px
}

.fixedwidthblue #navigation .selected a
{
    color: #ffffff ;
    background-image: image-url("europeana-theme/application/selected-blue.png")
}

.fixedwidthblue #content-wrapper a
{
    color: #2296e2
}
