.relativewidthblue #content-wrapper
{
    margin-top:63px;
    font-family: arial,helvetica,sans-serif;
    font-size:1.2em;
    color: #000000;
}

.relativewidthblue .left2
{
    width:187px;
}

.relativewidthblue .right2
{
	margin-right:187px;
}

.relativewidthblue .left3
{
    width:187px;
}

.relativewidthblue .center3
{
	margin-right:187px;
}

.relativewidthblue #navigation .selected a
{
    color: #ffffff ;
    background-image: image-url("europeana-theme/application/selected-blue.png")
}

.relativewidthblue #content-wrapper a
{
    color: #2296e2
}
