.relativewidthblack #content-wrapper
{
    margin-top:63px;
    font-family: arial,helvetica,sans-serif;
    font-size:1.2em;
    color: #000000;
}

.relativewidthblack .left2
{
    width:187px;
}

.relativewidthblack .right2
{
	margin-right:187px;
}

.relativewidthblack .left3
{
    width:187px;
}

.relativewidthblack .center3
{
	margin-right:187px;
}

.relativewidthblack #navigation .selected a
{
    color: #ffffff ;
    background-image: image-url("europeana-theme/application/selected-black.png")
}
