# Enter your API keys for federated searches.
#
# API keys can be obtained at:
# * DigitalNZ: http://www.digitalnz.org/api_keys
# * DPLA: http://dp.la/info/developers/codex/policies/#get-a-key
# * Trove: http://trove.nla.gov.au/general/api

production:
  digitalnz: 
  dpla: 
  trove: 

development:
  digitalnz: 
  dpla: 
  trove: 

test:
  digitalnz: 
  dpla: 
  trove: 
