# Enter your Flickr app's API key and secret here.
# Sign up for API access at <http://www.flickr.com/services/api/keys/>
development:
  key: YOUR_APP_KEY
  secret: YOUR_APP_SECRET
production:
  key: YOUR_APP_KEY
  secret: YOUR_APP_SECRET
