# Sass configuration
#
# @see http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#options

development:
  always_check: true
  always_update: true
  cache: false
  style: :compact

production:
  never_update: true
