# Sass configuration
#
# @see http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#options

development:
  always_check: true
  always_update: true
  cache: false
  style: :compact
  template_location: 'public/themes/v3/stylesheets/sass'
  css_location : 'public/themes/v3/stylesheets'  


production:
  never_update: true
