production:
  min_prefix_len: 3
  enable_star: true
  # The maximum number of matches Sphinx will return in a set of search results.
  # Default 1000.
  #max_matches: 10000
  # The address of a remote Sphinx server. 
  # If you set this, also set `ThinkingSphinx.remote_sphinx = true` in 
  # config/initializers/thinking_sphinx.rb
  #address: 10.0.0.1
  # The version of Sphinx.
  # This only needs to be set if Sphinx is running on a remote server.
  #version: 0.9.9
  

