production:
  min_prefix_len: 3
  enable_star: true
  # Use UTF-8 character set
  charset_type: utf-8
  # Extend Sphinx's default character set table with Greek characters
  charset_table: "0..9, A..Z->a..z, _, a..z, \
U+410..U+42F->U+430..U+44F, U+430..U+44F, \
U+37a, U+386..U+389->U+3ac..U+3af, U+38c..U+38e->U+3cc..U+3ce, U+390, \
U+391..U+3a1->U+3b1..U+3c1, U+3a3..U+3ab->U+3c3..U+3cb, U+3ac..U+3ce, \
U+3d0..U+3d7, U+3d8..U+3ef/2, U+3f0..U+3f3, U+3f4->U+3b8, U+3f5, \
U+3f7..U+3f8/2, U+3f9->U+3f2, U+3fa..U+3fb/2, U+3fc..U+3ff"
  # The maximum number of matches Sphinx will return in a set of search results.
  # Default 1000.
  #max_matches: 10000
  # The address of a remote Sphinx server. 
  # If you set this, also set `ThinkingSphinx.remote_sphinx = true` in 
  # config/initializers/thinking_sphinx.rb
  #address: 10.0.0.1
  # The version of Sphinx.
  # This only needs to be set if Sphinx is running on a remote server.
  #version: 0.9.9
 