<% if local_assigns[:heading].nil? %>
<% heading = true %>
<% end %>

<% if heading %>
<h2>Europeana Bedingungen für Benutzerbeiträge</h2>
<% end %>

<p>Bevor Sie etwas beitragen können, müssen Sie den Europeana Bedingungen für Benutzerbeiträge zustimmen. <a href="/de/about/terms" target="_blank" title="Europeana Bedingungen für Benutzerbeiträge">Diese ausführlichen Bedingungen finden Sie hier</a>. Nachdem Sie zur Bestätigung das Kontrollfeld aktiviert und den WEITER-Button geklickt haben, öffnet sich das Anmeldeformular. </p>
<p><strong>Kurz gesagt stimmen Sie folgenden Bedingungen zu:</strong></p>
<ul>
  <li>Sie versichern, dass 
    <ul>
      <li>die von Ihnen hinzugefügten digitalen Materialien nicht urheberrechtlich geschützt sind; oder</li>
      <li>Sie über die Rechte dieser digitalen Materialien verfügen; oder</li>
      <li>Sie der Rechteinhaber dazu ermächtigt hat, diese digitalen Materialien unter folgenden Bedingungen einzustellen.</li>
    </ul>
  </li>
  <li>Wenn Sie Inhalte (wie zum Beispiel Videos, Bilder oder audiovisuelle Medien) beitragen, erlauben Sie definitiv jedem, diese Inhalte in fast jeder Art und Weise zu nutzen. Jeder Benutzer ist jedoch verpflichtet, die Inhalte mit der Nennung des Urhebers zu versehen. Werden Inhalte verändert, sind die Benutzer verpflichtet, anderen zu erlauben, die veränderten Inhalte unter denselben Bedingungen zu nutzen.</li>
  <li>Wenn Sie beschreibende Daten (wie zum Beispiel Beschreibungen oder Tags) beitragen, erlauben Sie definitiv jedem, diese in fast jeder Art und Weise ohne weitere Bedingungen zu nutzen.</li>
</ul>

<p>Möchten Sie diese Nutzungsbedingungen nicht akzeptieren, dann fügen Sie Europeana keine Inhalte oder beschreibende Daten hinzu.</p>

<!--
<p><a href="/de/about/terms" title="Benutzungsbedingungen">Die ausführlichen Lizenzbestimmungen finden Sie hier</a>. Kurz gesagt stimmen Sie folgenden Bedingungen zu:
<ol class="number"><li>Sie bestätigen, dass Sie die Rechte über das eingereichte Material besitzen oder hierfür eine Berechtigung von Seiten des Rechteinhabers besitzen</li>
<li>Sie werden auch künftig die Rechte über das eingereichte Material behalten</li>
<li>Sie erlauben XXX, das Material auf unserer Website kostenfrei zur Verfügung zu stellen</li>
<li>Sie erlauben die Nutzung des Materials für Unterrichtszwecke, z. B. in Schulklassen, als Arbeitsblätter, in Vorlesungen etc.</li>
<li>Sie sind damit einverstanden, dass diese Nutzungsbedingungen auf unbestimmte Dauer gelten </li></ol>

<p>Bitte beachten Sie, dass die Universität Oxford und die Deutsche Nationalbibliothek keine Berechtigung zur kommerziellen Nutzung Ihres Materials an Dritte erteilen wird. </p>
-->
