<% if local_assigns[:heading].nil? %>
<% heading = true %>
<% end %>

<% if heading %>
<h2>Terms of use</h2>
<% end %>

<p>Before you can submit digital material to Europeana, you must agree to the <a href="/en/about/terms" tittle="See teh Europeana Terms for User Contributions">Europeana Terms for User Contributions</a>. Among the most important consequences of accepting these terms, are the following:</p>
<p><b>You guarantee that:</b> 
<ul class="point"><li>the digital material that you submit is not copyright protected; or
</li><li>you own the rights to this digital material; or
</li><li>the owner of these rights has authorized you to submit the digital material under the following conditions.
</li><li>For the content you contribute (such as a video, a photo, a diary, a picture or audio material), you are allowing everybody to use this content in almost any way they wish. However, they must attribute the content to the rights owner. And if they make alterations to the content, they have to allow others to use the altered content under the same conditions.
</li><li>For the descriptive data you submit (such as descriptions or tags) so your content can be found by search engines, you are allowing everybody to use these descriptive data in almost any way they like, without further conditions.</li></ul>
If you do not want to accept these terms, then please do not contribute content or descriptive data to Europeana.</p>


