<% @title = t('views.contributions.complete.title') %>

<p>Your contribution has been submitted. Thank you! It will be checked by the project staff and appear on the website when approved. At busy times, this may take several weeks. We ask for your understanding and patience.</p>

<div class="link-buttons">
  <%= link_to 'My contributions', contributor_dashboard_url %>
</div>

<%= render :partial => 'progress', :locals => { :step => 5 } %>
