<% @title = t('views.contributions.story.step1') %>

<% if current_user.may_delete_contribution?(@contribution) -%>
  <div class="action-links">
    <ul>
      <li><%= link_to t('actions.delete'), delete_contribution_path(@contribution) %></li>
      <li><%= link_to t('formtastic.titles.contribution_attachments'), ( new_contribution_attachment_path(@contribution) + '#attachments' ) %></li>
    </ul>
  </div>
<% end -%>

<%= render :partial => 'form', :locals => { :contribution => @contribution } %>

<% if @contribution.draft? -%>
  <%= render :partial => 'progress', :locals => { :step => 1 } %>
<% end -%>
