<% @title = t('views.contributions.new.title') %>

<p><%= raw t('views.contributor.help.add_something.p1') %></p>

<%= render :partial => 'form', :locals => { :contribution => @contribution } %>

<%= render :partial => 'progress', :locals => { :step => 1 } %>
