<% @title = t('views.contributions.search.title') %>
<p><a href="/de/about/takedown" title="Entfernung von Beiträgen">Entfernung von Beiträgen</a></p>
<%= render :partial => '/shared/search_form', :locals => { :query => @query } %>

<% if @contributions.size == 0 -%>
  <p><%= t('views.contributions.search.empty') %></p>
<% else -%>
  <%= render :partial => 'listing', :locals => { :contributions => @contributions, :query => @query } %>
<% end -%>
