<h3 class='facet-section'>
  <%= t('views.search.facets.matches_for' ) %>
</h3>

<ul class="filters">
  <%- for link in links_for_selected_filters(query, facets) -%>
    <li>
      <%# link_to link[:reduce][:text], link[:reduce][:url], {'data-value' => link[:data][:val]} %>
      <%= link_to link[:reduce][:text], link[:reduce][:url], {'data-value' => link[:data][:valX] } %>
      <%= link_to image_tag('style/icons/cancel.png', :alt => t('actions.remove')), link[:remove][:url], { :title => t('actions.remove'), :class => 'remove-filter', 'data-index' => link[:data][:index], 'data-value' => link[:data][:val] } %>
    </li>
  <%- end -%>
</ul>

