/*
	@import "compass";
*/
/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* line 3, sass/common.scss */
.shadow-panel {
  background-color: #FFFFFF;
  border: 1px solid #C9C9C9;
  border-radius: 8px 8px 8px 8px;
}

/* line 11, sass/common.scss */
.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f5f5f5;
  padding: 0.25em;
}

/* line 23, sass/common.scss */
.caption h3 {
  font-size: 100%;
  line-height: 140%;
  margin: 0;
}

@media only screen and (min-width: 48em) {
  /* line 32, sass/common.scss */
  .europeana-button {
    font-size: 1.2em;
  }

  /* line 36, sass/common.scss */
  .shadow-panel {
    box-shadow: 3px 3px 4px #C3C3C3;
  }
}
