/*
	@import "compass";
*/
/* Breakpoints

$break-desktop: 48em; */
/* line 40, sass/partials/_buttons.scss */
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
}

/* line 65, sass/partials/_buttons.scss */
input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1;
}

/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* line 3, sass/common.scss */
.shadow-panel {
  background-color: #FFFFFF;
  border: 1px solid #C9C9C9;
  border-radius: 8px 8px 8px 8px;
}

/* line 11, sass/common.scss */
.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f5f5f5;
  padding: 0.25em;
}

/* line 23, sass/common.scss */
.caption h3 {
  font-size: 100%;
  line-height: 140%;
  margin: 0;
}

@media only screen and (min-width: 54em) {
  /* line 32, sass/common.scss */
  .europeana-button {
    font-size: 1.2em;
  }

  /* line 36, sass/common.scss */
  .shadow-panel {
    box-shadow: 3px 3px 4px #C3C3C3;
  }

  /* line 40, sass/common.scss */
  #navigation-footer {
    padding: 1.25em 0;
  }

  /* line 44, sass/common.scss */
  #navigation-footer li {
    display: inline-block;
    padding-right: 1em;
  }

  /* line 49, sass/common.scss */
  #navigation-footer li.last-child {
    padding-right: 0;
  }
}
