/*
	@import "compass";
*/
/* Breakpoints

$break-desktop: 48em; */
/* line 40, sass/partials/_buttons.scss */
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
}

/* line 65, sass/partials/_buttons.scss */
input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1;
}

/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* line 4, sass/eumenu.scss */
.eu-menu.selected span.open-menu {
  text-shadow: 0 5px 1px #4C7ECF;
}

/* line 7, sass/eumenu.scss */
.eu-menu.no-highlight span.open-menu {
  text-shadow: none;
}

/* line 11, sass/eumenu.scss */
.eu-menu.selected .item.active {
  box-shadow: inset 0 0 4px #4C7ECF;
}

/* line 14, sass/eumenu.scss */
.eu-menu:focus {
  outline: none;
}

/* line 17, sass/eumenu.scss */
.eu-menu:focus .menu-label {
  text-decoration: underline;
}

/* line 21, sass/eumenu.scss */
.eu-menu .menu-label {
  padding: 0.5em;
}

/* line 25, sass/eumenu.scss */
.eu-menu.no-highlight .item.active {
  box-shadow: none;
}

/* line 29, sass/eumenu.scss */
.eu-menu {
  display: inline-block;
  /* !important;*/
  padding-left: 0.15em;
  position: relative;
  text-align: left;
  z-index: 11;
}
/* line 36, sass/eumenu.scss */
.eu-menu a {
  text-decoration: none;
  color: #444444;
  cursor: pointer;
}
/* line 43, sass/eumenu.scss */
.eu-menu .menu-label,
.eu-menu .open-menu {
  cursor: pointer;
}

/* line 51, sass/eumenu.scss */
.eu-menu span {
  line-height: inherit;
}

/* line 57, sass/eumenu.scss */
.eu-menu a:hover,
.eu-menu .item:focus a,
.eu-menu .item a:focus {
  text-decoration: underline;
}

/* line 61, sass/eumenu.scss */
.eu-menu .top {
  background-color: #DDD;
}

/* line 65, sass/eumenu.scss */
.eu-menu ul {
  list-style-type: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 200;
  /* show max 10 items  */
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 81, sass/eumenu.scss */
.eu-menu .item {
  display: none !important;
  border-radius: 0 0 0.25em 0.25em;
  margin-top: 0.1em;
  padding: 0.2em 0.6em 0.1em 0.6em;
  border: 1px solid #e4e4e4;
  background-color: #F5F5F5;
  white-space: nowrap;
  z-index: 200;
}

/* line 93, sass/eumenu.scss */
.eu-menu.active .item {
  /* shown items */
  display: block !important;
}
