/*
	@import "compass";
*/
/* line 40, sass/partials/_buttons.scss */
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
}

/* line 65, sass/partials/_buttons.scss */
input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1;
}

/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* line 4, sass/facets.scss */
#facet-menu > div {
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

/* line 13, sass/facets.scss */
#facets,
#facets ul {
  margin: 0;
  padding: 0 0 1em 0;
}

/* line 18, sass/facets.scss */
#facets {
  padding-top: 0.5em;
}

/* line 22, sass/facets.scss */
#facets li {
  list-style: none outside none;
}

/* line 26, sass/facets.scss */
#facets h3 {
  border-top: 1px solid #C0C0C0;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding-top: 0.2em;
}

/* line 33, sass/facets.scss */
#facets li:first-child h3 {
  border-top: none;
}

/* line 37, sass/facets.scss */
#facets > li:first-child > span {
  display: block;
}

/* line 42, sass/facets.scss */
#facets li h4 {
  display: inline;
}

/* Add keyword input / label */
/* line 49, sass/facets.scss */
#facets .keywords input[type="text"] {
  border: 1px solid #A0A0A0;
  border-radius: 0.5em 0 0 0.5em;
  margin-bottom: 1px;
  outline: none;
  padding: 4px;
}

/* line 58, sass/facets.scss */
#facets .keywords {
  padding-bottom: 1em;
}

/* line 62, sass/facets.scss */
#facets .keywords span {
  white-space: nowrap;
}

/* line 67, sass/facets.scss */
#facets .keywords input[type=submit] {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: none;
  color: white;
  margin-left: 0;
  cursor: pointer;
}
