/*
	@import "compass";
*/
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8); }

input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1; }

/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
#facet-menu > div {
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative; }

#facets,
#facets ul {
  margin: 0;
  padding: 0; }

#facets li {
  list-style: none outside none; }

#facets h3 {
  border-top: 1px solid #C0C0C0;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding-top: 0.2em; }

#facets li:first-child h3 {
  border-top: none; }

#facets > li:first-child > span {
  display: block; }

#facets li h4 {
  display: inline; }

/* Add keyword input / label */
#facets .keywords input[type="text"] {
  border: 1px solid #A0A0A0;
  border-radius: 0.5em 0 0 0.5em;
  margin-bottom: 1px;
  outline: none;
  padding: 4px; }

#facets .keywords {
  padding-bottom: 1em; }

#facets .keywords span {
  white-space: nowrap; }

#facets .keywords input[type=submit] {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: none;
  color: white;
  margin-left: 0;
  cursor: pointer; }
