/*
	@import "compass";
*/
/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* line 4, sass/facets.scss */
#facet-menu > div {
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

/* line 13, sass/facets.scss */
#facets,
#facets ul {
  margin: 0;
  padding: 0;
}

/* line 18, sass/facets.scss */
#facets li {
  list-style: none outside none;
}

/* line 22, sass/facets.scss */
#facets h3 {
  border-top: 1px solid #C0C0C0;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding-top: 0.2em;
}

/* line 29, sass/facets.scss */
#facets li:first-child h3 {
  border-top: none;
}

/* line 33, sass/facets.scss */
#facets > li:first-child > span {
  display: block;
}

/* line 38, sass/facets.scss */
#facets li h4 {
  display: inline;
}

/* Add keyword input / label */
/* line 45, sass/facets.scss */
#facets .keywords input[type="text"] {
  border: 1px solid #A0A0A0;
  border-radius: 0.5em 0 0 0.5em;
  margin-bottom: 1px;
  outline: none;
  padding: 4px;
}

/* line 54, sass/facets.scss */
#facets .keywords {
  padding-bottom: 1em;
}

/* line 58, sass/facets.scss */
#facets .keywords span {
  white-space: nowrap;
}

/* line 63, sass/facets.scss */
#facets .keywords input[type=submit] {
  background-color: blue;
  border: 1px solid blue;
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: none;
  color: white;
  margin-left: 0;
  cursor: pointer;
}
