/*
	@import "compass";
*/
/* Breakpoints

$break-desktop: 48em; */
/* line 40, sass/partials/_buttons.scss */
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
}

/* line 65, sass/partials/_buttons.scss */
input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1;
}

/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* line 4, sass/header.scss */
#navigation-mobile-trigger {
  position: absolute;
  top: 0.5em;
  right: 1.2em;
  z-index: 1000;
  line-height: 120%;
  color: green;
}

/* line 13, sass/header.scss */
#search-form-wrapper {
  text-align: center;
  vertical-align: middle;
  padding-top: 2em;
}

/* line 20, sass/header.scss */
.t-logo-search {
  position: relative;
  top: 4em;
  margin-bottom: 4em;
}

/* line 26, sass/header.scss */
.td-logo {
  width: 0px;
}

/* line 30, sass/header.scss */
#logo {
  position: absolute;
  top: -1.8em;
}

/* line 37, sass/header.scss */
#logo.landing a,
#logo a {
  display: block;
  width: 131px;
  height: 70px;
  margin-top: 0.25em;
  background-image: url("/themes/v3/images/logos/eew-logo-landscape.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* line 52, sass/header.scss */
#navigation-mobile {
  position: absolute;
  top: -4%;
  left: 0;
  width: 98%;
  height: 100%;
  padding: 3% 0 0 2%;
  background-color: #000;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.8);
  list-style: none;
  z-index: 1000;
  display: none;
}

@media screen and (max-width: 30em) {
  /* line 73, sass/header.scss */
  #logo a {
    background-image: url("/themes/v2/images/logos/eew-logo-landscape-three-quarter.png");
  }
}
@media only screen and (min-width: 54em) {
  /* line 81, sass/header.scss */
  #navigation-mobile-trigger {
    display: none;
  }

  /* line 85, sass/header.scss */
  .t-logo-search {
    top: 0;
    margin-bottom: 2em;
    margin-top: 1em;
  }

  /* line 91, sass/header.scss */
  .td-logo {
    width: auto;
  }

  /* line 95, sass/header.scss */
  #search-form-wrapper {
    padding-top: 1em;
  }

  /* line 99, sass/header.scss */
  #logo {
    position: relative;
    top: 0;
  }

  /* line 104, sass/header.scss */
  #logo a {
    margin-top: 0.75em;
  }

  /* line 108, sass/header.scss */
  #logo.landing a {
    width: 263px;
    height: 140px;
  }
}
