/*
	@import "compass";
*/
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8); }

input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1; }

/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
.carousel-intro {
  background-color: white;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  overflow: hidden;
  padding: 1.25em 1em;
  z-index: 1; }
  .carousel-intro h4 {
    font-size: 1.4em;
    margin: 0 0 .7em 0; }
  .carousel-intro .h-flex-container input {
    font-size: 0.875em; }

.carousel-intro.hide-on-phones {
  margin-left: 1.5em;
  margin-top: 1.5em;
  position: absolute;
  width: 42%;
  font-size: 0.75em;
  line-height: 1.2em; }

.carousel-intro #q {
  border: 1px solid #cccccc;
  padding: 0.5em;
  background-image: none; }

.carousel-intro a.button,
.carousel-intro input[type=submit] {
  webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset;
  moz-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset;
  ms-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset;
  o-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset; }

.carousel-intro a.button {
  padding: 0.5em 1.75em; }

.index-call-to-action {
  margin: 2em 0 0.5em 0;
  text-align: center; }
  .index-call-to-action .button {
    display: inline;
    margin: 1em; }

/* main feature */
#index-featured {
  position: relative; }

/* featured categories */
#featured-categories {
  margin: auto; }
  #featured-categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative; }
    #featured-categories ul li {
      display: inline-block;
      width: 33%;
      padding: 0 1em 1em 0; }
  #featured-categories img, #featured-categories a {
    border: 0;
    margin: 0;
    padding: 0; }
  #featured-categories img {
    width: 100%;
    max-width: 235px;
    display: block; }
  #featured-categories .subtitle {
    width: 100%;
    line-height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: #333;
    color: #f5f5f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5em; }
  #featured-categories img,
  #featured-categories .subtitle {
    max-width: 235px; }

/* recent activity */
.recent-activity {
  bottom: 0px;
  margin: 3em 0 0 0;
  padding: 1.5em;
  right: 0.25em;
  top: 0px;
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
  overflow-y: h; }
  .recent-activity .head {
    text-align: center; }
  .recent-activity ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden; }
  .recent-activity li {
    padding: 1.5em 0; }
  .recent-activity li:not(:last-child) {
    border-bottom: 1px solid #d9d9d9; }

.right-col {
  vertical-align: top; }

@media only screen and (min-width: 48em) {
  #featured-categories ul li {
    width: 50%; }

  .recent-activity {
    margin: 0; }
    .recent-activity .head {
      height: 10%; }
    .recent-activity ul {
      max-height: 90%;
      overflow-y: auto; }

  .right-col {
    min-width: 21em;
    padding-left: 1em; } }
@media only screen and (min-width: 68em) {
  .carousel-intro.hide-on-phones {
    font-size: 0.9em;
    line-height: 1.4em; }

  #featured-categories ul li {
    width: 33%; }

  .right-col {
    min-width: 25em; } }
@media only screen and (min-width: 75em) {
  .right-col {
    min-width: 30em; } }
@media only screen and (min-width: 82em) {
  #featured-categories ul li {
    XXXwidth: 25%; }

  .right-col {
    min-width: 40em; } }
