.carousel-intro { background-color: white; overflow: hidden; padding: 1em; z-index: 1; }
.carousel-intro .content { display: table; height: 100%; position: relative; table-layout: fixed; }
.carousel-intro h2 { font-size: 120%; }

.carousel-intro.hide-on-phones { height: 90%; margin-left: 4em; margin-top: 1.5em; position: absolute; width: 30%; min-width: 250px; }

.index-call-to-action { margin-bottom: 0.5em; text-align: center; }
.index-call-to-action .button { display: inline; margin: 1em; }
.index-call-to-action a:hover { color: 0075FF; }

/* main feature */
#index-featured { position: relative; }

/* featured categories */
#featured-categories { margin: auto; }
#featured-categories ul { list-style: none; padding: 0; position: relative; }
#featured-categories img { max-width: 235px; }

#featured-categories li { margin-bottom: 1em; }

#featured-categories img { display: block; }

#featured-categories img, #featured-categories a { border: 0; margin: 0; padding: 0; }

/* recent activity */
.recent-activity { bottom: 0px; margin: 3em 0 0 0; padding: 1em; top: 0px; overflow-y: h; }
.recent-activity .head { text-align: center; }
.recent-activity ul { list-style: none; padding: 0; margin: 0; overflow-x: hidden; }
.recent-activity li { padding: 1em 0; }
.recent-activity li :not(:last-child) { border-bottom: 1px solid #C9C9C9; }

@media screen and (min-width: 48em) { .recent-activity { position: absolute; margin: 1em 1em 1em 0; }
  .recent-activity .head { height: 10%; }
  .recent-activity ul { max-height: 90%; overflow-y: auto; } }
