/*
	@import "compass";
*/
/* Breakpoints

$break-desktop: 48em; */
/* line 40, sass/partials/_buttons.scss */
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
}

/* line 65, sass/partials/_buttons.scss */
input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1;
}

/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* OLD STUFF  */
/* line 5, sass/item.scss */
.location-desc {
  margin-top: 3em;
}

/* line 10, sass/item.scss */
.add-tags {
  margin-top: 3em;
  textarea-width: 100%;
}

/* line 19, sass/item.scss */
.related-content > h3 {
  border-bottom: 1px solid #e4e4e4;
}

/* line 24, sass/item.scss */
.one-half-right,
.one-half-left {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}

/* line 29, sass/item.scss */
.one-half-right {
  float: right;
  padding-left: 1em;
}

/* line 34, sass/item.scss */
.one-half-left {
  float: left;
  padding-right: 1em;
}

/* line 40, sass/item.scss */
.img-panel,
.panel {
  background-color: #F2F2F2;
  border: 1px solid #D9D9D9;
  padding: 1em;
}

/* line 46, sass/item.scss */
.img-panel {
  text-align: center;
}

/* line 50, sass/item.scss */
.dcTitle {
  font-size: 1.4em;
  margin-bottom: 0.75em;
}

/* line 55, sass/item.scss */
.subtitle {
  background-color: #333333;
  color: #FFF;
  padding: 0.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 64, sass/item.scss */
.subtext {
  font-size: 0.75em;
  position: relative;
  top: -0.75em;
}

/* line 70, sass/item.scss */
.meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 76, sass/item.scss */
.title {
  font-weight: bold;
}

/* map controls styling */
/* line 81, sass/item.scss */
#map-container {
  margin: 1em 0;
  position: relative;
}

/* line 86, sass/item.scss */
#map {
  height: 40em;
  width: 100%;
}

/* line 91, sass/item.scss */
#europeana-ctrls {
  color: #E3D6B6;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* line 100, sass/item.scss */
#layer-ctrl span {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #888888;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #000000;
  cursor: pointer;
  float: right;
  margin-left: 1em;
  padding: 0.5em;
}

@media only screen and (min-width: 54em) {
  /* line 116, sass/item.scss */
  .location-desc,
  .add-tags {
    margin-top: 2em;
  }
}
/* NEW STUFF  */
/* line 129, sass/item.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  XXXfont-size: 1em;
}

/* line 136, sass/item.scss */
blockquote {
  background-color: cyan;
  max-width: 33em;
  margin: auto;
}

/*
.container{
	width:            100%;
	max-width:        105.24em;
	margin:           auto;
	padding:          0 1.56em;

	background-color: purple;
}
*/
/* line 154, sass/item.scss */
.col {
  display: block;
  margin-bottom: 1.56em;
}

/* line 160, sass/item.scss */
.col-cell {
  background-color: #F2F2F2;
  font-size: 1em;
  max-width: 33em;
  line-height: 1.56em;
  margin: auto;
  margin-bottom: 1.56em;
  XXXborder: 1px solid #D9D9D9;
  XXXpadding: 1em;
}

/* line 175, sass/item.scss */
.container,
.col,
.col-cell {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (min-width: 54em) {
  /* line 184, sass/item.scss */
  .container {
    background-color: pink;
    overflow: hidden;
    /* clearfix */
  }

  /* activate 3 col layout */
  /* line 192, sass/item.scss */
  .col {
    width: 33.3333%;
    display: inline-block;
    background-color: yellow;
    margin: 0;
    float: left;
    /* start content at top of column */
  }

  /* line 200, sass/item.scss */
  .col.left {
    padding-right: 1.56em;
    padding-right: 0.52em;
    /* ( 1.56 / 3 ) */
  }

  /* line 205, sass/item.scss */
  .col.middle {
    padding-left: 1.04em;
    /* ( (1.56 / 3) x 2 ) */
    overflow: visible;
    width: 66.666%;
  }

  /* line 213, sass/item.scss */
  .col-cell {
    margin: 0;
    margin-bottom: 1.56em;
  }

  /* line 218, sass/item.scss */
  .col.middle .col-cell {
    clear: both;
    width: 33em;
    /*  33em base plus margin */
  }

  /* line 224, sass/item.scss */
  blockquote {
    left: -50%;
    position: relative;
    max-width: none;
    margin: 0;
    margin-left: -0.39em;
    /* 1.56 / 4 */
    width: 150%;
    font-size: 2em;
  }
}
