/*
	@import "compass";
*/
/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* line 3, sass/item.scss */
.nav-top {
  border-bottom: 1px solid #DADADA;
  padding: 0.25em;
}

/* line 9, sass/item.scss */
.location-desc {
  margin-top: 3em;
}

/* line 14, sass/item.scss */
.add-tags {
  margin-top: 3em;
  textarea-width: 100%;
}

/* line 23, sass/item.scss */
.related-content > h3 {
  border-bottom: 1px solid #e4e4e4;
}

@media only screen and (min-width: 48em) {
  /* line 30, sass/item.scss */
  .location-desc,
  .add-tags {
    margin-top: 2em;
  }
}
