/*
	@import "compass";
*/
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8); }

input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1; }

/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* No classes - only element selectors here */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, footer, header, menu, nav, section, summary, ul, li, a, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit; }

h1, h2, h3, h4,
ul,
menu,
dir {
  -webkit-margin-before: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background-color: #fff; }

img {
  max-width: 100%;
  border-style: none; }

ul {
  list-style: none; }

footer, header, nav, section {
  display: block; }

@media screen and (min-width: 48em) {
  body {
    max-width: 100em;
    margin: 0 auto; } }
input[type=text],
input[type-text]:focus {
  outline: none !important; }

p {
  margin: 0 0 .9em 0; }

a {
  color: #2ba6cb;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color, 500ms, ease-out;
  -moz-transition: color, 500ms, ease-out;
  -ms-transition: color, 500ms, ease-out;
  -o-transition: color, 500ms, ease-out;
  transition: color, 500ms, ease-out; }

a:hover {
  color: #ff00c2; }

img {
  border: none; }

hr {
  color: #E4E4E4; }

html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-style: normal; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 160%; }

h1, h2, h3 {
  margin: 0 0 .4em 0;
  line-height: 120%;
  clear: both; }

#header,
#content,
#footer {
  padding: 0 2.25em; }

#content {
  padding-top: 2em; }

.v-flex-container {
  display: table;
  table-layout: fixed;
  height: 100%; }

.v-flex {
  display: table-row; }

.v-flex-fill {
  display: table-cell;
  height: 100%;
  vertical-align: bottom; }

.h-flex-container {
  display: table;
  width: 100%;
  border-spacing: 0; }

.h-flex-fill {
  display: table-cell;
  width: 100%; }

.h-flex-fixed {
  display: table-cell;
  width: 1px; }

@media screen and (max-width: 48em) {
  .h-flex-collapse {
    display: block;
    width: auto; } }
.t-query {
  border-collapse: separate;
  cell-padding: 0;
  cell-spacing: 0;
  line-height: normal;
  margin: auto;
  /* centering */
  position: relative;
  table-layout: fixed;
  width: 100%; }
  .t-query td {
    whitespace: nowrap; }

.query-cell {
  padding: 0 0.25em;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 0.5em; }
  .query-cell input {
    height: 1.35em; }

.submit-cell {
  height: 100%;
  vertical-align: middle;
  text-align: center;
  position: relative;
  padding-bottom: 2em;
  padding-top: 2.5em; }
  .submit-cell button {
    position: absolute; }
  .submit-cell input[type=submit] {
    padding: 0.5em; }
  .submit-cell button,
  .submit-cell input.button {
    bottom: 0;
    margin-left: 0;
    /* override chrome default */
    margin-right: 0;
    /* override chrome default */
    margin-top: 0;
    /* override chrome default */
    margin-bottom: 0;
    /* override chrome default */
    padding-bottom: 0.3em;
    right: 0;
    top: 0;
    width: 80%; }

.glow {
  -moz-box-shadow: 0 0 4px #4c7ecf inset;
  -webkit-box-shadow: 0 0 4px #4c7ecf inset;
  box-shadow: 0 0 4px #4c7ecf inset; }

.query-cell #q {
  background-image: url("/themes/v2/images/icons/search.png");
  background-repeat: no-repeat;
  border: 0;
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0;
  padding-left: 2.5em;
  width: 99%; }

@media only screen and (min-width: 48em) {
  #search.landing {
    margin-bottom: 3em; }

  q {
    margin: 0.5em 0; }

  .query-cell {
    border: none;
    border-radius: 0.5em 0 0 0.5em; }

  .submit-cell {
    padding-top: 0;
    height: 100%;
    padding-bottom: 2em;
    vertical-align: middle;
    width: 0; }
    .submit-cell button,
    .submit-cell input[type=submit],
    .submit-cell input.button {
      border-radius: 0 0.5em 0.5em 0;
      width: auto; }

  .t-query {
    border: 1px solid #E4E4E4 !important;
    border-radius: 0.5em;
    width: 80%; } }
@media only screen and (min-width: 54em) {
  .t-query {
    width: 72%; } }
@media only screen and (min-width: 60em) {
  .t-query {
    width: 64%; } }
@media only screen and (min-width: 66em) {
  .t-query {
    width: 58%; } }
@media only screen and (min-width: 72em) {
  .t-query {
    width: 50%; } }
.accordion-tabs {
  margin: 1em auto;
  position: relative;
  padding: 0;
  background-color: #fff;
  -moz-box-shadow: 3px 3px 4px #c3c3c3;
  -webkit-box-shadow: 3px 3px 4px #c3c3c3;
  box-shadow: 3px 3px 4px #c3c3c3;
  border-radius: 8px; }
  .accordion-tabs > .section {
    overflow: visible; }
    .accordion-tabs > .section > a {
      border: 1px solid #d6d6d6; }
    .accordion-tabs > .section a {
      display: block;
      padding: 0.25em 1em;
      text-decoration: none;
      color: #2A85E8;
      outline: 0;
      border-radius: 8px 8px 0 0; }
    .accordion-tabs > .section a:hover {
      text-decoration: underline; }
    .accordion-tabs > .section a:hover {
      color: #666666; }
  .accordion-tabs > .section.active a {
    color: #666666; }
  .accordion-tabs > .section:not(:first-child) > a {
    border-top: none; }
  .accordion-tabs > .section > .content {
    border: 1px solid #d6d6d6;
    border-top: none;
    border-radius: 0 0 8px 8px; }
  .accordion-tabs .content {
    display: none;
    overflow: hidden;
    padding: 1em; }
  .accordion-tabs .tab_content {
    display: none;
    max-width: 100%;
    margin-top: -1px; }

.is-open {
  display: block !important; }

@media only screen and (min-width: 48em) {
  .accordion-tabs {
    box-shadow: none;
    border-radius: 0; }
    .accordion-tabs .section {
      background-color: white;
      border: 1px solid #d6d6d6;
      display: inline-block;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -moz-box-shadow: 7px 0 4px -5px #c3c3c3;
      -webkit-box-shadow: 7px 0 4px -5px #c3c3c3;
      box-shadow: 7px 0 4px -5px #c3c3c3;
      margin-right: 0.5em; }
    .accordion-tabs .section.active {
      border-bottom: 2px solid #fff; }
    .accordion-tabs > .section > a {
      border: none; }
    .accordion-tabs .tab_content {
      border-top: 1px solid #d6d6d6;
      border-radius: 0 8px 0 0;
      display: block;
      padding: 1em;
      -moz-box-shadow: 3px -2px 6px -2px #c3c3c3;
      -webkit-box-shadow: 3px -2px 6px -2px #c3c3c3;
      box-shadow: 3px -2px 6px -2px #c3c3c3; }

  .is-open {
    display: none !important; } }
.europeana-button {
  background-color: #0048ff;
  background: -moz-linear-gradient(top, #0048ff 0%, #4c7ecf);
  background: -webkit-gradient(linear, left top, left bottom, from(#0048ff), to(#4c7ecf));
  -moz-box-shadow: 3px 3px 13px rgba(51, 51, 51, 0.5), inset 0px 0px 0px rgba(255, 255, 255, 0);
  -webkit-box-shadow: 3px 3px 13px rgba(51, 51, 51, 0.5), inset 0px 0px 0px rgba(255, 255, 255, 0);
  box-shadow: 3px 3px 13px rgba(51, 51, 51, 0.5), inset 0px 0px 0px rgba(255, 255, 255, 0);
  border: none;
  border-width: 0 !important;
  color: #FFFFFF !important;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: normal;
  outline: none !important;
  text-decoration: underline;
  -webkit-appearance: none;
  -moz-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  -webkit-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  -webkit-appearance: none !important; }
