/*
	@import "compass";
*/
/* Breakpoints

$break-desktop: 48em; */
/* line 40, sass/partials/_buttons.scss */
input[type=submit],
a.button {
  background-color: #007162;
  color: #fff;
  border: 0;
  border-image-width: 0;
  padding: 0.4em;
  padding: 0.5em;
  outline: 0;
  position: relative;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  -o-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.8);
  box-shadow: 2px 2px 2px rgba(34, 25, 25, 0.8);
}

/* line 65, sass/partials/_buttons.scss */
input[type=submit]:hover,
input[type=submit]:focus,
a.button:hover,
a.button:focus {
  border-color: #cecece #afafaf #afafaf #cecece;
  outline: 0;
  border: 0;
  background-color: #2284A1;
}

/*
@mixin boxShadow($h-shadow, $v-shadow, $blur, $color, $inset: inset ) {
	-moz-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	-webkit-box-shadow:		$h-shadow $v-shadow $blur $color, $inset;
	box-shadow:				$h-shadow $v-shadow $blur $color, $inset;
}
*/
/* No classes - only element selectors here */
/* line 5, sass/partials/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, sass/partials/_reset.scss */
html, body, div, footer, header, menu, nav, section, summary, ul, li, a, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
}

/* line 23, sass/partials/_reset.scss */
h1, h2, h3, h4,
ul,
menu,
dir {
  -webkit-margin-before: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* line 29, sass/partials/_reset.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 37, sass/partials/_reset.scss */
body {
  background-color: #fff;
  font-size: 1em !important;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 45, sass/partials/_reset.scss */
img {
  max-width: 100%;
  border-style: none;
}

/* line 50, sass/partials/_reset.scss */
ul {
  list-style: none;
}

/* line 54, sass/partials/_reset.scss */
footer, header, nav, section {
  display: block;
}

@media screen and (min-width: 54em) {
  /* line 63, sass/partials/_reset.scss */
  body {
    max-width: 100em;
    margin: 0 auto;
  }
}
/* line 71, sass/partials/_reset.scss */
input[type=text],
input[type-text]:focus {
  outline: none !important;
}

/* line 76, sass/partials/_reset.scss */
p {
  margin: 0 0 .9em 0;
}

/* line 80, sass/partials/_reset.scss */
a {
  color: #2ba6cb;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color, 500ms, ease-out;
  -moz-transition: color, 500ms, ease-out;
  -ms-transition: color, 500ms, ease-out;
  -o-transition: color, 500ms, ease-out;
  transition: color, 500ms, ease-out;
}

/* line 87, sass/partials/_reset.scss */
a:hover {
  color: #ff00c2;
}

/* line 91, sass/partials/_reset.scss */
img {
  border: none;
}

/* line 95, sass/partials/_reset.scss */
hr {
  color: #E4E4E4;
}

/* line 1, sass/partials/_typography.scss */
html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-style: normal;
}

/* line 7, sass/partials/_typography.scss */
h1 {
  font-size: 200%;
}

/* line 11, sass/partials/_typography.scss */
h2 {
  font-size: 160%;
}

/* line 15, sass/partials/_typography.scss */
h1, h2, h3 {
  margin: 0 0 .4em 0;
  line-height: 120%;
  clear: both;
}

/* line 21, sass/partials/_typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6F6F6F;
}

/* line 4, sass/partials/_layouts.scss */
#header,
#content,
#footer {
  XXXXpadding: 0 2.25em;
  padding: 0 1.56em;
}

/* line 9, sass/partials/_layouts.scss */
#content {
  padding-top: 1.2em;
  /* New style guide */
  width: 100%;
  max-width: 105.24em;
  /* (3 x 33em) + (4 x 1.56em)  */
  margin: auto;
  padding: 0 1.56em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Needed?  Hasn't reset done this? */
  overflow: hidden;
  /* clearfix */
}

/* line 25, sass/partials/_layouts.scss */
.v-flex-container {
  display: table;
  table-layout: fixed;
  height: 100%;
}

/* line 31, sass/partials/_layouts.scss */
.v-flex {
  display: table-row;
}

/* line 35, sass/partials/_layouts.scss */
.v-flex-fill {
  display: table-cell;
  height: 100%;
  vertical-align: bottom;
}

/* line 41, sass/partials/_layouts.scss */
.h-flex-container {
  display: table;
  width: 100%;
  border-spacing: 0;
}

/* line 47, sass/partials/_layouts.scss */
.h-flex-fill {
  display: table-cell;
  width: 100%;
}

/* line 52, sass/partials/_layouts.scss */
.h-flex-fixed {
  display: table-cell;
  width: 1px;
}

@media screen and (max-width: 54em) {
  /* line 58, sass/partials/_layouts.scss */
  .h-flex-collapse {
    display: block;
    width: auto;
  }
}
/* Hide / show on phones */
/* line 66, sass/partials/_layouts.scss */
.hide-on-phones {
  display: none  !important;
}

/* line 67, sass/partials/_layouts.scss */
.hide-ilb-on-phones {
  display: none  !important;
}

/* line 68, sass/partials/_layouts.scss */
.hide-cell-on-phones {
  display: none  !important;
}

/* line 70, sass/partials/_layouts.scss */
.show-on-phones {
  display: block !important;
}

/* line 71, sass/partials/_layouts.scss */
.show-ilb-on-phones {
  display: inline-block !important;
}

/* line 72, sass/partials/_layouts.scss */
.show-cell-on-phones {
  display: table-cell !important;
}

@media only screen and (min-width: 54em) {
  /* line 75, sass/partials/_layouts.scss */
  .hide-on-phones {
    display: block			!important;
  }

  /* line 76, sass/partials/_layouts.scss */
  .hide-ilb-on-phones {
    display: inline-block	!important;
  }

  /* line 77, sass/partials/_layouts.scss */
  .hide-cell-on-phones {
    display: table-cell		!important;
  }

  /* line 79, sass/partials/_layouts.scss */
  .show-on-phones {
    display: none !important;
  }

  /* line 80, sass/partials/_layouts.scss */
  .show-ilb-on-phones {
    display: none !important;
  }

  /* line 81, sass/partials/_layouts.scss */
  .show-cell-on-phones {
    display: none !important;
  }
}
/* End hide / show on phones */
/* line 4, sass/partials/_search-form.scss */
.t-query {
  border-collapse: separate;
  cell-padding: 0;
  cell-spacing: 0;
  line-height: normal;
  margin: auto;
  /* centering */
  position: relative;
  table-layout: fixed;
  width: 100%;
}
/* line 15, sass/partials/_search-form.scss */
.t-query td {
  whitespace: nowrap;
}

/* line 22, sass/partials/_search-form.scss */
.query-cell {
  padding: 0 0.25em;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 0.5em;
}
/* line 28, sass/partials/_search-form.scss */
.query-cell input {
  height: 1.35em;
}

/* line 35, sass/partials/_search-form.scss */
.submit-cell {
  height: 100%;
  vertical-align: middle;
  text-align: center;
  position: relative;
  padding-bottom: 2em;
  padding-top: 2.5em;
}
/* line 43, sass/partials/_search-form.scss */
.submit-cell button {
  position: absolute;
}
/* line 47, sass/partials/_search-form.scss */
.submit-cell input[type=submit] {
  padding: 0.5em;
}
/* line 52, sass/partials/_search-form.scss */
.submit-cell button,
.submit-cell input.button {
  bottom: 0;
  margin-left: 0;
  /* override chrome default */
  margin-right: 0;
  /* override chrome default */
  margin-top: 0;
  /* override chrome default */
  margin-bottom: 0;
  /* override chrome default */
  padding-bottom: 0.3em;
  right: 0;
  top: 0;
  width: 80%;
}

/* line 69, sass/partials/_search-form.scss */
.glow {
  -moz-box-shadow: 0 0 4px #4c7ecf inset;
  -webkit-box-shadow: 0 0 4px #4c7ecf inset;
  box-shadow: 0 0 4px #4c7ecf inset;
}

/* line 73, sass/partials/_search-form.scss */
.query-cell #q {
  background-image: url("/themes/v2/images/icons/search.png");
  background-repeat: no-repeat;
  border: 0;
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0;
  padding-left: 2.5em;
  width: 99%;
}

@media only screen and (min-width: 54em) {
  /* line 87, sass/partials/_search-form.scss */
  #search.landing {
    margin-bottom: 3em;
  }

  /* line 91, sass/partials/_search-form.scss */
  q {
    margin: 0.5em 0;
  }

  /* line 96, sass/partials/_search-form.scss */
  .query-cell {
    border: none;
    border-radius: 0.5em 0 0 0.5em;
  }

  /* line 101, sass/partials/_search-form.scss */
  .submit-cell {
    padding-top: 0;
    height: 100%;
    padding-bottom: 2em;
    vertical-align: middle;
    width: 0;
  }
  /* line 110, sass/partials/_search-form.scss */
  .submit-cell button,
  .submit-cell input[type=submit],
  .submit-cell input.button {
    border-radius: 0 0.5em 0.5em 0;
    width: auto;
  }

  /* line 117, sass/partials/_search-form.scss */
  .t-query {
    border: 1px solid #E4E4E4 !important;
    border-radius: 0.5em;
    width: 80%;
  }
}
@media only screen and (min-width: 54em) {
  /* line 127, sass/partials/_search-form.scss */
  .t-query {
    width: 72%;
  }
}
@media only screen and (min-width: 60em) {
  /* line 133, sass/partials/_search-form.scss */
  .t-query {
    width: 64%;
  }
}
@media only screen and (min-width: 66em) {
  /* line 139, sass/partials/_search-form.scss */
  .t-query {
    width: 58%;
  }
}
@media only screen and (min-width: 72em) {
  /* line 145, sass/partials/_search-form.scss */
  .t-query {
    width: 50%;
  }
}
/* line 1, sass/partials/_accordion-tabs.scss */
.accordion-tabs {
  margin: 1em auto;
  position: relative;
  padding: 0;
  background-color: #fff;
  -moz-box-shadow: 3px 3px 4px #c3c3c3;
  -webkit-box-shadow: 3px 3px 4px #c3c3c3;
  box-shadow: 3px 3px 4px #c3c3c3;
  border-radius: 8px;
}
/* line 11, sass/partials/_accordion-tabs.scss */
.accordion-tabs > .section {
  overflow: visible;
}
/* line 14, sass/partials/_accordion-tabs.scss */
.accordion-tabs > .section > a {
  border: 1px solid #d6d6d6;
}
/* line 18, sass/partials/_accordion-tabs.scss */
.accordion-tabs > .section a {
  display: block;
  padding: 0.25em 1em;
  text-decoration: none;
  color: #2A85E8;
  outline: 0;
  border-radius: 8px 8px 0 0;
}
/* line 27, sass/partials/_accordion-tabs.scss */
.accordion-tabs > .section a:hover {
  text-decoration: underline;
}
/* line 31, sass/partials/_accordion-tabs.scss */
.accordion-tabs > .section a:hover {
  color: #666666;
}
/* line 37, sass/partials/_accordion-tabs.scss */
.accordion-tabs > .section.active a {
  color: #666666;
}
/* line 42, sass/partials/_accordion-tabs.scss */
.accordion-tabs > .section:not(:first-child) > a {
  border-top: none;
}
/* line 46, sass/partials/_accordion-tabs.scss */
.accordion-tabs > .section > .content {
  border: 1px solid #d6d6d6;
  border-top: none;
  border-radius: 0 0 8px 8px;
}
/* line 53, sass/partials/_accordion-tabs.scss */
.accordion-tabs .content {
  display: none;
  overflow: hidden;
  padding: 1em;
}
/* line 59, sass/partials/_accordion-tabs.scss */
.accordion-tabs .tab_content {
  display: none;
  max-width: 100%;
  margin-top: -1px;
}

/* line 70, sass/partials/_accordion-tabs.scss */
.is-open {
  display: block !important;
}

@media only screen and (min-width: 54em) {
  /* line 78, sass/partials/_accordion-tabs.scss */
  .accordion-tabs {
    box-shadow: none;
    border-radius: 0;
  }
  /* line 82, sass/partials/_accordion-tabs.scss */
  .accordion-tabs .section {
    background-color: white;
    border: 1px solid #d6d6d6;
    display: inline-block;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-box-shadow: 7px 0 4px -5px #c3c3c3;
    -webkit-box-shadow: 7px 0 4px -5px #c3c3c3;
    box-shadow: 7px 0 4px -5px #c3c3c3;
    margin-right: 0.5em;
  }
  /* line 100, sass/partials/_accordion-tabs.scss */
  .accordion-tabs .section.active {
    border-bottom: 2px solid #fff;
  }
  /* line 104, sass/partials/_accordion-tabs.scss */
  .accordion-tabs > .section > a {
    border: none;
  }
  /* line 108, sass/partials/_accordion-tabs.scss */
  .accordion-tabs .tab_content {
    border-top: 1px solid #d6d6d6;
    border-radius: 0 8px 0 0;
    display: block;
    padding: 1em;
    -moz-box-shadow: 3px -2px 6px -2px #c3c3c3;
    -webkit-box-shadow: 3px -2px 6px -2px #c3c3c3;
    box-shadow: 3px -2px 6px -2px #c3c3c3;
  }

  /* line 118, sass/partials/_accordion-tabs.scss */
  .is-open {
    display: none !important;
  }
}
/* line 3, sass/partials/_buttons.scss */
.europeana-button {
  background-color: #0048ff;
  background: -moz-linear-gradient(top, #0048ff 0%, #4c7ecf);
  background: -webkit-gradient(linear, left top, left bottom, from(#0048ff), to(#4c7ecf));
  -moz-box-shadow: 3px 3px 13px rgba(51, 51, 51, 0.5), inset 0px 0px 0px rgba(255, 255, 255, 0);
  -webkit-box-shadow: 3px 3px 13px rgba(51, 51, 51, 0.5), inset 0px 0px 0px rgba(255, 255, 255, 0);
  box-shadow: 3px 3px 13px rgba(51, 51, 51, 0.5), inset 0px 0px 0px rgba(255, 255, 255, 0);
  border: none;
  border-width: 0 !important;
  color: #FFFFFF !important;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: normal;
  outline: none !important;
  text-decoration: underline;
  -webkit-appearance: none;
  -moz-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  -webkit-border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  border-radius: 0.5em, 0.5em, 0.5em, 0.5em;
  -webkit-appearance: none !important;
}
