/*
 *= require ./jquery-plugins/prettyphoto/prettyphoto.css
 *= require ../javascripts/com/jquery/plugins/uploadify/2.1.4/uploadify.css
 *= require mediaelement/mediaelementplayer.css
 *= require ait/annotorious/css/annotorious-0.6.2.css
 *= require ./flickr.css
*/
