#map-container.collection-days  {
	margin-top: .5em;
	padding: .5em 0;
}

.collection-days #map, .collection-day #map {
  height: 47em;
}

#collection-day-metadata dt {
  font-weight: bold;
}

#collection-day-metadata dd {
  margin: 0 0 1em 0;
}

#collection-day-metadata form {
  margin-bottom: 1em;
}

#collection-day-metadata input[type=text] {
  width: 97%;
  padding: 4px;
}

@media screen and (min-width: 769px) {
  #map-container.collection-day {
    float: left;
    width: 40%;
    margin-right: 1%;
    transition: width 0.5s;
  }

  #collection-day-metadata {
    float: right;
    width: 59%;
  }

  #map-container.expand {
    width: 100%;
  }
}
