/*
 *= require ./more-like-this
*/


/**
 * carousel
 */
#contributions-featured, #institution-featured {
	height: 300px;
	-webkit-transition: height 0.7s;
	-moz-transition: height 0.7s;
	-ms-transition: height 0.7s;
	-o-transition: height 0.7s;
	transition: height 0.7s;
}

#contributions-featured ul, #institution-featured ul {
	-webkit-transition: margin-left 0.7s;
	-moz-transition: margin-left 0.7s;
	-ms-transition: margin-left 0.7s;
	-o-transition: margin-left 0.7s;
	transition: margin-left 0.7s;
}

.location-desc {
  margin-top: 3em;
}

.add-tags {
  padding-top: 1em;
}

.related-content {
  max-width: 33em;
  margin: auto;
}

.nav-top {
  margin: 0 0 2em;
}

.nav-top .link-back {
  display: none;

}

.img-panel {
  background-color: #d6d6d6;
  padding: 1em;
}

.dcTitle {
  font-size: 1.4em;
  margin-bottom: 0.75em;
}

.contribution-title.show-on-phones,
.dcTitle.show-on-phones {
  text-align: center;
  margin: 1.5em 0;
}

.subtitle {
  background-color: #333333;
  color: #FFF;
  padding: 0.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtext {
  font-size: 0.75em;
  position: relative;
  top: -0.75em;
}

.meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: bold;
}

/* Comments */
.related-content hr,
.comments hr {
  border: none;
  color: #d9d9d9;
  background-color: #d9d9d9;
  border-top: 1px solid #d9d9d9;
  height: 1px;
}

.comments .content {
  overflow: hidden;
  width: 100%;
  display: table;
}

.comments .content img,
.comments .content .user-tagline {
  display: block;
  text-align: center;
  margin-right: 1.56em;
}

.comments .content img {
  margin: auto;
}

.comments .content div {
  display: table-cell;
  vertical-align: top;
}

.comments textarea {
  width: 100%;
  margin: 0 0 1.56em 0;
}

.comments input {
  display: block;
  margin: auto;
}

.comments .comment-sub-heading-2 {
  margin: 1em 0;
}

/* Tags */

.tags {
  margin: 1em 0;
}

.tags > li {
  display: inline-block;
  margin-bottom: 0.5em;
}


.tags > li .action-links {
  display: none;
  position: absolute;
  border-radius: 0 0.25em 0.25em 0.25em;
  margin-top: 1px;
}

.tags > li:hover .action-links {
  display: block;
}

.tags > li .action-links li {
  margin: 0.25em;
  clear: left;
  text-transform: lowercase;
}

.add-tag-panel {
  margin: 0.5em 0 0 0;
}
.tags-panel{
  margin: 1em 0 0 0;
}

.tags-panel,
.add-tag-panel{
  padding-left:       2em;
}

.tags-panel li{
	background-color: #e5e0d4;
	border-radius: 0 1em 1em 0;
	margin-right: 0.5em;
	padding: 0.125em 0.5em;
}

.tags-panel a {
	color: #333;
	padding-right: 3px;
}

.add-tag-panel{
  display:            inline-block;
  width:              100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.tag-info{
	font-size:     0.7em;
}

.tags-panel.offset a.search-tags{
	position: relative;
	top: -0.12em;
	margin-right: 0.1em
}


.tags .icon-remove {
	color: #ff0000;
	padding: 0 2px 0 8px;
	vertical-align: middle;
	width: 21px;
	height: 17px;
}

.icon-flag {
	padding: 0 5px 0 8px;
	vertical-align: middle;
}

.tags-panel ul {
  margin: 0;
  padding: 0;
}

#add_tags_form {
  clear: both;
}

#add_tags_form input[type=text] {
  max-width: 100%;
  width: 100%;
  border: 1px solid #D9D9D9;
  padding: 5px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (min-width: 54em) {
  .nav-top .link-back {
    display: inline;
  }

  .related-content {
    max-width: none;
  }

  .location-desc {
    margin-top: 2em;
  }
}

blockquote {
  background-color: cyan;
  max-width: 33em;
  margin: auto;
}

.container{
  margin-top: 1em;
}

.col {
  display: block;
  margin-bottom: 1.56em;
}

.col-cell {
  font-size: 1em;
  max-width: 33em;
  line-height: 1.56em;
  margin: auto;
  margin-bottom: 1.56em;
  clear: both;
}

.col-cell.grey {
  background-color: #F2F2F2;
  border: 1px solid #D9D9D9;
  padding: 1em;
}

.container,
.col,
.col-cell {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col.left {
  position: relative;
}

.col.left:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  height: 0;
  clear: both;
}


#lightbox-share-this {
	padding-right: 7px;
	padding-top: 4px;
	display: inline-block;
}

#shareicons{
  float: left;
  margin-bottom: 1em;
  margin-left: 2em;  /* alignment when buttons wrap under label */

}

.icon-share{
  margin-right: -1em; /* compensation for #shareicons 2em */
}

.icon-external{
  margin-right: -1.5em; /* compensation for #shareicons 2em */
}

.external-link{
  float: left;
  margin-bottom: 2em;
  margin-left: 2.2em;   /* alignment when buttons wrap under label */

}


.icon-external,
.icon-share,
.icon-translate{
  float:        left;
}


.icon-translate:before{
  margin-right: 0.5em;
}

.icon-share:before{
  margin-right: 0.5em;
  position: relative;
  top: 0.2em;
}

.icon-tag:before{
  margin-right: 1em;
}


.icon-share:before,
.icon-translate:before{
  font-size:    1.5em;
}

.icon-tag:before{
	font-size: 1.2em;
	top: 0.2em;
	left: 0.3em;
	position: relative;
}
.icon-external:before{
	font-size: 1.2em;
	left: 0.2em;
	position: relative;
}

.translate-area {
  padding-top: 1em;
  clear: both;
}

#translate-details {
  text-align: right;
}

#translation-services {
  float: left;
  font-size: 80%;
}

#translation-services img {
  display: none;
}

#microsoft-translate-element select {
  display: block;
}

/*
#story-metadata{
	padding-top: 1em;
}
*/

/* classes to track item collapse */

.hide-on-item-collapsed {
	display: none !important;
}

.show-on-item-collapsed {
	display: block !important;
}


@media all and (min-width: 54em) {

  .hide-on-item-collapsed {
    display: block !important;
  }

  .show-on-item-collapsed {
    display: none !important;
  }

  #microsoft-translate-element > span {
    width: auto;
  }
/*
  #story-metadata{
	padding-top: 0em;
  }
*/
  .col {
    width: 33.3333%;
    display: inline-block;
    margin: 0;
    float: left;
  }


  .col.left {
    padding-right: 1.56em;
    padding-right: 0.52em;
    /* ( 1.56 / 3 ) */
  }

  .col.middle {
    padding-left: 1.04em;
    /* ( (1.56 / 3) x 2 ) */
    overflow: visible;
    width: 66.666%;
  }

  .col-cell {
    margin: 0;
    margin-bottom: 1.56em;
  }

  .col.middle .col-cell {
    width: 33em;
    /*  33em base plus margin */
  }

  blockquote {
    left: -50%;
    position: relative;
    max-width: none;
    margin: 0;
    margin-left: -0.39em;
    /* 1.56 / 4 */
    width: 150%;
    font-size: 2em;
  }
}
