/*
 *= require leaflet/leaflet-0.7.3.css
 *= require leaflet/plugins/Control.MiniMap.css
*/

.banner, .legend {
	background-color: #fff;
	background-color: rgba( 255, 255, 255, 0.9 );
	padding: 11px;
	font-size: 124%;
	line-height: 140%;
}

.banner {
	margin-left: 10px;
}

.legend {
	width: 170px;
}

.legend h2 {
	margin-bottom: 1em;
	text-align: center;
}

.legend label {
	margin-left: 33px;
}

.legend input {
	float: left;
	font-size: 150%;
	margin-left: -24px;
}

.legend a {
	display: block;
	margin-top: 1em;
	text-align: center;
}

.marker-icon {
	min-height: 41px;
	margin-bottom: 2em;
	padding-left: 33px;
	background-repeat: no-repeat;
}

.marker-icon-blue {
	background-image: url(/assets/leaflet/images/marker-icon.png);
}

.marker-icon-green {
	background-image: url(/assets/leaflet/images/marker-icon-green.png);
}

.marker-icon-red {
	background-image: url(/assets/leaflet/images/marker-icon-red.png);
}

.marker-icon-purple {
	background-image: url(/assets/leaflet/images/marker-icon-purple.png);
}
