<%

  nav = [
  [ t('common.menus.main.home'), home_path ],
  [ t('common.menus.main.add'), ( current_user.role.name == 'guest' ? contributor_dashboard_path : new_contribution_path ) ],
  [ t('common.menus.main.explore'), page_path('explore') ],
  #[ t('views.collection_days.index.title'), collection_days_path ]
  #[ t('common.menus.main.remix'), page_path('remix') ]
  #[ t('common.menus.main.collection-days'), page_path('collection-days') ]
  ]
  
  remix_test = '/' + I18n.locale.to_s + '/remix'
  
-%>

<ul id="navigation-main" class="menu">
  <%- for link in nav -%>
    <%- if current_page?(link[1]) -%>
      <li><%= link_to (link.first + '<span class="underline"></span>').html_safe, link[1], { :class => 'selected' } %></li>
    <%- elsif remix_test == link[1] -%>
      <li><%= link_to (link.first + '<span class="underline"></span>').html_safe, link[1], { :class => 'remix' } %></li>
    <%- else -%>
      <li><%= link_to (link.first + '<span class="underline"></span>').html_safe, link[1] %></li>
    <%- end -%>
  <%- end -%>
</ul>
