<%
	provide :embedly, true
%>
<span class="icon-share"><%= t('views.contributions.show.headings.share') %></span>
<span class="st_facebook_large share-button" displayText="Facebook" title="Facebook"></span>
<span class="st_twitter_large share-button" displayText="Tweet" title="Tweet"></span>
<span class="st_email_large share-button" displayText="Email" title="Email"></span>
<span class="st_sharethis_large share-button" displayText="ShareThis" title="ShareThis"></span>
<span class="embedly-button share-button" data-lang="<%= I18n.locale %>" title="Embed <%= title %>"></span>