<h2 class='facet-section'>
  <%= t('views.search.facets.matches_for' ) %>
</h2>

<ul class="filters">

  <%- for link in links_for_selected_filters(query, facets) -%>
      <li>
      <%# link_to link[:reduce][:text], link[:reduce][:url], {'data-value' => link[:data][:val_remove]} %>
      
      <% 
         linkText = link[:reduce][:text]
         rightsText = rightsLabels[ linkText.sub 'Rights: ', '' ];
         
         if( rightsText )
           linkText = 'Rights: ' + rightsText
         
         else
           languageText = languageLabels[ linkText.sub 'Language: ', '']
           if( languageText )
           	 linkText = 'Language: ' + languageText
           end           
         
         end
      %>

      <%#= link[:reduce] %>
      
      <%= link_to linkText, link[:reduce][:url], {'data-value' => link[:data][:val] } %>
      <%= link_to  content_tag(:span, '', :class => 'icon-remove'), link[:remove][:url], { :title => t('actions.remove'), :class => 'remove-filter', 'data-value' => link[:data][:val_remove]	} %>
      
    </li>
  
  <%- end -%>
</ul>

