<%
  case controller.controller_name
  when 'europeana', 'digitalnz', 'dpla', 'trove'
    url = send(:"search_#{controller.controller_name}_path")
  else
    url = search_contributions_path
  end
  
  if local_assigns[:count].nil?
    count = false
  end
%>
<%= form_tag( url, { :method => :get, :id => 'search' } ) do %>
  <%- if count -%>
    <input type="hidden" name="count" value="<%= count %>" />
  <%- end -%>
  
  <div class="h-flex-container">
    <%= text_field_tag 'q', query, { :type => 'text', :placeholder => 'Search Europeana 1914-1918' } %>
    
    <span class="h-flex-fixed">
      <input type="submit" class="button" value="<%= t('formtastic.actions.search.submit') %>"/>
    </span>
 </div>
  
  
<% end %>
