<div id="header">
	
	<h1 id="logo">
		<a href="/" title="<%= t('views.home.heading') %>">
		  <img src="/images/eew-logo-landscape.png" alt="<%= t('views.home.heading') %>" />
		</a>
	</h1>
	
	<%= render '/layouts/navigation-user' %>
	
	<%= render '/layouts/navigation-main' %>
	
	<% render :partial => '/shared/search_form', :locals => { :query => @query } %>
	
</div>