<% items = dropbox_contents -%>
<% if items.size > 0 -%>
  <p>Copy a file from your Dropbox folder:</p>
  <% count = 0 -%>
  <ul>
    <%- items.each do |item| -%>
      <%- count = count + 1 -%>
      <li>    
        <%= radio_button_tag 'dropbox_path', item['path'], false, :id => "dropbox-#{count}" %><%= label_tag "dropbox-#{count}", item['name'] -%>
      </li>
    <%- end -%>
  </ul>
<%- else -%>
  <p>Copy some files into the folder named "/Apps/Europeana 1914-1918" in your Dropbox account, and they will show up here.</p>
<% end -%>
