#password-strength { margin: 5px 0 0 169px; }
#password-generate { display: block; margin: 0 0 0 169px; }

.is0{background:image-url("europeana-theme/password/password-strength.png") no-repeat 0 0;width:auto;height:7px;}
.is10{background-position:0 -7px;}
.is20{background-position:0 -14px;}
.is30{background-position:0 -21px;}
.is40{background-position:0 -28px;}
.is50{background-position:0 -35px;}
.is60{background-position:0 -42px;}
.is70{background-position:0 -49px;}
.is80{background-position:0 -56px;}
.is90{background-position:0 -63px;}
.is100{background-position:0 -70px;}
