<% provide :title, 'Flickr' %>

<div class="section top">
  
  <h2><%= yield :title %></h2>
  
  <% if @login %>
    <p>You are linked into Flickr as <strong><%= @login.username %></strong></p>
    <p><%= link_to 'Unlink Flickr account', unauth_flickr_path %></p>
  <% else %>
    <p>You are not linked into Flickr</p>
    <p><%= link_to 'Link Flickr account', auth_flickr_path %></p>
  <% end %>

</div>
