<div id="contributions-featured" class="carousel">
  <ul>
    <% if local_assigns[:attachments].present? -%>
      <%=
        render :partial => '/attachments/display-media',
        :locals => {
          :size => :medium,
          :prettyphoto => true,
          :attachments => attachments,
          :contribution => contribution
        }
      %>
    <% end -%>
  </ul>
  <div class="carousel-overlay"></div>
</div>

<div id="contributions-thumbnails" class="carousel">
  <ul>
    <% if local_assigns[:attachments].present? -%>
      <%=
        render :partial => '/attachments/display-media', :locals => {
          :size => :thumbnail,
          :attachments => attachments,
          :thumbnails => true,
          :contribution => contribution
        }
      %>
    <% end -%>
  </ul>
  <div class="carousel-overlay"></div>
</div>

<% if local_assigns[:attachments].present? -%>
  <div id="contributions-pagination">
	  <%= will_paginate(attachments) %>
	  Total: <span id="attachment-total"><%= attachments.total_entries %></span>
  </div>
<% end -%>
