<div id="contributions-featured" class="carousel">
  <ul>
    <% if local_assigns[:attachments].present? -%>
      <%=
        render :partial => 'attachments/display-media',
        :locals => {
          :size => :medium,
          :items => attachments,
          :contribution => contribution
        }
      %>
    <% end -%>
  </ul>
  <div class="carousel-overlay"></div>
</div>

<div id="contributions-thumbnails" class="carousel">
  <ul>
    <% if local_assigns[:attachments].present? -%>
      <%=
        render :partial => 'attachments/display-media', :locals => {
          :size => :thumb,
          :items => attachments,
          :contribution => contribution
        }
      %>
    <% end -%>
  </ul>
  <div class="carousel-overlay"></div>
</div>

<% if local_assigns[:attachments].present? -%>

  <div id="contributions-pagination">
      <% if false %>
      
        Dan: the line 'will_paginate' pulls in the pagination for the search results page.
        I've commented it out (because it doesn't work or look any good here.
        Doesn't all pagination of attachments happen within the media viewer???
      
        <%= will_paginate(attachments) %>
        Total: <span id="attachment-total"><%= attachments.total_entries %></span>

      <% end %>
  </div>
  
<% end -%>
