<%- expires_in = 60.minutes if local_assigns[:expires_in].nil? -%>
<%- locale = I18n.locale if local_assigns[:locale].nil? -%>
<%- cache("explore_by_object_#{locale}", :expires_in => expires_in) do -%>
  
  <ol>
    
    <%- for entry in explore_by_object(locale) -%>
    
      <%- unless entry.blank? -%>
        
        <li>
          
          <%= raw entry.content %>
          
        </li>
        
      <%- end -%>
      
    <%- end -%>
    
  </ol>
  
<% end -%>
