.col-one-third {
	padding: 1%;
}

@media screen and (min-width: 769px) {
	.col-one-third {
		float: left;
		width: 32%;
		border-top: 1px solid #dadada;
		padding: 1% 0 0 0;
		margin: 1% 0;
	}

	.col-one-third:nth-child(1) {
		margin-right: 1%;
	}

	.col-one-third:nth-child(2) {
		margin: 1%;
	}

	.col-one-third:nth-child(3) {
		margin-left: 1%;
	}
}