<div class='section top' style='text-align: center;'>
	<iframe width='960' height='600' style='margin:auto;' scrolling='auto' frameborder='0' allowtransparency='true' src='//remix.europeana.eu'></iframe>
</div>
