.shadow-panel{
	background-color: #FFFFFF;
	border: 1px solid #C9C9C9;
	border-radius: 8px 8px 8px 8px;
}



.caption {
	position:			absolute;
	bottom:				0;
	left:				0;
	width:				100%;
	line-height:		100%;
	background-color:	#000;
	background-color:	rgba(0,0,0,.7);
	color:				#f5f5f5;
	padding:			0.25em;
}

.caption h3 {
	font-size: 100%;
	line-height: 140%;
	margin: 0;
}


@media screen and (min-width: 48em) {
	.europeana-button{
		font-size:				1.2em;
	}
		
	.shadow-panel{
		box-shadow: 3px 3px 4px #C3C3C3;  
	}	
}


