#facets-actions {
  margin-bottom: 1em;
  margin-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;  
}


#facets,
#facets ul{
  margin:	0;
  padding:	0;
}

#facets li {
	list-style:	none outside none
}

#facets h3 {
  border-top: 1px solid #C0C0C0;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding-top: 0.2em;
}

#facets li:first-child h3{
  border-top: none;
}

#facets>li:first-child>span{
  display: block;
}


#facets li h4{
	display:inline;
}

/* Add keyword input / label */


#facets .keywords  input[type="text"] {
	border:				1px solid #A0A0A0;
	border-radius:		0.5em 0 0 0.5em;
	margin-bottom:		1px;
	outline:			none;
	padding:			4px;
}


#facets .keywords{
	padding-bottom:	1em;
}

#facets .keywords span{
	white-space: 	nowrap;
}


#facets .keywords input[type=submit]{
	background-color: blue;
	border: 1px solid blue;
	border-radius: 0 0.5em 0.5em 0;
	box-shadow: none;
	color: white;
	margin-left: 0;
	cursor: pointer;
}
  