

#navigation-mobile-trigger {
	position:		absolute;
	top:			1em;
	right:			0.5em;
	z-index:		1000;
	line-height:	120%;
}

#search-form-wrapper{
	text-align:			center;
	vertical-align:		middle;
	padding-top:		1.5em;
}


.t-logo-search{
	position:		relative;
	top:			4em;
	margin-bottom:	3em;
}	

.td-logo{
	width:	0px;
}	

#logo{
	position:	absolute;
	top:		-1.8em;
}


#logo.landing a,
#logo a {
	display:				block;
	width:					131px;
	height:					70px;
	
	margin-top:				0.25em;
	
	background-image:		url('/themes/v3/images/logos/eew-logo-landscape.png');
	background-size:		contain;
	background-repeat:		no-repeat;
	background-position:	0 0;
}



#navigation-mobile {
	position: absolute;
	top: -4%;
	left: 0;
	width: 98%;
	height: 100%;
	padding: 3% 0 0 2%;
	background-color: #000;
	color: #f5f5f5;
	background-color: rgba( 0,0,0,0.8 );
	list-style: none;
	z-index: 1000;
	display: none;
}





@media screen and (max-width: 30em) {

	#logo a {
		background-image: url('/themes/v2/images/logos/eew-logo-landscape-three-quarter.png');
	}
	
}


@media screen and (min-width: 48em) {

	#navigation-mobile-trigger{
		display:		none;
	}

	.t-logo-search{
		top:			0;
		margin-bottom:	0;
		margin-top:		1em;
	}

	.td-logo{
		width:	auto;
	}
	
	#logo{
		position:	relative;
		top:		0;
	}
	
	#logo a{
		margin-top:				0.75em;
	}
	
	#logo.landing a {
		width:					263px;
		height:					140px;
	}	

}




