@import "partials/base";

.carousel-intro{
	background-color: white;
	
	@include border-radius(0.5em); 
	
	overflow:         hidden;
	padding:          1em;
	z-index:          1;
	
	h4{
		font-size:		1.6em;
		margin-bottom: 1em;
	}
}


.carousel-intro.hide-on-phones{
	margin-left:  1.5em;
	margin-top:   1.5em;
	position:     absolute;
	width:        30%;
	min-width:    32em;
	font-size:	  0.75em;
	line-height:  1.2em;
	
	
}


.index-call-to-action {
	margin:      2em 0 0.5em 0;
	text-align:  center;
	
	.button {
		display:  inline;
		margin:   1em;
	}
	
}

/* main feature */

#index-featured{
	position: relative;
}


/* featured categories */

#featured-categories{
	margin: auto;
	
	 ul{
		list-style: none;
		margin:     0;
		padding:    0;
		position:   relative;
		
		li{
			display: inline-block;
			width:   33%;
			padding: 0 1em 1em 0;
		}
	}

	img, a{	
		border:  0;
		margin:  0;
		padding: 0;
	}
	
	img{
		width:      100%;
		max-width:	235px;
		display:    block;
	}
	
	.subtitle{
		width:              100%;
	    line-height:        100%;
	    background-color:   #000;
	    background-color:   rgba(0,0,0,.7);
	    background-color:	#333;
	    color:              #f5f5f5;
	    
	    @include box-sizing(border-box);
	    
	    padding:            0.5em;		
	}
	
	img,
	.subtitle{
		max-width:	235px;
	}
	
}

	
	
/* recent activity */


.recent-activity{
	bottom:	          0px;
	margin:	          3em 0 0 0;
	padding:	      1.5em;
	right:		      0.25em;
	top:    	      0px;
	border:		      1px solid #d9d9d9;
	background-color: #f2f2f2;
	overflow-y: h;
	.head{
		text-align: center;
	}
	
	ul{
		list-style:   none;
		padding:      0;
		margin:       0;
		overflow-x:   hidden;
	}
	
	li{
		padding:  1.5em 0;
   
	}
	
	li:not(:last-child){
		border-bottom: 1px solid #d9d9d9;
	}	
	
}

.right-col{
	vertical-align:	top;
}


@media only screen and ( min-width: $break-desktop ){

	#featured-categories{
		 ul{
			li{
				width:	50%;
			}
		}
	}


	.recent-activity{
		margin:     0;
		.head{
			height: 10%;
		}
		
		ul{
			max-height:  90%;
			overflow-y:  auto;
		}
	}
	
	.right-col{
		min-width:    21em;
		padding-left: 1em;
	}
}


@media only screen and ( min-width: 68em ){

	.carousel-intro.hide-on-phones{
		font-size:	  0.9em;
		line-height:  1.4em;
		min-width:    45em;
	}

	#featured-categories{
		 ul{
			li{
				width:	33%;
			}
		}
	}

	.right-col{
		min-width:    25em;
	}
}

@media only screen and ( min-width: 75em ){

	.right-col{
		min-width:    30em;
	}
}

@media only screen and ( min-width: 82em ){

	#featured-categories{
		 ul{
			li{
				XXXwidth:	25%;
			}
		}
	}

	.right-col{
		min-width:    40em;
	}
}

