.carousel-intro{
	background-color:	white;
	overflow:			hidden;
	padding:			1em;
	z-index:			1;
		
	.content{
		display:			table;
		height:				100%;
		position:			relative;
		table-layout:		fixed;
	}
	
	h2{
		font-size:	120%;
	}
}


.carousel-intro.hide-on-phones{
	height:				90%;
	margin-left:		4em;
	margin-top:			1.5em;
	position:			absolute;
	width:				30%;
	min-width:			250px;
}


.index-call-to-action {
	margin-bottom:	0.5em;
	text-align:		center;
	
	.button {
		display:	inline;
		margin:		1em;
	}
	
	a:hover {
		color: 0075FF;
	}
}

/* main feature */

#index-featured{
	position:	relative;
}


/* featured categories */

#featured-categories{
	margin:		auto;
	
	 ul{
		list-style:	none;
		padding:	0;
		position:	relative;
	}

	img{
		max-width:	235px;
	}
}
	
	
#featured-categories li{
	margin-bottom:	1em;
}

#featured-categories img{
	display:	block;
}
		
#featured-categories img,
#featured-categories a{
	border:		0;
	margin:		0;
	padding:	0;
}
	
/* recent activity */


.recent-activity{
	position:	relative;
	position:	absolute;
	padding:	1em;
	top:		0px;
	bottom:		0px;
	margin:		1em 1em 1em 0;

	overflow-y:		h;
	.head{
		text-align:	center;
	}
	
	ul{
		list-style:		none;
		padding:		0;
		margin:			0;
		
		max-height:		100%;
		overflow-y:		auto;
		overflow-x:		hidden;
		
	}
	
	li{
		padding:		1em 0;
	}
	
	li :not(:last-child){
		border-bottom:	1px solid #C9C9C9;
	}	
	
}

