@import "partials/base";



.carousel-intro{
	background-color: white;
	
	@include border-radius(0.5em); 
	
	overflow:         hidden;
	z-index:          1;
	
	&.big{
		margin-left:  1.25em;
		margin-top:   1.5em;
		padding:      1.25em 1em;
		position:     absolute;
		width:        42%;
		font-size:	  0.75em;
		line-height:  1.2em;
	}

	&.small{
		padding:      1.25em 0em;
		font-size:	  1em;
	}
		
	h4{
		font-size:	1.4em;
		margin: 	0 0 .7em 0;
	}

	.h-flex-container{
		input{
			font-size:	0.875em;
			margin: 0;
		}
	}

	#q{
		border:           1px solid #cccccc;
		padding:          0.5em;
		background-image: none;
	}	

	a.button,
	input[type=submit]{
		webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset;
		moz-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset;
		ms-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset;
		o-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset;
		box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5) inset;
	}
	
	a.button{
		padding: 0.5em 1.75em;
	}	
}


.big	{display:none  !important;}
.small	{display:block !important;}

@media only screen and ( min-width:	$break-carousel-intro ){
	.big	{display:block			!important;}	
	.small	{display:none !important;}	
}


.section.main{
	margin-top:	2em;
}




.index-call-to-action {
	margin:      2em 0 0.5em -1em;
	text-align:  left;
	
	.button {
		display:  inline;
		margin:   1em 0.25em 1em 1em;
	}	
}



/* main feature */

#index-featured{
	position: relative;
}


/* featured categories */

#featured-categories{

	margin: auto;
	
	 ul{
		list-style: none;
		margin:     0;
		padding:    0;
		position:   relative;
		
		li{
			display: inline-block;
			width:   50%;
		}
		
		.left-on-two{
			padding: 0 0.75em 1.5em 0;
			text-align: left;
		}

		.right-on-two{
			padding: 0 0 1.5em 0.75em;
			text-align: right;
		}
		
	}

	img, a{	
		border:  0;
		margin:  0;
		padding: 0;
	}
	
	img{
		width:          100%;
		max-width:    	235px;
		display:        inline;
		display:	    inline-block;
		vertical-align: bottom;
	}
	
	.subtitle{
		display:			inline-block;
		width:              100%;
	    line-height:        100%;
	    background-color:   #000;
	    background-color:   rgba(0,0,0,.7);
	    background-color:	#333;
	    color:              #f5f5f5;
		text-align:         left;
	    
	    @include box-sizing(border-box);
	    
	    padding:            0.5em;		
	}
	
	img,
	.subtitle{
		max-width:	235px;
	}
	
}

	
	
/* recent activity */


.recent-activity{
	bottom:	          0px;
	margin:	          3em 0 0 0;
	padding:	      1.5em;
	right:		      0.25em;
	top:    	      0px;
	border:		      1px solid #d9d9d9;
	background-color: #f2f2f2;
	overflow-y:       h;

	h3{
		font-size: 1.5em;
		
		small{
			border-bottom: 1px solid #D9D9D9;
			display: block;
			padding-bottom: 1.5em;
			width:	 100%;
		}
	}

	
	.head{
		text-align: center;
	}
	
	ul{
		list-style:   none;
		padding:      0;
		margin:       0;
		overflow-x:   hidden;
		
		li{
			padding:  1.25em 0;
	   
		}
		
		li:not(:last-child){
			border-bottom: 1px solid #d9d9d9;
		}	
	}
}



@media only screen and ( min-width: $break-desktop ){

	#featured-categories{
		float: left;
		width: 68%;		
		ul{
			.left-on-two,
			.right-on-two{
				padding:  0 2.5em 1.25em 0;
			}

			li{
				img,
				.subtitle{
					display:block;
				}
				
			}
			
		}
	}
	
	.recent-activity{
		margin:     0;
		.head{
			height: 10%;
		}
		
		ul{
			max-height:  90%;
			overflow-y:  auto;
		}
	}
	
	.right-col{
		width: 32%;
		float: right;
	}
}




@media only screen and ( min-width: $three-category-cols ){

	#featured-categories ul{
			
		li{
			width: 33%;
			
			img,
			.subtitle{
				display:block;
			}
		}

		.left-on-two,
		.right-on-two{
				padding: 0 2.25em 1.5em 0;
		}
		
	}
}

@media only screen and ( min-width: 68em ){

	.carousel-intro.big{
		font-size:	 0.875em;
		line-height: 1.5em;
	}

}



