@import "partials/base";

.location-desc{
	margin-top:	3em;
}


.add-tags{
	margin-top:	3em;
	
	textarea:{
		width:	100%;
	}
	
}

.related-content > h3{
	border-bottom: 1px solid #e4e4e4;
}

.one-half-right,
.one-half-left{
	@include box-sizing(border-box);
	width:	50%;
}
 
.one-half-right {
	float:			right;
	padding-left:	1em;
}

.one-half-left {
	float:			left;
	padding-right:	1em;
}

.img-panel,
.panel{
	background-color:	#F2F2F2;
	border:				1px solid #D9D9D9;
	padding:			1em;
}

.img-panel{
	text-align:			center;
}

.dcTitle{
	font-size:		1.4em;
	margin-bottom:	0.75em;
}

.subtitle{
	background-color:	#333333;
	color:				#FFF;
	padding:			0.5em;
	text-align:			center;
	margin-top:			1em;
	margin-bottom:		1em;	
}

.subtext{
	font-size:			0.75em;
	position:			relative;
	top:				-0.75em;
}

.meta ul{
	list-style: none;
	margin:		0;
	padding:	0;
}

.title{
	font-weight: bold;
}

/* map controls styling */
#map-container{
	margin: 1em 0;
	position: relative;	
}

#map{
	height: 40em;
	width:  100%;
}

#europeana-ctrls {
  color: #E3D6B6;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

#layer-ctrl span {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #888888;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #000000;
  cursor: pointer;
  float: right;
  margin-left: 1em;
  padding: 0.5em;
}


@media only screen and ( min-width: $break-desktop ){

	.location-desc,
	.add-tags{
		margin-top:	2em;
	}

}