

.nav-top{
	border-bottom:	1px solid #DADADA;
	padding:		0.25em;
}


.location-desc{
	margin-top:	3em;
}


.add-tags{
	margin-top:	3em;
	
	textarea:{
		width:	100%;
	}
	
}

.related-content > h3{
	border-bottom: 1px solid #e4e4e4;
} 

@media screen and (min-width: 48em) {

	.location-desc,
	.add-tags{
		margin-top:	2em;
	}

}