/* Off-Canvas Layout */

.container { width: 100%;overflow: hidden;}

*[role="navigation"],
*[role="main"]{
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;		
	-ms-transition: .2s all ease;
	transition: .2s all ease;		
	
	width:		100%;
	padding:	2em;
	
	display:	block;	
	position:	relative;
}

*[role="navigation"],
*[role="main"]{
	-webkit-transition: .2s display none;
	-moz-transition:    .2s display none;
	-o-transition:      .2s display none;		
	-ms-transition:     .2s display none;
	transition:         .2s display none;		
}


.js [role="navigation"]{	
	margin-left: -100%;
	float: left;
	z-index: 2;
	height:0px;
}


.active-nav [role="navigation"]{	
	margin-left: 0;	
	width: 80%;
	height:auto;
}


.js [role="main"]{
	margin-left: 0;
	float:       left;
	z-index:     1;
}

.active-nav [role="main"]{
	margin-right: -100%;
}

.active-sidebar [role="navigation"] {	
	margin-left: -200%;
}
.active-sidebar [role="main"] {
	margin-left: -90%;	
}

.active-nav [role="main"] {
	-webkit-transition: .1s all ease;
	-moz-transition:    .1s all ease;
	-o-transition:      .1s all ease;		
	-ms-transition:     .1s all ease;
	transition:         .1s all ease;	
}

/* Off Canvas Navigation */

.off-canvas-navigation {
	width:    100%;
	overflow: hidden;
	display:  block;
}


.off-canvas-navigation ul li.menu-item{
	margin-top: -2em;
	top:		50%;
	position: 	fixed;
	z-index:	3;
	
	transform:			rotate(90deg);
	transform-origin:	left;
}



.menu-button{
	padding:    0.5em 1em;
	font-size:  0.9em;
	background: #333;
	color:      #fff;
	position:	relative;
	top:		-0.25em;
	border-radius:	1em 1em 0 0;
}


a.menu-button:hover{
	text-decoration: none;	
	background: rgba(0,0,0,.35);
	color: #ddd;
}



/* End off-Canvas Layout */




/* Result navigation */

.search-results-navigation {
	clear:				both;
	position:			relative;
	border-bottom:		1px solid #E4E4E4;
}


.result-pagination{
	float:			none;	
	margin:			0;
	width:			100%;
	padding-left:	0;
	display:		table;
	table-layout:	fixed;
	clear:			both;
	position:		relative;
	z-index:		1;
	
	li{
		list-style: 	none;
		display:		table-cell;
		vertical-align:	top;	
	}
	
	.disabled{
		visibility:		hidden;
	}
}




#page {
	outline: medium none !important;
	width: 4em;
	text-align:center;
}

.result-pagination a:focus{
    border-bottom: 1px dotted #4C7ECF;
}

.nav{
	padding:			.25em 0;
	
	box-sizing:			border-box;
	-moz-box-sizing:	border-box;
	-webkit-box-sizing:	border-box;

	display:			inline-table;
	width:				100%;	/* needed for safari */
	
	.eu-menu{
		display:		inline-block;
		border:			1px solid #e4e4e4;
		margin-left:	0.5em;
		padding-left:	0.25em;
		padding-right:	0.25em;
		z-index:		101;
	}
	
	.pagination{
		margin-top:		0;	/* override a .pagination{} rule in all.css */
	}
	
	/* override glow on selected menu item */
	
	.eu-menu.selected span.open-menu,
	.eu-menu.selected .item.active{
		text-shadow:	none !important;
	}
	
	
	.of{
		display:none;
	}
	
	.of-bracket{
		color:#333 !important;	/* fix for strange iphone bug (wanting to color this as a link) */
	}
	
	.of-bracket:before{
		content:'(';
	}
	
	.of-bracket:after{
		content:')';
	}
	
	.of-value{
		display:	block;
	}
	
	.spaced:before{
		content:'';
	}
	
	.spaced:after{
		content:'';
	}
}



.nav>div{
	display:	block;
	text-align:	center;
	width:		100%;
}


.nav>div.menu-wrapper,
.nav>div.pagination{
	white-space:	nowrap;
}

.nav-numbers{
	text-align:		center;
	white-space:	nowrap;
	font-size:		0.75em;
	
	input{	
		font-size:	1em;
		border:		1px solid #E4E4E4;
		text-align:	center;
	}
}




/* data showing / hiding rules */

@media only screen and (min-width: 22em) {

	.nav{
		.of-bracket:before{
			content:'';
		}
	
		.of-bracket:after{
			content:'';
		}
	
		.of,
		.of-value{
			display:inline;
		}
	}
}


/* desktop general */

@media only screen and (min-width: 48em) {

	.nav{
		.spaced:before{
			content:' ';
		}
		
		.spaced:after{
			content:' ';
		}
	}
	
	.result-pagination li{
		vertical-align:	middle;
	}
	
	.jump-to-page{
		margin-top:	0;
	}
	
	
	/* Off-Canvas Layout */
	
	.menu-button {
		display: none;
	}

	.js [role="navigation"] {
		height:auto;	
		width: 1px;
		margin-left: 0;
	}
	
	.js [role="main"] {		
		width: 100%;
	}
		
	#facets{
		width:12em;
	}

	/* min-w buffer*/
	
	.container{
		display: table;
		border-spacing: 1em;
	}

	.js [role="main"],
	.js [role="navigation"] {
		display: table-cell;
		float:   none;
		padding: 0;	
	}
	
	.off-canvas-navigation {
		display: none;		/* even off-screen, table border-spacing messed up by this */
	}
	
	
	/* end min-w buffer*/

	.active-sidebar [role="navigation"] {	
		margin-left: -100%;
	}
	.active-sidebar [role="main"] {
		margin-left: 0;
		width: 60%;
	}	
	
	/* End Off-Canvas Layout */
	
}


@media only screen and (max-width: 55em) {
	.nav>div.show-on-22{
		display:none;
	}
}

@media only screen and (min-width: 55em) {

	.facets-column{
		min-width: 	   20em;
		padding-right: 1em;
	}
	

	.show-on-22{display:table-cell !important;}
	
	.result-pagination{
		float:		right;
		width:		auto;	
		font-size:	1em;
		width:		auto;
	}


	.nav>div{
		display:		table-cell;
		vertical-align:	middle;
	}

	.nav>.menu-wrapper, .nav>.pagination{
		width:1px;
	}

	.nav>.count{
		width:		100%;
		text-align:	center;
	}

	.nav-numbers{	
		font-size:	1em;
		width:		auto;
	}

	.nav>.menu-wrapper{
		text-align:	left;
	}

	.nav>.pagination{
		text-align:	right;
	}
	
	
	/* Off-Canvas Layout */
	
	.container {
		margin:         0 auto;
		border-spacing: 0;
	}
	
	.js [role="navigation"] {
		width: 24%;	
	}

	.js [role="main"] {
		width:       75%;
		margin-left: 1%;
	}

	#facets{
		width:auto;
	}

	/* min-w buffer*/
	
	.container{
		display: block;
	}

	.js [role="main"],
	.js [role="navigation"] {
		display: block;
		float:   left;
	}
	
	/* end min-w buffer*/


	*[role="main"] h1 {
		text-align: center;
	}	
	
	/* End off-canvas layout */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

.search-results-navigation{
	border-bottom:	1px solid #E4E4E4;
	margin-bottom:	1em;
}


.top{
	border-top:	1px solid #E4E4E4; 
}




