<div id="footer">
  <ul class="sitemap">
    <li><a href="/en/about/terms">Terms and conditions</a></li>  
    <li><a href="/en/contact">Contacts</a></li>
    <li><a href="http://www.dnb.de/" title="Deutsche Nationalbibliothek"><img src="/images/DNB_logo.png" alt="Deutsche Nationalbibliothek"></a></li>
    <li><a href="http://www.europeana.eu/portal/" title="Europeana"><img src="/images/europeana_logo_German_landscape.png" alt="Europeana" ></a></li>
  <li><a href="http://www.oucs.ox.ac.uk/ww1lit/gwa" title="Great War Archive at the University of Oxford"><img src="/images/ox_brand.gif" alt="University of Oxford" /></a></li>
    <li class="signoff">co-funded by the European Union <img src="http://www.europeana.eu/portal/images/eu-flag.gif" alt="" /></li>
  </ul>
</div><!-- /#footer -->
