<% if user_signed_in? -%>
<div id="side-nav">
	
	<h3><%= current_user.email %></h3>
	
	<ul>
		<% if user_signed_in? -%>
			<li><%= link_to t('common.links.my_stories'), contributor_dashboard_path %></li>
			<li><%= link_to t('common.links.my_account'), user_account_path %></li>
			<%- if current_user.may_access_admin_area? -%>
				<li><%= link_to t('layout.navigation.admin'), admin_root_path %></li>
			<%- end -%>
		<% end -%>
	</ul>
	
</div>
<% end -%>
