<%
  nav = [
		 [	t('common.menus.main.home'),
		 	home_path,
		 	Proc.new do | link |
		 		current_page?(link)
		 	end
		 ],
		 [	t('common.menus.main.explore'),
		 	page_path('explore'),
		 	Proc.new do | link |
		 		current_page?(link) || (action_name() == 'search') 
		 	end
		 ],
		 [	t('common.menus.main.add'),
		 	(current_user.role.name == 'guest' ? contributor_dashboard_path : new_contribution_path ),
		 	Proc.new do | link |
		 		current_page?(link)
		 	end	 
		 ],
		 [	t('common.menus.main.remix'),
		 	page_path('remix'),
		 	Proc.new do | link |
		 		current_page?(link)
		 	end
		 ]
  ]
  remix_test = '/' + I18n.locale.to_s + '/remix'
-%>


<ul id="navigation-main" class="menu">
  <%- for link in nav -%>
    
    <%- if link[2].call(link[1]) -%>
    
      <li><%= link_to link.first, link[1], { :class => 'selected' } %></li>
        
    <%- elsif remix_test == link[1] -%>
    
      <li><%= link_to link.first, link[1], { :class => 'remix' } %></li>
      
    <%- else -%>
    
      <li><%= link_to link.first, link[1] %></li>
      
    <%- end -%>
    
  <%- end -%>
</ul>
